﻿@model AdminCategoryModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = "AddorUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/wizard")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@Action Category</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "Category", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle", @enctype = "" +
                            "multipart/form-data" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }

                            for (int i = 0; i < Model.Categorylanguagemodellist.Count; i++)
                            {
                                @Html.HiddenFor(x => x.Categorylanguagemodellist[i].Language)
                                <h6>@Model.Categorylanguagemodellist[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.Categorylanguagemodellist[i].CategoryName, new { @class = "form-control required",@placeholder="Please enter category name" })
                                                @Html.ValidationMessageFor(x => x.Categorylanguagemodellist[i].CategoryName)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/stepWizard")
    <script type="text/javascript">
        ActiveMenu("Category")
    </script>
}