﻿@model ViewAllEventModel
@{
    ViewBag.Title = ResponseMessages.Events;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap events eventpage">
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <h2>@ResponseMessages.UpcomingEvent</h2>
                </div>
            </div>
            @if (Model != null)
            {
                <!-- Upcoming Events -->
                if (Model.UpcomingEventList.Count > 0)
                {
                    <div class="events-wrap">
                        <div class="inner">
                            <div data-collection="" class="events-list past-events ">
                                @foreach (var evnt in Model.UpcomingEventList)
                                {
                                    <div class="pod event-pod">
                                        <div class="event-title">
                                            <p class="event-date">
                                                @{
                                                    if (evnt.StartDateTime.ToShortDateString() == evnt.EndDateTIme.ToShortDateString())
                                                    {
                                                        @evnt.StartDateTime.ToString(GlobalConfig.DisplayDateOnlyFormat);
                                                    }
                                                    else
                                                    {
                                                        @(evnt.StartDateTime.ToString("dd MMM"))
                                                        @Html.Raw(" - ")
                                                        @(evnt.EndDateTIme.ToString(GlobalConfig.DisplayDateOnlyFormat));
                                                    }
                                                }

                                            </p>
                                            <h4>
                                                <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})">
                                                    @evnt.Title
                                                </a>
                                            </h4>
                                        </div>
                                        <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})" class="event-img" style="background-image: url(@(GlobalConfig.EventImageUrl+evnt.ImageName));"></a>
                                        <div class="event-text">
                                            <p class="location">
                                                @evnt.Location
                                            </p>
                                            <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})" class="read-more fontawesome-chevron-right">@ResponseMessages.ReadMore</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <!-- Past Events -->
                <div class="events-wrap">
                    <div class="inner">
                        <h3>Past events</h3>
                        <div data-collection="" class="events-list past-events ">
                            @foreach (var evnt in Model.PastEventList)
                            {
                                <div class="pod event-pod">
                                    <div class="event-title">
                                        <p class="event-date">
                                            @{
                                                if (evnt.StartDateTime.ToShortDateString() == evnt.EndDateTIme.ToShortDateString())
                                                {
                                                    @evnt.StartDateTime.ToString(GlobalConfig.DisplayDateOnlyFormat);
                                                }
                                                else
                                                {
                                                    @(evnt.StartDateTime.ToString("dd MMM"))
                                                    @Html.Raw(" - ")
                                                    @(evnt.EndDateTIme.ToString(GlobalConfig.DisplayDateOnlyFormat));
                                                }
                                            }

                                        </p>
                                        <h4>
                                            <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})">
                                                @evnt.Title
                                            </a>
                                        </h4>
                                    </div>
                                    <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})" class="event-img" style="background-image: url(@(GlobalConfig.EventImageUrl+evnt.ImageName));"></a>
                                    <div class="event-text">
                                        <p class="location">
                                            @evnt.Location
                                        </p>
                                        <a href="@Url.RouteUrl("ViewEvent",new { id=evnt.Id,title=evnt.Title.Replace(" ","-")})" class="read-more fontawesome-chevron-right">@ResponseMessages.ReadMore</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</div>
