﻿@model SingleEventViewModel
@{
    ViewBag.Title = ResponseMessages.Events;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap the-future-of-connected-fleets-coventry eventpost ">
    <main>
        <div class="inner">
            <div class="page-content two-col event-post">
                <div class="content-main">
                    <h3>@Model.Title</h3>
                    <div class="body-text">
                        <p>
                            <img style="position: inline; max-width: 99%; max-height: 99%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 3px;" src="@(GlobalConfig.EventImageUrl+Model.ImageName)" >
                        </p>
                        @Html.Raw(Model.Description)
                    </div>
                    <a href="@Url.Action("Index","Event")" class="back fontawesome-chevron-left">@ResponseMessages.Backtoallevents</a>
                </div>
                <div class="content-right">
                    @if (Model.StartDateTime.ToShortDateString() == Model.EndDateTIme.ToShortDateString())
                    {
                        <div class="side-block event-date">
                            <h4>When</h4>
                            <p>
                                <span class="label">Date:</span>
                                <br> @Model.StartDateTime.ToString(GlobalConfig.DisplayDateOnlyFormat)
                            </p>
                            <p>
                                <span class="label">Time:</span>
                                <br> @Model.StartDateTime.ToString(GlobalConfig.DisplayTimeOnlyFormat) – @Model.EndDateTIme.ToString(GlobalConfig.DisplayTimeOnlyFormat)
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="side-block event-date">
                            <h4>When</h4>
                            <p>
                                <span class="label">START:</span>
                                <br> @Model.StartDateTime.ToString(GlobalConfig.DateFormat)
                            </p>
                            <p>
                                <span class="label">END:</span>
                                <br> @Model.EndDateTIme.ToString(GlobalConfig.DateFormat)
                            </p>
                        </div>
                    }
                    <div class="side-block event-location">
                        <h4>Where</h4>
                        <p class="location">
                            @Model.Location
                        </p>
                        <a href="//www.google.com/maps?saddr=My+Location&amp;daddr=@Model.LocationLatitude,@Model.LocationLongitude" class="get-directions entypo-direction" target="_blank">Get directions</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

