﻿@{
    ViewBag.Title = ResponseMessages.BeSafer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap be-safer goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BenefitsOfTelematics</span><span class="line-a"></span><span class="line-b"></span></span>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BeSafer</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.BeSafer</h1>
            <p>
                @ResponseMessages.BeSaferTagline
            </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 18pt;"><span style="font-size: 14pt;">@ResponseMessages.BeSaferDesc1</span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="reduce-risk"> @ResponseMessages.Tackle_driver_safety</h2>
                    <div class="body-text">
                        <p><strong> @ResponseMessages.Reduce_accidents</strong></p>
                        <p>@ResponseMessages.Reduce_accidents_desc</p>
                        <br />
                        <p><strong> @ResponseMessages.Train_risky_drivers</strong></p>
                        <p>@ResponseMessages.Train_risky_drivers_desc</p>
                        <br />
                        <p><strong> @ResponseMessages.Ensure_you_meet</strong></p>
                        <p>@ResponseMessages.Ensure_you_meet_desc</p>
                        <br />
                        <p><strong> @ResponseMessages.protect_your_good</strong></p>
                        <p>@ResponseMessages.protect_your_good_desc</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src=" @Url.Content("~/Files/DefaultImages/driver-safety-overview.jpg")" alt="" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/speeding-analysis-on-laptop.png") />
                </div>                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.keep_your_people_safe</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.keep_your_people_safe_Line1</p><br />
                        <p>@ResponseMessages.keep_your_people_safe_Line2</p>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="the-unseen-advantage-revealed">@ResponseMessages.instant_in_cab_feedback</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.instant_in_cab_feedback_desc</p><br />
                        <ul>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.instant_in_cab_feedback_Line1</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.instant_in_cab_feedback_Line2</span></li>
                            <li style="text-align: left;"><span class="tick">@Html.Raw(ResponseMessages.instant_in_cab_feedback_Line3)</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.instant_in_cab_feedback_Line4</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Files/DefaultImages/lightbar-in-car-new-animated-450px.gif")" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/driver-score-uk.png") />
                </div>
                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.driver_league_tables</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.driver_league_tables_desc</p><br />
                        <br />
                        <ul>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.driver_league_tables_Line1</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.driver_league_tables_Line2</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.driver_league_tables_Line3</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.driver_league_tables_Line4</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.driver_league_tables_Line5</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">

            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
