﻿@{
    ViewBag.Title = ResponseMessages.BoostService;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap be-safer goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BenefitsOfTelematics</span><span class="line-a"></span><span class="line-b"></span></span>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BoostService</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.ServiceExcellenceTag</h1>
            <p>
                @ResponseMessages.ServiceExcellenceTagDesc
            </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 18pt;"><span style="font-size: 14pt;">@ResponseMessages.ServiceExcellenceDesc</span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="reduce-risk"> @ResponseMessages.Service_treamline_operations</h2>
                    <div class="body-text">
                        <p><strong> @ResponseMessages.Service_treamline_operationsLine1</strong></p>
                        <p>@ResponseMessages.Service_treamline_operationsLine1_desc</p>
                        <p><strong> @ResponseMessages.Service_treamline_operationsLine2</strong></p>
                        <p>@ResponseMessages.Service_treamline_operationsLine2_desc</p>
                        <p><strong> @ResponseMessages.Service_treamline_operationsLine3</strong></p>
                        <p>@ResponseMessages.Service_treamline_operationsLine3_desc</p>
                        <p><strong> @ResponseMessages.Service_treamline_operationsLine4</strong></p>
                        <p>@ResponseMessages.Service_treamline_operationsLine4_desc</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src=" @Url.Content("~/Files/DefaultImages/service-customers-faster.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/large-screen-in-office-450-pixel-width.jpg") />
                </div>                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Service_how_tracking_helps</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.Service_how_tracking_helps_desc</p><br />
                        <ul>
                            <li>@ResponseMessages.Service_how_tracking_helps_line1</li>
                            <li>@ResponseMessages.Service_how_tracking_helps_line2</li>
                            <li>@ResponseMessages.Service_how_tracking_helps_line3</li>
                            <li>@ResponseMessages.Service_how_tracking_helps_line4</li>
                            <li>@ResponseMessages.Service_how_tracking_helps_line5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="the-unseen-advantage-revealed">@Html.Raw(ResponseMessages.Service_optimise_routes)</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Service_optimise_routes_line1</p><br />
                        <p style="text-align: left;">@ResponseMessages.Service_optimise_routes_line2</p><br />
                        <ul>
                            <li>@ResponseMessages.Service_optimise_routes_line3</li>
                            <li>@ResponseMessages.Service_optimise_routes_line4</li>
                            <li>@ResponseMessages.Service_optimise_routes_line5</li>
                            <li>@ResponseMessages.Service_optimise_routes_line6</li>
                            <li>@ResponseMessages.Service_optimise_routes_line7</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Files/DefaultImages/optimise-routes-computer.png")" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block main-nav" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/shutterstock_214722625-connect-screens.jpg") />
                </div>
                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Service_API_integration</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Service_API_integration_line1</p><br />
                        <p style="text-align: left;">@ResponseMessages.Service_API_integration_line2</p><br />
                        <br />
                        <ul>
                            <li>@ResponseMessages.Service_API_integration_line3</li>
                            <li>@ResponseMessages.Service_API_integration_line4</li>
                            <li>@ResponseMessages.Service_API_integration_line5</li>
                            <li>@ResponseMessages.Service_API_integration_line6</li>
                            <li>@ResponseMessages.Service_API_integration_line7</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


