﻿@{
    ViewBag.Title = ResponseMessages.BoostService;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap be-safer goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BenefitsOfTelematics</span><span class="line-a"></span><span class="line-b"></span></span>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BoostService</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.GoGreener</h1>
            <p>
                @ResponseMessages.ServiceExcellenceTagDesc
            </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 18pt;"><span style="font-size: 14pt;">@ResponseMessages.ServiceExcellenceDesc</span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="reduce-risk"> @ResponseMessages.Gogreener_Reduce_your_emissions</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.Gogreener_Reduce_your_emissionsLine1</p><br />
                        <p>@ResponseMessages.Gogreener_Reduce_your_emissionsLine2</p><br />
                        <p>@ResponseMessages.Gogreener_Reduce_your_emissionsLine3</p><br />
                        <ul>
                            <li>@ResponseMessages.Gogreener_Reduce_your_emissionsLine4</li>
                            <li>@ResponseMessages.Gogreener_Reduce_your_emissionsLine5</li>
                            <li>@ResponseMessages.Gogreener_Reduce_your_emissionsLine6</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src=" @Url.Content("~/Files/DefaultImages/shutterstock_488214403-450x350px.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-blue" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/fors.png") />
                </div>
                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Gogreener_get_FORS</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Gogreener_get_FORSLine1</p><br />
                        <p style="text-align: left;">@ResponseMessages.Gogreener_get_FORSLine2</p><br />
                        <p style="text-align: left;">@ResponseMessages.Gogreener_get_FORSLine3</p><br />
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="//www.fors-online.org.uk/cms/" target="_blank" class="btn-primary large blue">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                
                <div class="block-text left">
                   
                    <h2 id="the-unseen-advantage-revealed"> @Html.Raw(ResponseMessages.Service_optimise_routes)</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Service_optimise_routes_line1</p><br />
                        <p style="text-align: left;">@ResponseMessages.Service_optimise_routes_line2</p><br />
                        <ul>
                            <li>@ResponseMessages.Service_optimise_routes_line3</li>
                            <li>@ResponseMessages.Service_optimise_routes_line4</li>
                            <li>@ResponseMessages.Service_optimise_routes_line5</li>
                            <li>@ResponseMessages.Service_optimise_routes_line6</li>
                            <li>@ResponseMessages.Service_optimise_routes_line7</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Files/DefaultImages/csr-uk.jpg")" />
                </div>
            </div>
        </div>
        @*<div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/large-screen-in-office-450-pixel-width.jpg") />
                </div>                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Gogreener_measurable_free</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.Gogreener_measurable_freeLine1</p><br />
                        <p>@ResponseMessages.Gogreener_measurable_freeLine2</p><br />
                        <p>@ResponseMessages.Gogreener_measurable_freeLine3</p><br />
                    </div>
                </div>
            </div>
        </div>*@
        <div class="content-block m-white" data-waypoint="7">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

