﻿
@{
    ViewBag.Title = ResponseMessages.BenefitsOfTelematics;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap benefits-of-telematics productlistpage products">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BenefitsOfTelematics</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.BenefitsOfTelematicsTag</h1>
            <p>@ResponseMessages.BenefitsOfTelematicsTagDesc</p>
        </div>
    </section>
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <p><span style="font-size: 14pt;">@ResponseMessages.BenefitsOfTelematicsTagDescLong</span></p>
                </div>

            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="2">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="safety-">@ResponseMessages.Safety </h2>
                    <div class="body-text">
                        <p>@ResponseMessages.BenefitsOfTelematicsSafetyDesc</p><br />
                        <p><strong>@ResponseMessages.SafetyLine1</strong><br />@ResponseMessages.SafetyLine1Desc</p>
                        <p><strong>@ResponseMessages.SafetyLine2</strong><br />@ResponseMessages.SafetyLine2Desc</p>
                        <p><strong>@ResponseMessages.SafetyLine3</strong><br />@ResponseMessages.SafetyLine3Desc</p>
                        <p><strong>@ResponseMessages.SafetyLine4</strong><br />@ResponseMessages.SafetyLine4Desc</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("be-safer","benefits-of-telematics")" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/your-goals-safety.jpg")" alt="Masternaut Benefits of Telematics - Road Safety Icon" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">

                    <img src="@Url.Content("~/Content/Images/your-goals-savings.jpg")" alt="Masternaut Benefits of Telematics - Savings Icon" />
                </div>                <div class="block-text right">
                    <h2 id="savings">@ResponseMessages.Savings</h2>
                    <div class="body-text">
                        p>@ResponseMessages.BenefitsOfTelematicsSavingsDesc</p><br />
                        <p><strong>@ResponseMessages.SavingsLine1</strong><br />@ResponseMessages.SavingsLine1Desc</p>
                        <p><strong>@ResponseMessages.SavingsLine2</strong><br />@ResponseMessages.SavingsLine2Desc</p>
                        <p><strong>@ResponseMessages.SavingsLine3</strong><br />@ResponseMessages.SavingsLine3Desc</p>
                        <p><strong>@ResponseMessages.SavingsLine4</strong><br />@ResponseMessages.SavingsLine4Desc</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("save-more","benefits-of-telematics")" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="service-excellence">@ResponseMessages.ServiceExcellence</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.BenefitsOfTelematicsServicesDesc</p><br />

                        <p><strong>@ResponseMessages.ServiceExcellenceLine1</strong><br />@ResponseMessages.ServiceExcellenceLine1Desc</p>
                        <p><strong>@ResponseMessages.ServiceExcellenceLine2</strong><br />@ResponseMessages.ServiceExcellenceLine2Desc</p>
                        <p><strong>@ResponseMessages.ServiceExcellenceLine3</strong><br />@ResponseMessages.ServiceExcellenceLine3Desc</p>
                        <p><strong>@ResponseMessages.ServiceExcellenceLine4</strong><br />@ResponseMessages.ServiceExcellenceLine4Desc</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("boost-service","benefits-of-telematics")" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/your-goals-service-excellence.jpg")" alt="masternaut-service-excellence-icon" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/your-goals-sustainability.jpg")" alt="masternaut-sustsainability" />
                </div>               
                <div class="block-text right">
                    <h2 id="sustainability">  @ResponseMessages.Sustainability</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.BenefitsOfTelematicsSustainabilityDesc</p><br />
                        <p><strong>@ResponseMessages.SustainabilityLine1</strong><br />@ResponseMessages.SustainabilityLine1Desc</p>
                        <p><strong>@ResponseMessages.SustainabilityLine2</strong><br />@ResponseMessages.SustainabilityLine2Desc</p>
                        <p><strong>@ResponseMessages.SustainabilityLine3</strong><br />@ResponseMessages.SustainabilityLine3Desc</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="go-greener/index.html" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="8">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
