﻿@{
    ViewBag.Title = ResponseMessages.SaveMore;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap be-safer goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.BenefitsOfTelematics</span><span class="line-a"></span><span class="line-b"></span></span>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.SaveMore</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.Savings</h1>
            <p>
                @ResponseMessages.Savings_tagline
            </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 18pt;"><span style="font-size: 14pt;">@ResponseMessages.Savings_tagline_desc</span> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="reduce-risk"> @ResponseMessages.Saving_improve_fleet_savings</h2>
                    <div class="body-text">
                        <p><strong> @ResponseMessages.Saving_improve_fleet_savingsLine1</strong></p>
                        <p>@ResponseMessages.Saving_improve_fleet_savingsLine1_desc</p>
                        <br />
                        @*<p><strong> @ResponseMessages.Saving_improve_fleet_savingsLine2</strong></p>
                        <p>@ResponseMessages.Saving_improve_fleet_savingsLine2_desc</p>*@
                        <br />
                        <p><strong> @ResponseMessages.Saving_improve_fleet_savingsLine3</strong></p>
                        <p>@ResponseMessages.Saving_improve_fleet_savingsLine3_desc</p>
                        <br />
                        <p><strong> @ResponseMessages.Saving_improve_fleet_savingsLine4</strong></p>
                        <p>@ResponseMessages.Saving_improve_fleet_savingsLine4_desc</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src=" @Url.Content("~/Files/DefaultImages/improve-fleet-savings.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/savings-piggy-bank.jpg") />
                </div>                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Honest_factual_savings</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.Honest_factual_savings_desc</p><br />
                        <p><strong>@ResponseMessages.Honest_factual_savings_Line1</strong></p><br />
                        <ul>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Honest_factual_savings_Line2</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Honest_factual_savings_Line3</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Honest_factual_savings_Line4</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Honest_factual_savings_Line5</span></li>
                        </ul>
                        <p>@ResponseMessages.Honest_factual_savings_Line_desc</p><br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="the-unseen-advantage-revealed">@ResponseMessages.Identify_fuel_waste_increase_efficiency</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Identify_fuel_waste_increase_efficiency_desc</p><br />
                        <ul>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Identify_fuel_waste_increase_efficiencyLine1</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Identify_fuel_waste_increase_efficiencyLine2</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Identify_fuel_waste_increase_efficiencyLine3</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Files/DefaultImages/filling-a-car-with-fuel.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src=@Url.Content("~/Files/DefaultImages/timesheet-on-screen-2.png") />
                </div>
                <div class="block-text right">
                    <h2 id="reduce-speeding">@ResponseMessages.Verify_timesheets_overtime</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.Verify_timesheets_overtimeLine1</p><br />
                        <p style="text-align: left;">@ResponseMessages.Verify_timesheets_overtimeLine2</p><br />
                        <ul>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine2</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine3</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine4</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine5</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine6</span></li>
                            <li style="text-align: left;"><span class="tick">@ResponseMessages.Verify_timesheets_overtimeLine7</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
