﻿@{
    ViewBag.Title = ResponseMessages.Customer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .logo {
        box-shadow: 2px 4px 5px 0 rgba(0,0,0,.34);
    }
</style>
<div class="main-wrap partner-offers logopage customers">
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <h1>@ResponseMessages.CustomersTag</h1>
                    <div class="body-text">
                        <p><span style="color: #00447b;"><span style="font-size: 18.6667px;">@ResponseMessages.CustomersTag_desc</span></span></p>
                    </div>
                    <div class="logos">
                        <div class="inner">
                            <ul>
                                <li class="logo">
                                    <a href="http://www.masternaut.com/case-studies/balfour-beatty-fleet-services/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/balfour-beatty-logo.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.barclays.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/barclays.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://masternaut.be/case-studies/britvic/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/britvic.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.colas.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/colas.jpg"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.currie-european.com/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/currie-european.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.finning.com/en_GB.html?intcid=finning.co.uk" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/finning.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.fraikin.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/fraikin.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.indesit.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/indesit.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.issworld.com/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/iss.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.lanesfordrains.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/lanes.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.graftongb.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/logo-grafton-merchanting-gb.jpg"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.kier.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/may-guerney.jpg"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.mitie.com/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/mitie.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.cormacltd.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/offical-cormac-logo-cmyk.jpg"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.masternaut.com/case-studies/premier-waste/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/premier-waste-recycling-logo.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://my.stirling.gov.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/stirling-council.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.scottishwater.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/scottish-water.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.sunwin.co.uk/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/sunwin-services-group.jpg"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="http://www.tnt.com/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/tnt.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="https://www.unitedutilities.com/" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/unitied-utilities.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="#" class="logo-img" target="_blank" style="background-image: url(@Url.Content("~/Content/Images/Company/wolseley.png"));"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



