﻿@model CustomerStoriesViewModel
@{
    ViewBag.Title = ResponseMessages.CustomerStories;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap case-studies casestudiespage ">
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <h1>@ResponseMessages.CustomerStories</h1>
                    <div class="refine clearfix">
                        <p>@ResponseMessages.RefineYourSelection</p>
                        <div class="filter industry-type">
                            <label>@ResponseMessages.IndustryType</label>
                            <div class="dropdown">
                                <a href="#" class="dropdown-arrow"></a>
                                <p class="selected">@ResponseMessages.All</p>
                                <ul class="dropdown-list">
                                    <li class="option" data-type="all">
                                        <a href="#">
                                            <span class="value">@ResponseMessages.All</span><span class="count">(@(Model.Stories.Count > 0 ? Model.Stories.Count : 0))</span>
                                        </a>
                                    </li>
                                    @if (Model != null)
                                    {
                                        if (Model.IndustryType != null)
                                        {
                                            if (Model.IndustryType.Count > 0)
                                            {
                                                foreach (var type in Model.IndustryType)
                                                {
                                                    <li class="option" data-type="type-@type.Id"><a href="stories1-@type.Id"><span class="value">@type.Title</span>  <span class="count">( @type.Count )</span></a></li>
                                                }
                                            }
                                        }

                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main>
        <div class="inner">
            <div class="case-studies-page">
                <div class="inner">
                    <ul id="case-study-posts" class="content-pods case-study-posts">
                        @if (Model != null)
                        {
                            if (Model.IndustryType != null)
                            {
                                if (Model.IndustryType.Count > 0)
                                {
                                    foreach (var stories in Model.Stories)
                                    {
                                        <li data-id="stories-@stories.Id" class="case-study pod type-@stories.IndustryTypeId">
                                            <div class="pod-inner">
                                                <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="pod-img" style="background-image:url(@(GlobalConfig.StoriesImageUrl+stories.ImageName));">
                                                </a>
                                                <div class="pod-text">
                                                    <h4>@stories.Title</h4>
                                                    <div class="inner-text">
                                                        <p>@Html.Raw(stories.Description)</p>
                                                    </div>
                                                    <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="btn-primary standard large green">
                                                        @ResponseMessages.ReadMore
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
    </main>
</div>