﻿@model SingleStoriesViewModel
@{
    ViewBag.Title = ResponseMessages.CustomerStories;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap air-products casestudypageen ">
    <main>
        <div class="inner">
            <div class="page-content two-col">
                <div class="inner">
                    @if (Model != null)
                    {
                    <div class="content-main">
                        <h1>@Model.Title</h1>
                        <div class="body-text">
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    }
                    <div class="content-right">
                        <h4>Related customer stories</h4>
                        @if (Model != null)
                        {
                            if (Model.RelatedStories.Count > 0)
                            {
                                foreach (var stories in Model.RelatedStories)
                                {
                                    <div class="item">
                                        <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="item-img"
                                           style="background-image:url(@(GlobalConfig.StoriesImageUrl+stories.ImageName ));">
                                        </a>
                                        <div class="item-content">
                                            <h5>@stories.Title</h5>
                                            <br />
                                            <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="btn-primary standard green">@ResponseMessages.ReadMore</a><br><br>
                                        </div>
                                    </div>
                                }
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>