﻿@{
    ViewBag.Title = ResponseMessages.AboutUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.AboutUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>À propos de nous</h1>
            <p>Plus de 10 000 entreprises nous font confiance</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut est le premier fournisseur de solutions télématiques en Europe. Fondée en 1996, l'entreprise emploie plus de 300 spécialistes de la télématique, compte plus de 10 000 clients.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-dashboard.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Solution tout-en-un</h2>
                    <div class="body-text">
                        <p>Laissez-nous vous aider à optimiser votre flotte.</p><br />
                        <p>Leader dans les solutions télématiques, nous avons plus de 20 ans d’expertise dans la fourniture de solutions de géolocalisation et suivi de flotte de véhicule d’entreprise.</p><br />
                        <p>Notre plateforme logicielle innovante et notre technologie brevetée sont leaders sur le marché.</p><br />
                        <p>
                            Disposant du plus grand centre Européen de recherche et développement, et d’une équipe de plus de 150 conseillers et experts en France et au Royaume-Uni, nous pouvons vous aider à optimiser votre flotte.
                        </p><br />
                        <p>Plus de 10 000 entreprises nous ont déjà faits confiance - pourquoi pas vous ?</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <div class="body-text">
                        <p>
                            Masternaut change d’actionnaire suite à son acquisition par la joint-venture entre le fond d'investissement Summit Partners et FLEETCOR Technologies, Inc (NYSE: FLT). En Europe, FleetCor détient CCS, un fournisseur de solutions télématiques ainsi que Telenav et NexTraq en Amérique du Nord. FleetCor possède également à son actif des marques telles que;<a href="http://www.keyfuels.co.uk/home.aspx" target="_blank" title="Key Fuels">Key Fuels</a>, <a href="https://www.allstarcard.co.uk/" target="_blank" title="AllStars">AllStars</a>, <a href="http://www.thefuelcardcompany.co.uk/" target="_blank" title="The Fuel Card Compay">The Fuel Card Company</a> et  <a href="http://www.epyx.co.uk/" target="_blank" title="Epyx">Epyx</a>.
                        </p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="http://www.fleetcor.com" target="_blank" class="btn-primary large standard green">
                                Savoir plus fleetcor
                            </a>
                        </li>
                        <li>
                            <a href="https://www.summitpartners.com" target="_blank" class="btn-primary large standard green">
                                Savoir plus summit
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-owned-by-fleetcor-and-summit-partners.png")" />

                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="4">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
