﻿@{
    ViewBag.Title = ResponseMessages.AboutUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.AboutUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>Over ons</h1>
            <p>Meer dan 10 000 bedrijven hebben vertrouwen in ons</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut is de nummer 1 leverancier van telematicaoplossingen in Europa. Het bedrijf opgericht in 1996 telt meer dan 300 telematicaspecialisten en meer dan 10 000 klanten.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-dashboard.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">We helpen u bij de optimalisatie van uw wagenpark</h2>
                    <div class="body-text">
                        <p>Masternaut is de leider op het domein van telematicaoplossingen met meer dan 20 jaar deskundigheid als leverancier van geolokalisatieoplossingen en systemen voor de opvolging van wagenparken.</p><br />
                        <p>Ons innoverende softwareplatform en onze gepatenteerde technologie zijn marktleiders.</p><br />
                        <p>Met het grootste onderzoeks- en ontwikkelingscentrum binnen Europa en een team van meer dan 150 specialisten in Frankrijk en het Verenigd Koninkrijk, kunnen we u helpen bij de optimalisatie van uw wagenpark.</p><br />
                        <p>
                            Meer dan 10 000 bedrijven hebben reeds vertrouwen in ons - en u ?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="more-about-masternaut">Meer over Masternaut</h2>
                    <div class="body-text">
                        <p>Nieuwe aandeelhouder van Masternaut als gevolg van de joint-venture tussen het beleggingsfonds Summit Partners en FLEETCOR Technologies, Inc (NYSE: FLT). FleetCor is de eigenaar van CCS (Europa), leverancier van telematicaoplossingen, alsook Telenav en NexTraq (Noord-America). FleetCor is eveneens eigenaar van merknamen als <a href="http://www.keyfuels.co.uk/home.aspx" target="_blank" title="Key Fuels">Key Fuels</a>, <a href="https://www.allstarcard.co.uk/" target="_blank" title="AllStars">AllStars</a>, <a href="http://www.thefuelcardcompany.co.uk/" target="_blank" title="The Fuel Card Compay">The Fuel Card Company</a> and <a href="http://www.epyx.co.uk/" target="_blank" title="Epyx">en</a>.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="http://www.fleetcor.com" target="_blank" class="btn-primary large standard green">
                                Meer weten fleetcor
                            </a>
                        </li>
                        <li>
                            <a href="https://www.summitpartners.com" target="_blank" class="btn-primary large standard green">
                                Meer weten summit
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-owned-by-fleetcor-and-summit-partners.png")" />

                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="4">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

