﻿@{
    ViewBag.Title = ResponseMessages.AboutUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.AboutUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.AboutUs</h1>
            <p>over 10,000 businesses trust Masternaut</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut is one of Europe’s largest providers of telematics solutions. Founded in 1996, the company now employees over 300 telematics specialists and has more than 10,000 customers.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-dashboard.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">let us help you run a smarter fleet</h2>
                    <div class="body-text">
                        <p>As a pioneer of the telematics industry, we have over 20 years’ experience in providing vehicle tracking solutions to businesses like yours.</p><br />
                        <p>Our innovative software platform and patented technology lead the market.</p><br />
                        <p>With the biggest R&D team in Europe and over 150 customer-facing staff in the UK and France, we are always on hand to help you run a smarter fleet.</p><br />
                        <p>
                            Over 10,000 businesses trust us already - why not you?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <div class="body-text">
                        <p>Masternaut is ultimately owned by a joint venture between growth equity investors Summit Partners and FleetCor Technologies, Inc. (NYSE: FLT). In Europe, FleetCor owns CCS, a telematics company, along with both Telenav and NexTraq. FleetCor also owns brands such as; <a href="http://www.keyfuels.co.uk/home.aspx" target="_blank" title="Key Fuels">Key Fuels</a>, <a href="https://www.allstarcard.co.uk/" target="_blank" title="AllStars">AllStars</a>, <a href="http://www.thefuelcardcompany.co.uk/" target="_blank" title="The Fuel Card Compay">The Fuel Card Company</a> and <a href="http://www.epyx.co.uk/" target="_blank" title="Epyx">Epyx</a>.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="http://www.fleetcor.com" target="_blank" class="btn-primary large standard green">
                                Read more about fleetcor
                            </a>
                        </li>
                        <li>
                            <a href="https://www.summitpartners.com" target="_blank" class="btn-primary large standard green">
                                Read more about summit
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-owned-by-fleetcor-and-summit-partners.png")" />

                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="4">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
