﻿@model JobApplyModel
@{
    ViewBag.Title = ResponseMessages.Careers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dropdown-list {
        display: block;
    }

    .uploadcv {
    }
</style>
<div class="main-wrap careers careerspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.Careers</span><span class="line-a"></span><span class="line-b"></span></span>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.Careers</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.Careers</h1>
            <p>
                @ResponseMessages.CareersTagline
            </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>
                            <span style="font-size: 14pt;">@ResponseMessages.CareersDescLine1</span><br /> <br />
                            <span style="font-size: 14pt;">@ResponseMessages.CareersDescLine2</span><br /> <br />
                            <span style="font-size: 14pt;">@ResponseMessages.CareersDescLine3</span><br /> <br />
                            <span style="font-size: 14pt;">@ResponseMessages.CareersDescLine4</span><br /> <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="inner">
            <div class="vacancies">
                <div class="inner">
                    <h3>@ResponseMessages.CareerrApplyFortheJob</h3>
                    <div class="divErrorSubmit" style="color:#051e41;font-size:x-large" align="center"></div>
                    <br />
                    <div class="apply">
                        <div class="contour jobapplicationen">
                            @using (Html.BeginForm("SaveJobApply", "Utility", FormMethod.Post, new
                            {
                                @id = "submitForm",
                                @enctype = "" + "multipart/form-data"
                            }))
                            {
                                <div class="contourPage">
                                    <fieldset class="contourFieldSet" id="db1eaadd-6653-4b17-bc05-a73f8fd04c55">
                                        <div class="row-fluid">
                                            <div class="span12 col-md-12">
                                                <div class="contourField name perplextextfield mandatory">
                                                    <label for="2042300d-7950-4bcc-e08d-ae304f48e0c6" class="fieldLabel">
                                                        @ResponseMessages.Name
                                                        <span class="contourIndicator">*</span>
                                                    </label>
                                                    <div>
                                                        @Html.TextBoxFor(x => x.Name, new { @class = "text" })
                                                        @Html.ValidationMessageFor(x => x.Name)
                                                    </div>
                                                </div>
                                                <div class="contourField emailaddress perplextextfield mandatory alternating">
                                                    <label for="af64a552-ab1b-464b-baf7-bc9cd162269e" class="fieldLabel">
                                                        @ResponseMessages.Email
                                                        <span class="contourIndicator">*</span>
                                                    </label>

                                                    <div>
                                                        @Html.TextBoxFor(x => x.Email, new { @class = "text" })
                                                        @Html.ValidationMessageFor(x => x.Email)
                                                    </div>
                                                </div>
                                                <div class="contourField jobappliedfor dropdown mandatory">
                                                    <label class="fieldLabel">
                                                        @ResponseMessages.Jobappliedfor
                                                        <span class="contourIndicator">*</span>
                                                    </label>
                                                    <div>
                                                        @Html.DropDownListFor(x => x.JobappliedFor, new SelectList(ViewData["JobForlist"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Applied", new { @class = "dropdown-list" })
                                                        <span class="field-validation-valid" data-valmsg-for="e27eb5bb-f5ab-4588-bec5-b7c17951c7c2" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                                <div class="contourField uploadcv perplexfileupload mandatory alternating">

                                                    <label for="bdab97ff-8a82-4971-e65c-a263beff7f93" class="fieldLabel">
                                                        @ResponseMessages.UploadCV
                                                        <span class="contourIndicator">*</span>
                                                    </label>
                                                    <div>
                                                        <div class="upload-file">
                                                            <span class="btn-primary standard green">@ResponseMessages.Browse</span>
                                                            <input id="uploadFile" placeholder="@ResponseMessages.ChooseFile" disabled="" class="placeholder valid" aria-invalid="false">
                                                            <input type="file" name="bdab97ff-8a82-4971-e65c-a263beff7f93" id="bdab97ff-8a82-4971-e65c-a263beff7f93" data-val="true" data-val-required="Please upload your CV.">
                                                        </div>
                                                        <span class="field-validation-valid" data-valmsg-for="bdab97ff-8a82-4971-e65c-a263beff7f93" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="contourNavigation row-fluid">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn-primary standard x-large green" value="@ResponseMessages.Submit" name="submitbtn" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

