﻿@{
    ViewBag.Title = ResponseMessages.Disclaimer;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap disclaimer textpage ">
    <main>
        <div class="inner">
            <div class="page-content two-col blog">
                <div class="content-main">
                    <h1>Telematics Website - Disclaimer</h1>
                    <div class="body-text">
                        <p>Masternaut Telematics Website Disclaimer</p>
                        <p>1.GEBRUIK VAN DE WEBSITE</p>
                        <p>1.1 U mag onze website gebruiken voor uw eigen doeleinden en om materiaal van deze website af te drukken en te downloaden, op voorwaarde dat u geen inhoud wijzigt zonder onze toestemming. Materiaal op deze website mag niet online of offline opnieuw worden gepubliceerd zonder onze toestemming.</p>
                        <p>
                            1.2 Het copyright en andere intellectuele eigendomsrechten op alle materiaal op deze website zijn eigendom van ons of onze licentiegevers en mogen niet worden gereproduceerd zonder onze voorafgaande toestemming.
                        </p>
                        <p>1.3 Onder voorbehoud van paragraaf 1.1 mag geen enkel deel van deze website worden gereproduceerd zonder onze voorafgaande schriftelijke toestemming.</p>
                        <p>2. BEZOEKERSGEDRAG</p>
                        <p>
                            2.1 Met uitzondering van persoonlijk identificeerbare informatie, zal materiaal dat wordt verzonden of gepost op deze website als niet-gepatenteerd en niet vertrouwelijk worden beschouwd. Tenzij u het tegendeel adviseert, zijn wij vrij om dergelijk materiaal voor alle doeleinden te kopiëren, bekend te maken, te verspreiden, op te nemen en anderszins te gebruiken.
                        </p>
                        <p>2.2 Wanneer u deze website gebruikt, zult u geen materiaal plaatsen of verzenden naar welke website dan ook waarvoor u niet alle noodzakelijke toestemmingen heeft verkregen, discriminerend, obsceen, pornografisch, lasterlijk, en aanleiding kan geven tot rassenhaat, in strijd met de vertrouwelijkheid of privacy, die ergernis of ongemak voor anderen kunnen veroorzaken, wat gedrag aanmoedigt of definieert dat als een strafbaar feit zou worden beschouwd, aanleiding zou geven tot een civielrechtelijke aansprakelijkheid, of anderszins in strijd is met de wet in het Verenigd Koninkrijk.</p>
                        <p>
                            3.  SITE UPTIME
                        </p>
                        <p>3.1 We ondernemen alle redelijke stappen om ervoor te zorgen dat deze website 24 uur per dag, 365 dagen per jaar beschikbaar is. Op websites komen echter soms downtime voor vanwege de server en andere technische problemen. Daarom zijn wij niet aansprakelijk als deze website op enig moment niet beschikbaar is.</p>
                        <p>
                            4. LINKS NAAR EN VAN ANDERE WEBSITES
                        </p>
                        <p>4.1 Koppelingen naar websites van derden op deze website worden uitsluitend voor uw gemak verstrekt. We hebben de websites van derden niet gecontroleerd en zijn niet verantwoordelijk voor dergelijke websites van derden of hun inhoud.</p>
                        <p>4.2 Als u een link naar deze website wilt maken, mag u dit alleen doen op basis van het feit dat u een koppeling maakt naar, maar niet repliceert op pagina's van deze website en dat u op geen enkele manier impliceert dat we services of producten ondersteunen. tenzij dit specifiek met ons is overeengekomen.</p>
                        <p>4.3 Als u ervoor kiest om in strijd met Paragraaf 4.2 naar onze website te linken, zult u ons volledig schadeloos stellen voor alle verlies of schade geleden als gevolg van uw acties.</p>
                        <p>5. UITSLUITING VAN AANSPRAKELIJKHEID</p>
                        <p>
                            5.1 Wij ondernemen alle redelijke stappen om ervoor te zorgen dat de informatie op deze website correct is. We kunnen echter niet instaan voor de juistheid of volledigheid van het materiaal op deze website. Noch wij, noch enige andere partij (al dan niet betrokken bij het produceren, onderhouden of leveren van deze website), is aansprakelijk of verantwoordelijk voor enige vorm van verlies of schade die kan resulteren in u of een derde partij als gevolg van uw of hun gebruik. van onze website. Deze uitsluiting omvat onderhouds- of reparatiekosten en, zonder beperking, enige andere directe, indirecte of gevolgschade.
                        </p>
                        <p>6. WET EN JURISDICTIE</p>
                        <p>
                            Deze juridische kennisgeving wordt beheerst door en geïnterpreteerd in overeenstemming met de Engelse wetgeving. Alle geschillen in verband met deze juridische mededeling zijn onderworpen aan de exclusieve jurisdictie van de Engelse rechtbanken.
                        </p>
                        <p>7. ONZE DETAILS</p>
                        <p>
                            Bedrijf:  Eureca Mobile Masternaut<br />
                            Statutaire zetel: Av Pasteur 23, 1300 Wavre, België
                            <br />Geregistreerd nummer: BE0865.683.329
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

