﻿@{
    ViewBag.Title = ResponseMessages.HowOurTechnologyWork;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+" new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.HowOurTechnologyWork</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.HowOurTechnologyWork</h1>
            <p>Telematicaoplossingen voor wagenparken van bedrijven</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Ons “Connect” platform is de leider op de telematicamarkt en verwerkt dagelijks honderden miljoenen gegevens om u precieze gegevens in real time te kunnen geven.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics-overview.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Opvolging</h2>
                    <div class="body-text">
                        <p>Positiemeldingen van ieder(e) voertuig, trailer of machine worden op regelmatige tijdstippen opgehaald via een GPS-toestel dat de geolokalisatie ervan berekend vanuit het GPS-satellietnetwerk.</p><br />
                        <p>Vervolgens wordt deze info via het GPRS-netwerk doorgegeven.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-software.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Betrouwbaarheid van ons platform</h2>
                    <div class="body-text">
                        <p>Met onze technologie is de strategische ontwikkeling van de telematica mogelijk. Wat ooit een eenvoudige operationele tool was, is nu een SaaS-oplossing geworden voor het beheer van wagenparken op nationale en internationale schaal. We leveren modulaire applicaties die stapsgewijze veranderingen toelaten om de prestaties van uw bedrijf te verbeteren en waarbij u tot 20% bespaart op de uitbatingskosten van uw wagenpark. Onze servers en onze hosting zijn geïmplementeerd in de EU. Alle grensoverschrijdende processen beantwoorden aan deze fundamentele voorwaarde. We functionneren als centrale verwerkingseenheid om te garanderen dat onze software de nodige mechanismen levert om aan de eisen en vereiste configuraties van nationale wetgevingen en klanten te kunnen voldoen.</p><br />
                        <ul>
                            <li>Ons platform behandelt dagelijks honderden miljoenen gegevens waardoor betrouwbaarheid en snelheid een essentiële onderdeel van onze oplossing vormen.</li>
                        </ul>
                        <p>Onze servers en onze hosting zijn geïmplementeerd in de EU. Alle grensoverschrijdende processen beantwoorden aan deze fundamentele voorwaarde. We functionneren als centrale verwerkingseenheid om te garanderen dat onze software de nodige mechanismen levert om aan de eisen en vereiste configuraties van nationale wetgevingen en klanten te kunnen voldoen.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Investering</h2>
                    <div class="body-text">
                        <p>We hebben geïnvesteerd in de infrastructuur van ons platform om omvangrijke datavolumes te kunnen verwerken en dit zonder daling in prestaties om u een betere beschikbaarheid te kunnen bieden. We verwerken momenteel honderden miljoenen gegevens per dag. enables us to provide accurate data on fuel consumption, odometer and diagnostics.</p><br />
                        <p>Onze “clipcans” zijn aangesloten op de bekabeling in het dashboard. Deze oplossing is onzichtbaar voor de bestuurder en vermijdt diefstal en sabotage. Tegenover van andere oplossingen (gebaseerd op OBD aansluiting), behoudt onze oplossing de garantie van uw voertuig</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/secure-and-resillient.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Beveiligde gegevens</h2>
                    <div class="body-text">
                        <p>Masternaut is de eigenaar van haar hardware- en softwareoplossingen. Onze servers zijn beveiligd door firewalls, antivirussystemen en IDS. De toegang tot gegevens wordt omkaderd door strenge procedures in het kader van support en verbetering van de dienstverlening.</p><br />
                        <p>We beschikken over de nodige infrastructuur om een beveiligde omgeving en processen te kunnen ondersteunen. We kunnen bijgevolg garanderen dat de toegang tot de gegevens beveiligd en steeds beschikbaar is.</p><br />
                        <p>Alle gegevens worden gehost in de EER (Europese Economische Ruimte) conform de richtlijn 95/46/EC betreffende de bescherming van persoonsgegevens</p><br />
                        <ul>
                            <li>Twee interne datacentra (1 in het Verenigd Koninkrijk en 1 in Frankrijk)</li>
                            <li>Hoogste beschikbaarheidsniveau</li>
                            <li>Honderden miljoenen gegevens verwerkt per dag</li>
                            <li>Slim en robuust, 24u/24 en 7d/7 beveiligd</li>
                            <li>Data recovery system</li>
                        </ul>
                        <p>Masternaut heeft het grootste R&D team in Europa. Het team ontwerpt, ontwikkelt en vervaardigt alle elementen die onze producten samenstellen: de hardware (GPS-toestellen), de infrastructuur, de servers en de software. We kennen de wisselwerking tussen de verschillende onderdelen waardoor we de snelste en de meest betrouwbare dienstverlening kunnen aanbieden. We gebruiken streamingtechnologie van events in real time om onze klanten in real time toegang te kunnen geven tot hun vitale info. We kunnen onze diensten updaten zonder immobilisatie van het voertuig.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
