﻿@{
    ViewBag.Title = ResponseMessages.HowOurTechnologyWork;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.HowOurTechnologyWork</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.HowOurTechnologyWork</h1>
            <p>Télématique au niveau de l'entreprise pour chaque flotte commerciale Brochure d'entreprise</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">En tant que leader du marché depuis plus de 20 ans, Masternaut a développé les appareils, la plate-forme et l’infrastructure pour rendre chaque flotte commerciale plus intelligente. Nous traitons des centaines de millions de messages chaque jour en temps réel et aidons des milliers de clients à transformer des données complexes en un impact tangible sur leur activité</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics-overview.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Qu'est ce que la télématique </h2>
                    <div class="body-text">
                        <p>La télématique est le processus de transmission des données d'un véhicule ou d'un mobile à l'aide de technologies de téléphonie mobile vers un centre de données.</p><br />
                        <p>Les dispositifs de suivi CANBus de Masternaut lisent les informations du véhicule et transfèrent ces données sur un réseau sans fil. Notre plate-forme de flotte plus intelligente «Connect» transforme tout cela en informations significatives sur un seul écran.</p><br />
                        <p>Les clients utilisent nos appareils et plate-forme télématiques pour prendre des décisions plus avisées en matière de sécurité, d'économies, de satisfaction client et de durabilité.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-software.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Un logiciel plus intelligent </h2>
                    <div class="body-text">
                        <p>La plate-forme leader de Masternaut «Connect» comble le fossé entre des données complexes et leur exploitation en offrant: </p><br />
                        <ul>
                            <li>Un tableau de bord qui affiche l’activité de la flotte en un coup d’œil </li>
                            <li>Une vue en ligne de tous les véhicules, sur une seule carte</li>
                            <li>Rapports faciles à comprendre et entièrement personnalisés  </li>
                            <li>Graphes de temps et tableaux de classement des conducteurs entièrement automatisés </li>
                        </ul>
                        <p>Connect accorde la priorité à l'utilisateur final et exploite toute la puissance de calcul de l'infrastructure de Masternaut pour offrir une expérience en ligne intuitive, fluide et rapide</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Un matériel plus intelligent</h2>
                    <div class="body-text">
                        <p>Les appareils Masternaut recueillent des données directement à partir de l'unité de contrôle électronique (ECU) d'un véhicule grâce à notre technologie brevetée sur le bus CAN qui fonctionne en lecture seule. Cela nous permet de fournir des données précises sur la consommation de carburant, l’odomètre et les diagnostics.</p><br />
                        <p>Notre lecteur se clipse à l'extérieur d'un câble derrière le tableau de bord, le rendant invisible pour les conducteurs et assurant une protection contre le vol et la falsification. Contrairement à d'autres appareils, cette connexion est en lecture seule et n'affectera pas la garantie de votre véhicule.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/secure-and-resillient.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Sûr et résilient</h2>
                    <div class="body-text">
                        <p>Masternaut prend très au sérieux la sécurité des données.</p><br />
                                                                                        <p>Nos centres de données sont maintenus aux normes européennes les plus élevées, nous employons des spécialistes de la sécurité des données pour assurer une protection constante et ne vendons jamais d’informations privées à des tiers.</p><br />
                        <ul>
                            <li>Les boîtiers sont en lecture seule et invisibles pour les conducteurs, fournissant une protection contre le vol et l’inviolabilité</li>
                            <li> Les 2 data centers assurent la résilience et la reprise immédiate après un éventuel sinistre</li>
                            <li>Nos centres de données européens entièrement contrôlés répondent aux normes de sécurité les plus strictes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


