﻿@{
    ViewBag.Title = ResponseMessages.HowOurTechnologyWork;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.HowOurTechnologyWork</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.HowOurTechnologyWork</h1>
            <p>Enterprise-level telematics for every commercial fleet</p>
            <ul class="banner-btns">
                @*<li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>*@
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">As the market leader in UK & France for over 20 years, Masternaut has developed the devices, platform and infrastructure to make every commercial fleet smarter. We process hundreds of millions of messages every day in real-time, and help thousands of customers transform complex data into tangible business impact.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics-overview.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">What is telematics</h2>
                    <div class="body-text">
                        <p>Telematics is the process of transmitting data from a vehicle or mobile asset, using mobile phone technologies, to a data centre.</p><br />
                        <p>Masternaut's CANBus tracking devices read vehicle information and transfer this data over a wireless network. Our smarter fleet platform "Connect" then transforms it all into meaningful information on one screen.</p><br />
                        <p>Customers use our telematics devices and platform to make smarter decisions about safety, savings, service excellence and sustainability.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-software.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Smarter software</h2>
                    <div class="body-text">
                        <p>Masternaut’s leading platform “Connect” bridges the gap between complex data and ease of use by offering:</p><br />
                        <ul>
                            <li>A dashboard that displays fleet activity at a glance</li>
                            <li>An online view of all vehicles, on a single map</li>
                            <li>Reports that can be easily understood & fully customised </li>
                            <li>Fully automated timesheets and driver league tables</li>
                        </ul>
                        <p>Connect puts the end user first, and harnesses the full calculating power of Masternaut's infrastructure to deliver an online experience that is intuitive, smooth and fast.</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Smarter hardware</h2>
                    <div class="body-text">
                        <p>Masternaut's devices gather data straight from a vehicle's Electronic Control Unit (ECU) through our patented, read-only CANbus technology. This enables us to provide accurate data on fuel consumption, odometer and diagnostics.</p><br />
                        <p>Our reader clips to the outside of a cable behind the dashboard, making it invisible to drivers and providing protection against theft & tampering. In contrast to other devices, this connection is read-only and will not affect the warranty of your  vehicle</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/secure-and-resillient.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Secure and resilient</h2>
                    <div class="body-text">
                        <p>Masternaut takes data security very seriously.</p><br />
                        <p>Our data centres are maintained to highest EU standards, we employ data security specialists to ensure constant protection, and never sell private information to third parties.</p><br />
                        <ul>
                            <li>Devices are read-only and invisible to drivers, providing theft & tamper protection</li>
                            <li>Redundant data centres ensure resilience and seamless disaster recovery</li>
                            <li>Our fully controlled EU-based data centres meet the highest security standards</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
