﻿@{
    ViewBag.Title = ResponseMessages.OurBrand;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap our-brand goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span>
                <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AboutUs</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.OurBrand</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>The New Masternaut</h1>
            <p>Our brand is evolving</p>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-weight: 400;">The nature of our business has changed dramatically over the course of our 22 years. In recent years, we have also changed as an organisation. We have invested heavily in our software platform, in our analytics capability and in our customer service. </span></p>
                        <p><span style="font-weight: 400;">It is time for our logo and branding to represent our new promise to our customers. </span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="strong-roots">Strong roots</h2>
                    <div class="body-text">
                        <p>The old Masternaut was a French pioneer who launched commercial vehicle telematics in Europe. Always on the leading edge of hardware technology, we contributed to the rise of the Internet of Things.</p>
                        <p>We're proud of our roots. That's why we kept our name and the reference to 'naut', the Greek word for navigation.</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/mnt-logo-blue-485width.png")" />

                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="4">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="new-strengths">New strengths</h2>
                    <div class="body-text">
                        <p>The new Masternaut is all about the impact we can generate for our customers from the rich data of motion. We sit comfortably between the physical world we measure and the insights we provide to our customers via a powerful platform and expert consultants. We relentlessly focus on the customer experience.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/mnt-logo-blue-485width.png")" />

                </div>                <div class="block-text right">
                    <div class="body-text">
                        <p>The new Masternaut logo is formed from a circle of increasing data bars that represent continual, iterative growth and improvement.</p>
                        <p>It suggests a brand that is continually harnessing and organising data, and distributing the insights gained from it on to its customers.</p>
                        <p>We help you seize your unseen advantage.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="6">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="the-story-behind-the-new-masternaut">The story behind the new Masternaut</h2>
                    <div class="body-text">
                        <div class="vimeo_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"></div>
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"><iframe src="https://player.vimeo.com/video/273369556?seo=false&videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="vimeo_embed" name="vimeo_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="100%" height="100%"></iframe></div>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-navy" data-waypoint="7">
            <div class="inner">
                <h2 id="launch-event">Launch event</h2>
                <div class="body-text">
                    <p>In the first week of June, we hosted well over 100 customers to listen to your feedback and share our latest product innovations and ideas.</p>
                    <p>Thank you for joining the dialogue.</p>
                    <p>Here’s a quick overview of what happened.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="#" class="btn-primary large ">
                            event recap
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>


