﻿@{
    ViewBag.Title = ResponseMessages.OurBrand;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap notre-marque goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AboutUs</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">Notre marque</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>Découvrez le nouveau Masternaut</h1>
            <p>Une marque qui évolue…</p>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>Au cours de ces 20 dernières années, notre activité a radicalement changé. En tant qu'organisation, nous nous sommes adaptés à toutes les évolutions de notre environnement et avons beaucoup investi dans notre plateforme télématique, capacité d'analyse et service clients.</p>
                        <p>Il est désormais temps de changer et d’avoir une image de marque représentative de toutes ces évolutions pour nos clients.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="des-racines-dont-nous-sommes-fiers">Des racines dont nous sommes fiers</h2>
                    <div class="body-text">
                        <p>Masternaut est une marque pionnière qui a démocratisé l’usage de la télématique pour les véhicules commerciaux partout en Europe. Toujours à la pointe des technologies matérielles, nous contribuons aujourd’hui à l’essor de l'Internet des Objets (IoT).</p>
                        <p>Nous avons choisi de garder notre nom de référence dont le suffixe puise ses racines du mot “naútês” qui veut dire “navigation” en grec ancien. Nous sommes fiers d’être Masternaut.</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/mnt-logo-blue-485width.png")" />
                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="4">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="nous-nous-dotons-de-nouvelles-forces">Nous nous dotons de nouvelles forces</h2>
                    <div class="body-text">
                        <p>Le nouveau Masternaut se concentre sur les bénéfices et les opportunités apportées par les flots de données sur le business de nos clients. Nous sommes désormais en mesure de mettre en contexte ces données et permettre à nos clients de prendre les meilleures décisions, tout cela via notre puissante plateforme et l'accompagnement de notre équipe composée d’experts de la donnée. L’expérience client est au centre de nos priorités.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-logo.png")" />

                </div>                <div class="block-text right">
                    <div class="body-text">
                        <p>Le nouveau logo de Masternaut est composé de barres de données formant un cercle, et représentant une croissance et une amélioration qui sont itératives et continues.</p>
                        <p>Notre nouvelle identité graphique est synonyme d’une marque qui exploite et organise de manière constante les données de ses clients afin de les traduire en gains et connaissance à forts impacts business.</p>
                        <p>Avec Masternaut, révélez vos atouts et prenez l’avantage.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="6">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="dcouvrez-le-nouveau-masternaut">D&#233;couvrez le nouveau Masternaut</h2>
                    <div class="body-text">
                        <div class="vimeo_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"></div>
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"><iframe src="https://player.vimeo.com/video/273369556?seo=false&videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="vimeo_embed" name="vimeo_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="100%" height="100%"></iframe></div>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-navy" data-waypoint="7">
            <div class="inner">
                <h2 id="vnements-clients">&#201;v&#233;nements clients</h2>
                <div class="body-text">
                    <p>Les 30 et 31 mai 2018, nous avons accueilli nombreux de nos clients à notre événement The Future of Connected Fleets à Paris et à Lyon.</p>
                    <p>Nous avons présenté nos dernières innovations et idées de produits ainsi qu’en exclusivité la nouvelle identité de marque de Masternaut. Cet événement a généré beaucoup d’engagement et d’enthousiasme quant au futur de la télématique.</p>
                    <p>Cliquez sur le bouton suivant pour un récapitulatif des temps forts de la rencontre.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="#" class="btn-primary large ">
                            Récapitulatif des événements
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">

            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

