﻿@{
    ViewBag.Title = ResponseMessages.OurBrand;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap notre-marque goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AboutUs</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">Notre marque</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                Ontdek de nieuwe Masternaut
            </h1>
            <p>
                Een merk dat evolueert ...
            </p>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>In de afgelopen 20 jaar is ons bedrijf drastisch veranderd. Als organisatie hebben we ons aangepast aan alle veranderingen in onze omgeving en hebben we veel geïnvesteerd in ons telematicaplatform, analysecapaciteit en klantenservice.</p>
                        <p>Het is nu tijd om te veranderen en een merkimago te hebben dat representatief is voor al deze ontwikkelingen voor onze klanten.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="des-racines-dont-nous-sommes-fiers">Wortels waar we trots op zijn</h2>
                    <div class="body-text">
                        <p>Masternaut is een baanbrekend merk dat het gebruik van telematica voor commerciële voertuigen in heel Europa heeft gedemocratiseerd. Altijd toonaangevend op het gebied van hardwaretechnologieën dragen we vandaag bij aan de opkomst van het Internet of Things (IoT).</p>
                        <p>We kozen ervoor onze referentienaam te behouden, waarvan het achtervoegsel zijn oorsprong vindt in het woord 'naútês', wat 'navigatie' betekent in het oud-Grieks. We zijn er trots op Masternaut te zijn.</p>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/mnt-logo-blue-485width.png")" />
                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="4">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="nous-nous-dotons-de-nouvelles-forces">We bouwen nieuwe sterke punten op</h2>
                    <div class="body-text">
                        <p>De nieuwe Masternaut richt zich op de voordelen en kansen van de stroom van gegevens over het bedrijf van onze klanten. We zijn nu in staat om deze gegevens te contextualiseren en onze klanten in staat te stellen de beste beslissingen te nemen, allemaal via ons krachtige platform en de ondersteuning van ons team van data-experts. Klantervaring staat centraal in onze prioriteiten.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-logo.png")" />
                </div>                <div class="block-text right">
                    <div class="body-text">
                        <p>Het nieuwe Masternaut-logo bestaat uit gegevensbalken die een cirkel vormen en die groei en verbetering vertegenwoordigen die iteratief en continu zijn.</p>
                        <p>Onze nieuwe grafische identiteit is synoniem met een merk dat de gegevens van zijn klanten voortdurend exploiteert en organiseert om ze te vertalen in winst en kennis met sterke bedrijfsimpacten.</p>
                        <p>Met Masternaut maakt u uw troeven bekend en benut u het voordeel.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block m-green" data-waypoint="6">

            <div class="block-text full align-center">
                <div class="inner">

                    <h2 id="dcouvrez-le-nouveau-masternaut">Ontdek de nieuwe Masternaut</h2>
                    <div class="body-text">
                        <div class="vimeo_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"></div>
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"><iframe src="https://player.vimeo.com/video/273369556?seo=false&videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="vimeo_embed" name="vimeo_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="100%" height="100%"></iframe></div>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-navy" data-waypoint="7">
            <div class="inner">
                <h2 id="vnements-clients">Evenementen voor klanten</h2>
                <div class="body-text">
                    <p>Op 30 en 31 mei 2018 hebben we veel van onze klanten verwelkomd op ons evenement The Future of Connected Fleets in Parijs en Lyon.</p>
                    <p>We presenteerden onze nieuwste innovaties en productideeën, evenals de nieuwe merkidentiteit van Masternaut. Dit evenement genereerde veel toewijding en enthousiasme voor de toekomst van telematica.</p>
                    <p>Klik op de volgende knop voor een samenvatting van de hoogtepunten van het spel.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="#" class="btn-primary large ">
                            SAMENVATTING VAN EVENEMENTEN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">

            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

