﻿
@{
    ViewBag.Title = "PrivacyPolicyNL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap privacy-policy textpage ">
    <main>
        <div class="inner">
            <div class="page-content two-col blog">
                <div class="cont    ent-main">
                    <h1>Telematics website – Privacybeleid</h1>
                    <div class="body-text">
                        <p>
                            Masternaut hecht veel waarde aan het beschermen en behouden van de privacy van onze bezoekers. Via ons privacybeleid leggen we uit wat er gebeurt met persoonlijke gegevens die u ons verstrekt of die wij van u verzamelen terwijl u onze site bezoekt.
                        </p>

                        <h3> informaties die we verzamelen</h3>

                        <p>Bij het uitvoeren en onderhouden van onze site kunnen we de volgende gegevens over u verzamelen en verwerken: Informatie over uw gebruik van onze site, inclusief details van uw bezoeken zoals bekeken pagina's en gebruikte bronnen. Deze informatie omvat verkeersgegevens, locatiegegevens en andere datacommunicatie.</p>
                        <p>Ook verzameld:</p>
                        <ul>
                            <li>Informatie die u vrijwillig verstrekt. Bijvoorbeeld wanneer u zich aanmeldt om informatie te krijgen.</li>
                            <li>De informatie die u verstrekt wanneer u op eenderwelk manier met ons communiceert.</li>
                        </ul>

                        <h3>Gebruik van cookies</h3>

                        <p>Cookies geven informatie over de computer die door een bezoeker wordt gebruikt. We kunnen cookies gebruiken, indien van toepassing, om informatie op uw computer te verzamelen om ons te helpen onze website te verbeteren.</p>
                        <p>We kunnen informatie verzamelen over uw algemene gebruik van internet door de cookie te gebruiken. Wanneer gebruikt, worden deze cookies gedownload naar uw computer en opgeslagen op de harde schijf van de computer. Deze informatie identificeert u niet persoonlijk. Dit zijn statistische gegevens. Deze statistische gegevens specificeren de persoonlijke gegevens niet.</p>
                        <p>U kunt uw computerinstellingen aanpassen om cookies te weigeren als u dat wenst. Dit kan eenvoudig worden gedaan door het zelf te activeren in de instellingen van cookies op uw computer.</p>
                        <p>Onze adverteerders kunnen ook cookies gebruiken, waarover wij geen controle hebben. Deze cookies (indien gebruikt) worden gedownload zodra u op advertenties op onze website klikt.</p>

                        <h3>Gebruik van uw informaties</h3>

                        <p>We gebruiken de informaties die we van u verzamelen in verband met de services die we u aanbieden. Daarnaast kunnen we de informaties gebruiken met de volgende doelstellingen:</p>
                        <ul>
                            <li>U informatie verstrekken die u vraagt over onze producten of diensten.</li>
                            <li>U informatie verstrekken over andere producten die voor u van belang kunnen zijn. Deze aanvullende informatie wordt alleen verstrekt als u toestemming hebt gegeven om dergelijke informatie te ontvangen.</li>
                            <li>U informeren over eventuele wijzigingen in onze websites, diensten of goederen en producten.</li>
                            <li>Als u al goederen of diensten bij ons hebt gekocht, kunnen wij u details verstrekken over vergelijkbare producten of diensten of andere goederen en diensten die mogelijk interessant voor u zijn.</li>
                        </ul>
                        <p>Wanneer u van tevoren toestemming heeft gegeven, kunnen we geselecteerde derde partijen toestaan uw gegevens te gebruiken om hen in staat te stellen u informatie te verstrekken over de niet-gerelateerde goederen en diensten waarvan wij denken dat ze interessant voor u zijn. Wanneer uw toestemming niet is verleend, heeft u het wettelijke recht om uw gegevens op elk gewenst moment te wijzigen.</p>


                        <h3>Opslag van uw persoonlijke gegevens</h3>
                        <p>
                        <p>Bij de werking van onze website kan het nodig zijn om gegevens die wij van u verzamelen over te brengen naar locaties buiten de Europese Unie voor verwerking en opslag. Door ons uw persoonlijke gegevens te verstrekken, stemt u in met een dergelijke overdracht, opslag of verwerking. We doen ons best om ervoor te zorgen dat alle stappen worden genomen en dat uw gegevens worden verwerkt en veilig opgeslagen.</p>
                        <p>Helaas is het verzenden van informatie via internet niet volledig veilig, dus dergelijke informatie kan worden onderschept. We kunnen de veiligheid van de gegevens die u ervoor kiest om ons elektronisch te verzenden niet garanderen, deze informatie is geheel op eigen risico.</p>

                        <h3>Bekendmaking van informatie</h3>

                        <p>We zullen uw persoonlijke gegevens niet bekendmaken aan enige andere partij, behalve in overeenstemming met dit Privacybeleid en onder de omstandigheden die hieronder worden beschreven:</p>
                        <ul>
                            <li>In het geval dat we onze onderneming geheel of gedeeltelijk verkopen aan de koper.</li>
                            <li>Waar we wettelijk verplicht zijn om uw persoonlijke informatie vrij te geven.</li>
                            <li>Om fraudebescherming te bevorderen en het risico op fraude te verminderen.</li>
                        </ul>

                        <h3>Links van derde partijen</h3>

                        <p>Moest U besluiten links op te nemen via sites van derden op deze site. Wanneer we een link plaatsen, betekent dit niet dat we het beleid van deze site met betrekking tot de privacy van bezoekers onderschrijven. U moet hun privacybeleid bekijken voordat u hen persoonlijke gegevens toestuurt.</p>

                        <h3>Masternaut en de Algemene Verordening Gegevensbescherming (AVG) of GDPR </h3>

                        <p>Masternaut heeft proces en veiligingsnormen opgezet die voldoen aan de voorschriften van de AVG en de Europeese Richtlijn EC/95/46</p>
                        <p>Masternaut is ook ISO 27001:2017 gecertificeerd, wat dus aanduidt dat de persoonlijke gegevens correct beveiligd zijn.</p>
                        <p>De telematiekgegevens van de klanten zijn exclusief verwerkt in Masternaut data centers in Frankrijk en de Verenigd-Koninkrijk. Deze data centers zijn volledig verzekerd door regelmatige cyber-security testen. Alleen de geautoriseerde werknemers hebben toegang tot de Masternaut data centers. </p>

                        <h3>Ons contacteren</h3>

                        <p>info@masternaut.be</p>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

