﻿
@{
    ViewBag.Title = "PrivacyPolicyFR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap politique-de-confidentialite textpage ">
    <main>
        <div class="inner">
            <div class="page-content two-col blog">
                <div class="content-main">
                    <h3>Site web Telematics – Politique de confidentialit&#233;</h3>
                    <div class="body-text">
                        <p>
                            Masternaut&nbsp;s’engage à sauvegarder et&nbsp; préserver la vie privée&nbsp;de nos visiteurs.<br>
                            A travers notre politique de confidentialité&nbsp;nous vous expliquons&nbsp;ce qui arrive&nbsp;à toutes les données personnelles que vous&nbsp;nous fournissez,&nbsp;ou que nous&nbsp;recueillons auprès de vous&nbsp;pendant que vous&nbsp;visitez notre site.<br>
                            Nous mettons régulièrement à jour cette page. N’hésitez pas à consulter régulièrement notre politique de confidentialité.
                        </p>
                        <h5>Les informations que nous recueillons</h5>
                        <p>
                            En&nbsp;cours d’exécution&nbsp;et le maintien de&nbsp;notre site, nous&nbsp;pouvons collecter et traiter&nbsp;les données suivantes vous concernant:<br>
                            Informations sur votre&nbsp;utilisation&nbsp;de notre&nbsp;site, y compris&nbsp;les détails de vos&nbsp;visites&nbsp;telles que&nbsp;les pages consultées&nbsp;et&nbsp;les&nbsp;ressources auxquelles vous accédez.&nbsp;Cette information comprend des données&nbsp;de trafic,&nbsp;les données de localisation&nbsp;et&nbsp;de communication de données&nbsp;d’autres. Egalement recueillis&nbsp;:
                        </p>
                        <ul>
                            <li>Les renseignements fournis&nbsp;volontairement&nbsp;par vous.&nbsp;Par exemple,&nbsp;lorsque vous vous inscrivez&nbsp;pour obtenir des informations.</li>
                            <li>Les informations que vous&nbsp;fournissez lorsque&nbsp;vous communiquez avec nous&nbsp;par tout moyen.</li>
                        </ul>
                        <h5>Utilisation des cookies</h5>
                        <p>
                            Les témoins fournissent des&nbsp;informations concernant&nbsp;l’ordinateur&nbsp;utilisé par un visiteur. Nous&nbsp;pouvons utiliser des cookies, le cas échéant&nbsp;de recueillir des&nbsp;informations sur votre ordinateur&nbsp;afin de nous&nbsp;aider à améliorer&nbsp;notre site Web.<br>
                            Nous pouvons&nbsp;recueillir des informations sur&nbsp;votre utilisation&nbsp;générale d’Internet en utilisant&nbsp;le cookie.&nbsp;Lorsqu’il est utilisé,&nbsp;ces cookies&nbsp;sont téléchargés sur votre&nbsp;ordinateur et stockées&nbsp;sur le disque dur&nbsp;de l’ordinateur.&nbsp;Cette information&nbsp;ne vous&nbsp;identifie pas personnellement.&nbsp;Il&nbsp;s’agit de données statistiques.&nbsp;Ces données statistiques&nbsp;ne précisent pas&nbsp;les données personnelles.<br>
                            Vous pouvez ajuster&nbsp;les paramètres de votre&nbsp;ordinateur pour&nbsp;refuser&nbsp;les cookies&nbsp;si vous le souhaitez.&nbsp;Cela peut&nbsp;se faire facilement&nbsp;en activant&nbsp;vous rendant dans les réglages des cookies&nbsp;sur ​​votre ordinateur.<br>
                            Nos annonceurs peuvent&nbsp;également utiliser des cookies,&nbsp;sur lesquels nous n’avons aucun contrôle.&nbsp;Ces cookies&nbsp;(si utilisé)&nbsp;serait&nbsp;téléchargé&nbsp;une fois que vous&nbsp;cliquez sur des publicités sur notre&nbsp;site web.
                        </p>
                        <h5>Utilisation de vos informations</h5>
                        <p>Nous utilisons les informations&nbsp;que nous&nbsp;recueillons auprès de vous&nbsp;en rapport aux services que nous mettons à votre disposition.&nbsp;En plus de&nbsp;cela, nous&nbsp;pouvons utiliser les informations&nbsp;pour une ou plusieurs&nbsp;des&nbsp;fins suivantes:</p>
                        <ul>
                            <li>Pour&nbsp;vous fournir des informations&nbsp;que vous&nbsp;nous demandez&nbsp;relative à&nbsp;nos produits ou services.</li>
                            <li>Pour&nbsp;vous fournir des informations&nbsp;relatives&nbsp;à d’autres produits&nbsp;qui peuvent vous intéresser.&nbsp;Cette information supplémentaire&nbsp;ne sera fournie que&nbsp;si vous avez consenti&nbsp;à recevoir de telles informations.</li>
                            <li>Pour&nbsp;vous informer&nbsp;de tout changement&nbsp;à&nbsp;nos&nbsp;sites Web, des services&nbsp;ou des biens&nbsp;et produits.</li>
                            <li>Si vous avez déjà&nbsp;acheté des biens&nbsp;ou des services&nbsp;chez nous, nous&nbsp;pouvons vous fournir&nbsp;les détails&nbsp;de&nbsp;produits ou services similaires, ou&nbsp;d’autres biens et&nbsp;services,&nbsp;qui pourrez vous intéresser.</li>
                        </ul>
                        <p>Où&nbsp;votre consentement&nbsp;a&nbsp;été&nbsp;fournie à l’avance, nous pouvons&nbsp;permettre à&nbsp;des tiers sélectionnés&nbsp;à&nbsp;utiliser vos données afin&nbsp;de leur permettre de&nbsp;vous fournir des informations&nbsp;concernant les marchandises&nbsp;et services non liés&nbsp;que nous jugeons susceptibles de vous intéresser.&nbsp;Lorsque votre consentement&nbsp;n’a pas été fourni, vous avez conformément à la loi un droit de modification de vos données à tout moment.</p>
                        <h5>Stockage&nbsp;de vos données personnelles</h5>
                        <p>
                            Dans&nbsp;le fonctionnement de notre&nbsp;site Web, il&nbsp;peut s’avérer nécessaire de&nbsp;transférer des données&nbsp;que nous&nbsp;recueillons auprès de vous&nbsp;à des endroits&nbsp;en dehors&nbsp;de l’Union européenne&nbsp;pour le traitement&nbsp;et le stockage.&nbsp;En nous fournissant vos données personnelles, vous&nbsp;consentez à ce transfert, stockage ou traitement.&nbsp;Nous faisons de notre mieux&nbsp;afin d’assurer que&nbsp;toutes les mesures&nbsp;soient prises pour&nbsp;faire en sorte que&nbsp;vos données soient traitées,&nbsp;stockées de manière sécurisées.<br>
                            Malheureusement&nbsp;l’envoi d’informations&nbsp;via Internet&nbsp;n’est pas&nbsp;totalement sécurisé, ainsi de telles informations&nbsp;peuvent être interceptées.&nbsp;Nous ne pouvons pas garantir la sécurité des&nbsp;données que vous choisissez&nbsp;de nous envoyer&nbsp;par voie électronique,&nbsp;cette information est&nbsp;entièrement à&nbsp;vos risques et périls.
                        </p>
                        <h5>Divulgation des renseignements</h5>
                        <p>Nous ne divulguerons pas&nbsp;vos renseignements personnels&nbsp;à toute autre partie, sauf en conformité&nbsp;avec&nbsp;cette politique de confidentialité&nbsp;et dans les circonstances&nbsp;décrites ci-dessous:</p>
                        <ul>
                            <li>Dans le cas&nbsp;où nous vendons&nbsp;tout ou partie&nbsp;de notre&nbsp;activité à l’acheteur.</li>
                            <li>Où&nbsp;nous sommes légalement tenus&nbsp;par la loi&nbsp;de divulguer&nbsp;vos renseignements personnels.</li>
                            <li>Pour&nbsp;favoriser&nbsp;la protection de fraude&nbsp;et de réduire&nbsp;le risque de fraude.</li>
                        </ul>
                        <h5>Liens&nbsp;de tiers</h5>
                        <p>À l’occasion, si vous décidez d’inclure des liens via&nbsp;des sites tiers&nbsp;sur&nbsp;ce site.&nbsp;Lorsque nous fournissons un lien, il&nbsp;ne veut pas dire&nbsp;que nous approuvons ou&nbsp;approuver la politique&nbsp;de ce site&nbsp;à l’égard de&nbsp;la vie privée&nbsp;des visiteurs.&nbsp;Vous devriez revoir&nbsp;leur politique de confidentialité avant de leur envoyer&nbsp;des&nbsp;données à caractère personnel.</p>
                        <h5>Masternaut et le Règlement Général sur la Protection des Données (RGPD)</h5>
                        <p>
                            Masternaut a mis en place des processus et des normes de sécurités qui sont conformes ou excèdent la réglementation prévue par le RGPD et la Directive Européene EC/95/46
                            Masternaut est également certifié ISO 27001:2017, ce qui démontre que les données privées sont protégées de manière adéquate.
                            Les données télématiques des clients sont exclusivement traitées dans les data centers de Masternaut situés en France et au Royaume-Uni. Ces data centers sont entièrement sécurisés par des tests fréquents de cyber sécurité.  Seul les employés habilités de Masternaut ont accès à ces data centers.
                        </p>
                        <h5>Nous contacter</h5>
                        <p>N’hésitez pas&nbsp;à nous contacter pour&nbsp;toute question relative à&nbsp;cette politique de confidentialité&nbsp;à l’adresse:&nbsp;info@masternaut.be</p>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>