﻿@{
    ViewBag.Title = @ResponseMessages.WhatWeDo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap what-we-do goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home">
                    <span class="item"><span class="icon-home"></span></span>
                    <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="triangle"></span></a>
                    <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>What we do</h1>
            <p><span>Our four steps to seizing your unseen advantage.</span></p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>Discover a seamless service designed to unlock hidden potential in your business. From telematics devices to analysis, every one of our tools helps your business find efficiencies, new opportunities and revenue streams you didn’t see before. Masternaut not only connects your vehicles but your business.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="step-1---connect">Step 1 - Connect</h2>
                    <div class="body-text">
                        <p>Impactful insights start with quality data. We connect your fleet with a range of reliable and secure telematics. Our leading patented device reads data non-intrusively straight from the CAN bus. Or choose from OBD, no-install, asset tracking and OEM factory-fit options.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/large-screen-in-office-450-pixel-width-2.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="step-2---co-ordinate">Step 2 - Co-ordinate</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Our platform Masternaut Connect gives you full visibility of your fleet in real-time so you can manage jobs at your desk or on the go. It receives thousands of data points per second and instantly turns that data into actionable insights for managers, drivers and the customer services team. Discover a range of available features and add-ons:</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">SmarterDriver App</span></li>
                            <li style="text-align: left;"><span class="tick">Fuel card</span></li>
                            <li style="text-align: left;"><span class="tick">In-cab coach</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="step-3---compare">Step 3 - Compare</h2>
                    <div class="body-text">
                        <p style="text-align: left;">With historical data at your fingertips, you can analyse and plan. Compare your performance across your fleet and over time to uncover hidden value and new opportunities. We can also help contextualise your performance against over 250,000 vehicles by industry, make, model and more.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Compare performance across your fleet.</span></li>
                            <li style="text-align: left;"><span class="tick">Compare today with yesterday.</span></li>
                            <li style="text-align: left;"><span class="tick">Compare with wider trends in your industry and beyond.</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-co2-benchmark.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/the-potential-of-masternaut-catalytix.JPEG")" />
                </div>
                <div class="block-text right">
                    <h2 id="step-4---catalyse">Step 4 - Catalyse</h2>
                    <div class="body-text">
                        <p>Transform your business through the power of real-time fleet data. Seamlessly integrate our platform into your tech infrastructure and innovate beyond your fleet. Work with our Catalytix team of analysts and uncover the quantitative insights you need to implement new strategies.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block m-navy" data-waypoint="7">
            <div class="block-text full">
                <div class="inner">
                    <h2 id="your-data-in-safe-hands">Your data in safe hands</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Masternaut takes data security very seriously. Our data centres are maintained to the highest EU standards, we employ data security specialists to ensure constant protection, and never sell private information to third parties.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Devices are read-only and invisible to drivers, providing theft &amp; tamper protection.</span></li>
                            <li style="text-align: left;"><span class="tick">Redundant data centres ensure resilience and seamless disaster recovery.</span></li>
                            <li style="text-align: left;"><span class="tick">Our fully controlled EU-based data centres meet the highest security standards.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

