﻿
@{
    ViewBag.Title = @ResponseMessages.WhatWeDo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap notre-expertise goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(&#39;/media/66887/new-banner.png?quality=85&#39;);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home">
                    <span class="item"><span class="icon-home"></span></span>
                    <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="triangle"></span></a>
                    <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>Notre expertise</h1>
            <p>Notre méthodologie en quatre étapes pour révéler vos atouts et prendre l’avantage.</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>Bénéficiez d'un service d’excellence, conçu pour révéler un potentiel qui est à portée de main.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="tape-1---connecter">&#201;tape 1 - Connecter</h2>
                    <div class="body-text">
                        <p>La pertinence de l’analyse dépend de la justesse des données.</p>
                        <p>Nous connectons votre flotte par une télématique fiable et sécurisée. Notre boîtier breveté collecte les données sur le bus CAN, de manière non intrusive. Vous pouvez aussi opter pour les solutions sans installation, OBD, en première-monte ou bien dédiées au suivi d’engins.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/large-screen-in-office-450-pixel-width-2.jpg")" />
                </div>           
                <div class="block-text right">
                    <h2 id="tape-2---coordonner">&#201;tape 2 - Coordonner</h2>
                    <div class="body-text">
                        <p>Notre plateforme Masternaut Connect vous procure une visibilité totale sur votre flotte en temps réel via un tableau de bord unique. Vous pouvez ainsi gérer votre flotte et accepter les missions depuis le bureau ou en déplacement.Chaque seconde, Masternaut Connect reçoit des milliers de données en provenance de plus de 100 000 véhicules. La plateforme les transforme instantanément en informations opérationnelles pour les responsables, les conducteurs et les équipes en charge du service client.</p>
                        <p>Découvrez les nombreuses fonctionnalités et nos solutions de management :</p>
                        <ul>
                            <li><span class="tick">Application SmarterDriver</span></li>
                            <li><span class="tick">Assistant éco-conduite embarqué </span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="tape-3---comparer">&#201;tape 3 - Comparer</h2>
                    <div class="body-text">
                        <p>Masternaut Connect vous donne accès à un historique de données qui vous permet d’analyser et de planifier. Comparez les indicateurs au sein de votre flotte et dans le temps pour identifier les opportunités d’améliorations créatrices de valeur. Pour atteindre les meilleures pratiques, nous pouvons étendre la comparaison à plus de 250 000 véhicules, par secteur d’activité, marque, modèle, etc.</p>
                        <ul>
                            <li><span class="tick">Comparez les indicateurs au sein de votre flotte</span></li>
                            <li><span class="tick">Comparez la journée d’aujourd’hui avec celle d’hier </span></li>
                            <li><span class="tick">Comparez votre entreprise aux tendances du secteur et au-delà</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-co2-benchmark.jpg")" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/the-potential-of-masternaut-catalytix.JPEG")" />

                </div>             
                <div class="block-text right">
                    <h2 id="tape-4---catalyser">&#201;tape 4 - Catalyser</h2>
                    <div class="body-text">
                        <p>Transformez vos processus et métiers au-delà du périmètre de la flotte grâce à nos données temps réel. Notre plateforme ouverte s’intègre à votre système d’information et vous ouvre la voie de l’innovation. L’équipe Catalytix pourra aussi réaliser les analyses quantitatives à la base de nouvelles stratégies.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="content-block m-navy" data-waypoint="7">

            <div class="block-text full">
                <div class="inner">

                    <h2 id="priorit--la-scurit-des-donnes">Priorit&#233; &#224; la s&#233;curit&#233; des donn&#233;es</h2>
                    <div class="body-text">
                        <p>Masternaut accorde une importance cruciale à la sécurité des données.</p>
                        <p>Nos data centers sont conformes aux normes UE les plus strictes. Nous travaillons avec des experts en sécurité des données pour garantir une protection permanente. En aucun cas, nous ne vendons vos informations personnelles.</p>
                        <ul>
                            <li><span class="tick">Nos appareils sont en lecture seule et dissimulés pour une protection contre le vol et le piratage</span></li>
                            <li><span class="tick">Nos data centers secondaires assurent la sauvegarde et la récupération transparente des données en cas de sinistre </span></li>
                            <li><span class="tick">Nos data centers implantés en Europe et sous contrôle permanent sont conformes aux normes de sécurité européennes les plus strictes</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
