﻿@{
    ViewBag.Title = @ResponseMessages.WhatWeDo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap what-we-do goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home">
                    <span class="item"><span class="icon-home"></span></span>
                    <a href="@Url.RouteUrl("AboutUs")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="triangle"></span></a>
                    <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhatWeDo</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>Onze expertise</h1>
            <p><span>Onze vierstappenmethodiek om uw bezittingen te onthullen en te profiteren.</span></p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p>
                            Ontdek een naadloze service die is ontworpen om verborgen potentieel in uw bedrijf te ontgrendelen. Van telematicatoestellen tot analyse: elk van onze tools helpt uw ​​bedrijf bij het vinden van efficiëntie, nieuwe mogelijkheden en inkomstenstromen die u nog niet eerder zag. Masternaut verbindt niet alleen uw voertuigen, maar ook uw bedrijf.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="step-1---connect">Step 1 - Connect</h2>
                    <div class="body-text">
                        <p>
                            De relevantie van de analyse is afhankelijk van de nauwkeurigheid van de gegevens.We verbinden uw vloot met betrouwbare en veilige telematica. Onze gepatenteerde behuizing verzamelt gegevens op de CAN-bus op een niet-indringende manier. U kunt ook kiezen voor oplossingen zonder installatie, OBD, first-mover of speciaal voor trackingapparatuur.
                        </p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-hardware.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/large-screen-in-office-450-pixel-width-2.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="step-2---co-ordinate">Stap 2 - Coördineren</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Ons Masternaut Connect-platform geeft u volledige zichtbaarheid van uw vloot in real time via één dashboard. U kunt uw vloot beheren en missies van op kantoor of onderweg accepteren. Elke seconde ontvangt Masternaut Connect duizenden gegevens van meer dan 100.000 voertuigen. Het platform verandert ze onmiddellijk in operationele informatie voor managers, chauffeurs en klantenserviceteams.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Ontdek de vele functies en onze beheeroplossingen:</span></li>
                            <li style="text-align: left;"><span class="tick">SmarterDriver-app</span></li>
                            <li style="text-align: left;"><span class="tick">In het voertuig geplaatste eco-rijgedrag hulp</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="step-3---compare">Stap 3 - Vergelijk</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Masternaut Connect geeft u toegang tot een gegevenshistoriek waarmee u kunt analyseren en plannen. Vergelijk indicatoren binnen uw vloot en loop de tijd door om kansen voor waardeverhogende verbeteringen te identificeren. Om de beste werkwijzen te bereiken, kunnen we de vergelijking uitbreiden tot meer dan 250.000 voertuigen, op bedrijfstak, merk, model, enz.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Vergelijk indicatoren binnen uw vloot</span></li>
                            <li style="text-align: left;"><span class="tick">Vergelijk de dag van vandaag met die van gisteren</span></li>
                            <li style="text-align: left;"><span class="tick">Vergelijk uw bedrijf met branchetrends en daarbuiten</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-co2-benchmark.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/the-potential-of-masternaut-catalytix.JPEG")" />
                </div>
                <div class="block-text right">
                    <h2 id="step-4---catalyse">Stap 4 - Catalyseer</h2>
                    <div class="body-text">
                        <p>Transformeer uw processen en bedrijven buiten de grenzen van de vloot met onze real-time gegevens. Ons open platform kan worden geïntegreerd met uw informatiesysteem en maakt de weg vrij voor innovatie. Het Catalytix-team zal ook in staat zijn om kwantitatieve analyses uit te voeren aan de basis van nieuwe strategieën.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block m-navy" data-waypoint="7">
            <div class="block-text full">
                <div class="inner">
                    <h2 id="your-data-in-safe-hands">Prioriteit voor gegevensbeveiliging</h2>
                    <div class="body-text">
                        <p style="text-align: left;">
                            Masternaut hecht veel waarde aan gegevensbeveiliging.
                            Onze datacenters voldoen aan de strengste EU-normen. We werken samen met experts op het gebied van gegevensbeveiliging om blijvende bescherming te garanderen. In geen geval verkopen wij uw persoonlijke informatie.
                        </p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Onze apparaten zijn alleen-lezen en verborgen voor bescherming tegen diefstal en piraterij</span></li>
                            <li style="text-align: left;"><span class="tick">Onze secundaire datacenters bieden transparante back-up en herstel van gegevens in geval van een ramp</span></li>
                            <li style="text-align: left;"><span class="tick">Onze Europese datacenters onder constante controle voldoen aan de strengste Europese veiligheidsnormen</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="8">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

