﻿@{
    ViewBag.Title = ResponseMessages.WhyMasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhyMasternaut</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.WhyMasternaut</h1>
            <p>Une technologie performante bâtie par des personnes passionnées</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">“Nous pensons que les produits Masternaut sont complets et ont la robustesse et la fiabilité nécessaires pour contribuer à notre quête du “zéro-perte”. Le réseau d’experts ainsi que l’équipe de déploiement ont réalisé un travail fantastique et nous nous réjouissons de travailler avec-eux à long terme.”</span></p>
                        <p>Robert Lindsay, Balfour Beatty WorkPlace</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/your-trusted-partner-v2.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Votre partenaire de confiance</h2>
                    <div class="body-text">
                        <p>
                            Pionnier dans la télématique.
                        </p><br />
                        <p>Depuis plus de 20 ans, la technologie et le personnel de Masternaut accompagnent des milliers de clients.</p><br />
                        <p>Notre infrastructure a été conçue pour être capable de supporter de nombreuses données, et toutes nos équipes s’engagent à aider nos clients à améliorer leurs performances en terme de sécurité, de satisfaction client et d’impact environnemental tout en réalisant des économies.</p><br />
                        <ul>
                            <li>
                                Leader en France et au Royaume-Uni
                            </li>
                            <li>Plus de 10 000 clients en Europe</li>
                            <li>Fournisseur expérimenté avec plus de 20 ans d'expérience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/customer-experience-v2.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Un support technique réactif et expérimenté
                    </h2>
                    <div class="body-text">
                        <p>Plus de 300 experts en télématique à votre service</p><br />
                        <p>Nous mesurons en permanence notre niveau de prestation et nous nous concentrons sur l’amélioration en continue de ce dernier. Tous nos équipes sont dédiées afin de fournir une expérience agréable et unique à chaque client. </p><br />
                        <ul>
                            <li>Plus de 100 experts en france</li>
                            <li>Portail de support client</li>
                            <li>Des experts dédiés à la conduite du changement et l’analyse de données</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Performante et simple à utiliser</h2>
                    <div class="body-text">
                        <p>Nous développons notre matériel breveté en interne et nos services sont proposés par des équipes Masternaut. Nous portons une attention particulière à leur protection de vos données, c’est pour cela qu’elles sont hébergées dans des centres de données Européen très sécurisés.</p><br />
                        <p>Chaque modèle de véhicule est différent. Nous investissons continuellement afin de proposer la solution de gestion de flotte la plus innovante et offrir la meilleure expérience client.</p><br />
                        <ul>
                            <li>Le plus important centre de R&D en Europe</li>
                            <li>Technologie brevetée CANbus fournissant des données réelles</li>
                            <li>Mise à jour et lancement des nouveaux produits plusieurs fois dans l’année</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-future.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Engagement envers l'avenir</h2>
                    <div class="body-text">
                        <p>Nous sommes ici pour rester, et nous sommes engagés à grandir avec vous.</p><br />
                        <p>Nous travaillons tous les jours pour construire un avenir meilleur: un monde connecté plus sûr, plus propre et plus productif.</p><br />
                        <p>Masternaut souhaite être pour ses clients un pont digital pour aider les flottes à se connecter à un futur prometteur.</p><br />
                        <ul>
                            <li>Propriétaire du matériel, du logiciel et du service</li>
                            <li>Nous investissons dans nos matériels, logiciels et services</li>
                            <li>Soutenu financièrement par un investisseur leader en matière de croissance et un partenaire stratégique FleetCor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
