﻿@{
    ViewBag.Title = ResponseMessages.WhyMasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhyMasternaut</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.WhyMasternaut</h1>
            <p>smarter technology from passionate people</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">"We feel that Masternaut's product offers the ‘full package’ as well as having the infrastructure and drive in place to join us on our journey of ‘Zero Harm’. The support network and the project management team that we have been working with have been fantastic, and we look forward to a long and successful partnership."</span></p>
                        <p>Robert Lindsay, Balfour Beatty</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/your-trusted-partner-v2.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Your trusted partner</h2>
                    <div class="body-text">
                        <p>
                            We are not new to telematics.
                        </p><br />
                        <p>Masternaut’s expertise, people and technology have all been relied upon by thousands of customers, for over 20 years.</p><br />
                        <p>Our infrastructure is built to support your commercial fleet, and all of the team are committed to helping our customers improve safety, savings, service excellence and sustainability.</p><br />
                        <ul>
                            <li>
                                Largest supplier of telematics in the UK and France
                            </li>
                            <li>Helping 10,000+ customers across Europe work smarter</li>
                            <li>Mature provider with 20+ years' experience</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/customer-experience-v2.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Enjoy a superior customer experience</h2>
                    <div class="body-text">
                        <p>Over 300 telematics experts at your service.</p><br />
                        <p>We continuously measure service levels, focus heavily on improving standards, and are all dedicated to giving every customer a smooth and hassle-free experience. </p><br />

                        <ul>
                            <li>Over 100 UK-based customer-facing staff</li>
                            <li>Technology-enhanced customer service & self-help portals</li>
                            <li>Expert consultants for change management & data analysis </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Powerful technology but simple to use</h2>
                    <div class="body-text">
                        <p>We believe in a seamlessly integrated experience. We design our own patented hardware, run a 4th-generation software platform on highly secure datacentres, and service our products in-house.</p><br />
                        <p>Every car model is slightly different. We invest continuously to stay ahead of the curve.</p><br />
                        <ul>
                            <li>Biggest R&D team in Europe & single-minded end user focus</li>
                            <li>Patented CANbus technology providing true vehicle data</li>
                            <li>Regular, free software updates, several times a year</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-future.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Committed to the future</h2>
                    <div class="body-text">
                        <p>We’re here to stay, and committed to growing with you.</p><br />
                        <p>We value our strong history, and care about getting it right today. However, we come to work every day to build a better tomorrow: a connected world that is safer, cleaner and more productive.</p><br />
                     <p>Masternaut's goal is to be the digital bridge that your fleet uses to connect with a smarter future.</p><br />
                        <ul>
                            <li>Product ownership of all hardware, software & service</li>
                            <li>Increased investment in R&D, people and processes</li>
                            <li>Financially backed by a leading growth equity investor & strategic partner FleetCor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

