﻿
@{
    ViewBag.Title = ResponseMessages.WhyMasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.WhyMasternaut</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.WhyMasternaut</h1>
            <p>Een doorstrijvende technologie opgebouwd door gepassionneerde personen</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">"We denken dat Masternaut producten volledig en robuust zijn en dat ze de nodige betrouwbaarheid hebben om deel van ons « nul-verlies » doel te maken”. Het deskundigenetwerk en de inzet team hebben een fantastisch werk geleverd en we kijken met hun uit naar een lange samenwerking."</span></p>
                        <p>Robert Lindsay, Balfour Beatty</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/your-trusted-partner-v2.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Uw partner in betrouwbaarheid</h2>
                    <div class="body-text">
                        <p>
                            Pionnier van telematica.
                        </p><br />
                        <p>Het personeel en de technologie van Masternaut ondersteunt duizende klanten al meer dan 20 jaar lang.</p><br />
                        <p>Onze infrastructuur werd ontworpen om meerdere informatie te kunnen ontvangen en al onze teams staan klaar om onze klanten te helpen en hun prestaties te verbeteren qua veiligheid, klanttevredenheid en milieugerichte economie.</p><br />
                        <ul>
                            <li>
                                Leader in Europa
                            </li>
                            <li>Meer dan 10 000 klanten in Europa</li>
                            <li>Ervaren leverancier met meer dan 20 jaar ervaring</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block team-main" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/customer-experience-v2.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Een ervaren en reactieve technische dienst
                    </h2>
                    <div class="body-text">
                        <p>Meer dan 300 experten in telematica tot uw dienst</p><br />
                        <p>WWij meten constant onze prestatieniveau en werken daar steeds op om het te verbeteren. Al onze teams zijn toegewijd om een aangename ervaring aan te bieden aan elk klant.</p><br />

                        <ul>
                            <li>Meer dan 300 experten in Europa</li>
                            <li>Technisch klantenportaal</li>
                            <li>Experten toegewijd aan rijgedrag en data-analyse</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">Uitvoerend en eenvoudig te gebruiken</h2>
                    <div class="body-text">
                        <p>Wij ontwikkelen ons eigen gepatenteerde materiaal intern en onze diensten zijn aangeboden door Masternaut teams. We besteden een bijzonder aandacht aan de bescherming van uw gegevens, daarom zijn ze gehost in zeer beschermde europese centrums.</p><br />
                        <p>Elk model van voertuig is verschillend. Wij investeren dagelijks om de meest geschikte oplossing en de best ervaring aan te bieden aan onze klanten.</p><br />
                        <ul>
                            <li>De belangrijkste R&D center in Europa</li>
                            <li>Gepatenteerde CANbus technologie die werkelijke gegevens oplevert</li>
                            <li>Updates en nieuwe producten worden meerdere malen per jaar gedaan</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-future.png")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">Inzet voor de toekomst</h2>
                    <div class="body-text">
                        <p>We zijn hier om te blijven en we zetten ons in om met u op te groeien.</p><br />
                        <p>We werken dagelijks aan een betere toekomst: een veiliger geconnecteerd wereld, meer productief en proper.</p><br />
                        <p>Masternaut wenst een digitale brug te zijn voor zijn klanten om ze te helpen hun vlootbeheer te connecteren met een digitale toekomst.</p><br />
                        <ul>
                            <li>Eigenaar van het materiaal, software en dienst</li>
                            <li>Wij investeren in ons materiaal, software en diensten</li>
                            <li>Financiële steuning dankzij een investeringsleider in term van groei en een FleetCor strategisch partner</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

