﻿@model ViewAllNewsModel
@{
    ViewBag.Title = ResponseMessages.News;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string action = ViewBag.action;
}
<div class="main-wrap news blogpage news">
    <main>
        <div class="inner">
            <div class="page-content two-col blog">
                @if (Model != null)
                {
                    if (Model.NewsList.Count > 0)
                    {
                        @Html.HiddenFor(x => x.PageIndex)
                        @Html.HiddenFor(x => x.PageCount)
                        <div class="content-full">
                            <h1>@ResponseMessages.News</h1>
                            <div class="latest-post">
                                <div class="post-content">
                                    <p class="date">
                                        @ResponseMessages.LatestPost
                                        <span>@Model.NewsList.FirstOrDefault().CreatedDate.ToString(GlobalConfig.DisplayDateOnlyFormat) </span>
                                    </p>
                                    <h4>
                                        <a href="@Url.RouteUrl("ViewNews", new { id = Model.NewsList.FirstOrDefault().Id, title = Model.NewsList.FirstOrDefault().Title.Replace(" ", "-") })">
                                            <span>@Model.NewsList.FirstOrDefault().Title </span>
                                        </a>
                                    </h4>
                                    <p>@Html.Raw(@Model.NewsList.FirstOrDefault().Description)</p>
                                    <a href="@Url.RouteUrl("ViewNews", new { id = Model.NewsList.FirstOrDefault().Id, title = Model.NewsList.FirstOrDefault().Title.Replace(" ", "-") })" class="btn-primary standard green large">@ResponseMessages.ReadMore</a>
                                </div>
                                <a href="@Url.RouteUrl("ViewNews", new { id = Model.NewsList.FirstOrDefault().Id, title = Model.NewsList.FirstOrDefault().Title.Replace(" ", "-") })" class="post-image" style="background-image: url(@(GlobalConfig.NewsImageUrl + Model.NewsList.FirstOrDefault().ImageName));"></a>
                            </div>
                        </div>
                        <div class="content-main" id="NewsRender">
                            @Html.Partial("_ViewNews", Model.NewsList.Skip(1).ToList())
                        </div>
                    }
                }
                <div class="content-right">
                    <div class="blog-side">
                        <!-- Latest Posts -->
                        <div class="blog-latest">
                            <h4>@ResponseMessages.LatestPost</h4>
                            <ul class="recent-posts">
                                @foreach (var news in Model.LatestNewsList)
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("ViewNews", new { id = news.Id, title=news.Title.Replace(" ","-")})" title="@news.Title">@news.Title</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <!-- Blog Categories -->
                        <div class="blog-categories">
                            <h4>@ResponseMessages.Categories</h4>
                            <ul class="categories">
                                @if (ViewData["CategoryList"] != null)
                                {
                                    foreach (var cat in (IEnumerable<SelectListItem>)ViewData["CategoryList"])
                                    {
                                        <li>
                                            <a href="@Url.RouteUrl("NewsByCategory", new { catid = cat.Value,category=cat.Text.Replace(" ","-") })" title="@cat.Text">@cat.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div align="center">
            <a href="Javascript:;" title=""><img id="loader-post" class="rotate-loader" width="36" src="@Url.Content("~/Content/images/rectangle-2.svg")" style="display:none;" alt=""></a>
        </div>
    </main>
</div>
@section Scripts{
    <script type="text/javascript">
        let LoadCompleted = true;
        $(window).scroll(function () {
            if ($(window).scrollTop() >= $('#NewsRender').height() && LoadCompleted) {
                LoadCompleted = false;
                var pCount = parseInt($("#PageCount").val());
                var pIndex = parseInt($("#PageIndex").val());
                if (pCount > pIndex)
                {
                    var pagenum = pIndex + 1;
                    LoadMoreNews(pagenum)
                }
            }
        });

        function LoadMoreNews(pagenum) {
            var url = '@Url.Action("LoadMoreNews", "News")' + '?pageindex=' + pagenum;
            $.ajax({
                url: url,
                type: "Get",
                beforeSend: function () {
                },
                complete: function () {
                    $("#PageIndex").val(pagenum);
                    LoadCompleted = true;
                },
                success: function (result) {
                    $('#NewsRender').append(result);
                },
                error: function () { removeOverlay(); }
            });
        }
    </script>
}