﻿@model SingleNewsViewModel
@{
    ViewBag.Title = ResponseMessages.News;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap allstar-and-masternaut-join-forces newpost ">
    <main>
        <div class="inner">
            <div class="page-content two-col blog-post">
                @if (Model != null)
                {
                    <div class="content-main">
                        <div class="post-top">
                            <a href="@Url.RouteUrl("News")" class="btn-previous">@ResponseMessages.Back_to_stories</a>
                            <p class="date"><span>@Model.CreatedDate.ToString(GlobalConfig.DisplayDateOnlyFormat) </span></p>
                        </div>
                        <h3>@Model.Title</h3>
                        <div class="body-text">
                            @Html.Raw(Model.Description)
                        </div>
                        @if (Model.NextRecordId != 0)
                        {
                            <div class="post-nav clearfix">
                                <ul class="blog-post-pagination">
                                    <li class="next"><a href="@Url.RouteUrl("ViewNews", new { Id = Model.NextRecordId,title=Model.NextRecordTitle })">@ResponseMessages.Next</a></li>
                                </ul>
                            </div>
                        }

                    </div>
                }
                <div class="content-right">
                    <div class="blog-side">
                        <!-- Latest Posts -->
                        <div class="blog-latest">
                            <h4>@ResponseMessages.LatestPost</h4>
                            <ul class="recent-posts">
                                @if (Model != null)
                                {
                                    if (Model.LatestNewsList != null)
                                    {
                                        foreach (var news in Model.LatestNewsList)
                                        {
                                            <li>
                                                <a href="@Url.RouteUrl("ViewNews", new { Id = news.Id,title=news.Title.Replace(" ","-") })" title="@news.Title">@news.Title</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <!-- Blog Categories -->
                        <div class="blog-categories">
                            <h4>@ResponseMessages.Categories</h4>
                            <ul class="categories">
                                @if (ViewData["CategoryList"] != null)
                                {
                                    foreach (var cat in (IEnumerable<SelectListItem>)ViewData["CategoryList"])
                                    {
                                        <li>
                                            <a href="@Url.RouteUrl("NewsByCategory", new { catid = cat.Value,category=cat.Text.Replace(" ","-") })" title="@cat.Text">@cat.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>