﻿@model EventAddUpdateModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = Action;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/wizard")
@Styles.Render("~/css/summernote")
<link href="@Url.Content("~/Content/Plugins/Timepicker/bootstrap-datetimepicker.css")" rel="stylesheet" />
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@Action Event</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "Event", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle", @enctype = "multipart/form-data" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            @Html.HiddenFor(x => x.imageName)
                            @Html.HiddenFor(x => x.LocationLatitude)
                            @Html.HiddenFor(x => x.LocationLongitude)
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.EventImageUrl + Model.imageName, saveFilePath = GlobalConfig.EventImagePath, hdnImageName = "imageName" })
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Event location </label>
                                        @Html.TextBoxFor(x => x.Location, new { @class = "form-control required googleaddress", @placeholder = "Please event location here" })
                                        @Html.ValidationMessageFor(x => x.Location)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Start time </label>
                                        @Html.TextBoxFor(x => x.StartTime, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(x => x.StartTime)
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>End time </label>
                                        @Html.TextBoxFor(x => x.EndTIme, new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(x => x.EndTIme)
                                    </div>
                                </div>
                            </div>
                            for (int i = 0; i < Model.Eventlanguagemodellist.Count; i++)
                            {
                                @Html.HiddenFor(x => x.Eventlanguagemodellist[i].Language)
                                <h6>@Model.Eventlanguagemodellist[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.Eventlanguagemodellist[i].Title, new { @class = "form-control required", @placeholder = "Please enter title here" })
                                                @Html.ValidationMessageFor(x => x.Eventlanguagemodellist[i].Title)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.TextAreaFor(x => x.Eventlanguagemodellist[i].Description, new { @class = "form-control required txtDescription", @rows = "6" })
                                                @Html.ValidationMessageFor(x => x.Eventlanguagemodellist[i].Description)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/stepWizard")
    @Scripts.Render("~/jQuery/datetimepicker")
    @Scripts.Render("~/jQuery/summernote")
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9UPDb8uu375uAFqeKQBDxVssD-sy0ZZE"></script>
    <script type="text/javascript">
        ActiveMenu("Event");
        $('.googleaddress').on('focus', document, function () {
            BindAddressSearch();
        });

        $('#StartTime').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
        $('#EndTIme').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });

        $('.txtDescription').summernote({
            height: 200,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
            ],
        });

        $('#StartTime').on('dp.change', function () {
            var isValid = false;
            var CurrentDate = moment(moment(new Date()).format('DD/MM/YYYY HH:mm'), 'DD/MM/YYYY HH:mm');
            var StartDate = moment($(this).val(), 'DD/MM/YYYY HH:mm');
            var EndDate = moment($('#EndTIme').val(), 'DD/MM/YYYY HH:mm');

            if (StartDate.isValid()) {
                isValid = moment(CurrentDate).isSameOrBefore(moment(StartDate));
                if (isValid == false) {
                    toastr.error('Start date must be greater than or equal to current date', 'Error !');
                    $(this).val('');
                    return false;
                }
            }
            if (StartDate.isValid() && EndDate.isValid()) {
                var isValid = moment(StartDate).isSameOrBefore(moment(EndDate));
                if (isValid == false) {
                    toastr.error('Start date is less then end date', 'Error !');
                    $(this).val('');
                }
            }
        });

        $('#EndTIme').on('dp.change', function () {
            var isValid = false;
            var CurrentDate = moment(new Date(), 'DD/MM/YYYY HH:mm');
            var StartDate = moment($('#StartTime').val(), 'DD/MM/YYYY HH:mm');
            var EndDate = moment($(this).val(), 'DD/MM/YYYY HH:mm');

            if (EndDate.isValid()) {
                isValid = moment(CurrentDate).isSameOrBefore(moment(EndDate));
                if (isValid == false) {
                    toastr.error('End date must be greater than or equal to current date', 'Error !');
                    $(this).val('');
                    return false;
                }
            }
            if (StartDate.isValid() && EndDate.isValid()) {
                var isValid = moment(StartDate).isSameOrBefore(moment(EndDate));
                if (isValid == false) {
                    toastr.error('End date is greater then start date', 'Error !');
                    $(this).val('');
                }
            }
        });
    </script>
}