﻿@model HomeModel
@{
    ViewBag.Title = ResponseMessages.Home;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap home homepageen home">
    <div class="home-slider-block" data-slick='{"autoplay": true, "dots": true, "fade": true, "cssEase": "ease-in", "speed": 600, "autoplaySpeed": 2750, "prevArrow": false, "nextArrow": false}'>
        <div class="item">
            <div class="background-slider" style="background-image:url(@(GlobalConfig.DefaultfileBaseUrl +"masternaut-homepage-banner.jpg"))">
            </div>
            <div class="inner">
                <div class="slide-content-block">
                    <span class="spanClass" style="color: white;">@ResponseMessages.HomeBannerTitle</span>
                    <div class="description" style="color: white;">@ResponseMessages.HomeBannerDesc</div>
                    <div class="magnific-video">
                        <a href="https://player.vimeo.com/video/274534163?autoplay=1&amp;loop=1" class="btn-hero play-icon">@ResponseMessages.SeeHow<span class="icon-play"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="main-blocks home-circles">
        <div class="content-block circle-content-block colour-block m-navy" data-waypoint="2">
            <div class="inner">
                <h1 id="what-is-telematics">@ResponseMessages.WhatIsTelematics</h1>
                <div class="body-text">
                    <p style="line-height: 5%;"> </p>
                    <p>@ResponseMessages.WhatIsTelematicsDesc</p>
                </div>
                <div class="content-pods">
                    <div class="pod pod-1 circular">
                        <div class="pod-inner">
                            <a href="@Url.Action("be-safer","benefits-of-telematics")" class="pod-img" style="background-image:url(@(GlobalConfig.DefaultfileBaseUrl + "safety-min.png")">
                                )
                            </a>
                            <div class="pod-text">
                                <div class="pod-heading">
                                    <h3>
                                        <a href="@Url.Action("be-safer","benefits-of-telematics")">
                                            @ResponseMessages.BeSafer
                                        </a>
                                    </h3>
                                </div>
                                <div class="inner-text">
                                    <p>@ResponseMessages.BeSaferShortDesc.</p>
                                </div>
                                <br />
                                <a href="@Url.Action("be-safer","benefits-of-telematics")" class="btn-primary large ">
                                    @ResponseMessages.SeeMore
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pod pod-2 circular">
                        <div class="pod-inner">
                            <a href="@Url.Action("save-more","benefits-of-telematics")" class="pod-img" style="background-image:url(@(GlobalConfig.DefaultfileBaseUrl + "savings-min.png")">
                            </a>
                            <div class="pod-text">
                                <div class="pod-heading">
                                    <h3>
                                        <a href="@Url.Action("save-more","benefits-of-telematics")">
                                            @ResponseMessages.SaveMore
                                        </a>
                                    </h3>
                                </div>
                                <div class="inner-text">
                                    <p> @ResponseMessages.SaveMoreShortDesc</p>
                                </div>
                                <br />
                                <a href="@Url.Action("save-more","benefits-of-telematics")" class="btn-primary large ">
                                    @ResponseMessages.SeeMore
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pod pod-3 circular">
                        <div class="pod-inner">
                            <a href="@Url.Action("boost-service","benefits-of-telematics")" class="pod-img" style="background-image:url(@(GlobalConfig.DefaultfileBaseUrl + "service-excellence-min.png")">
                            </a>
                            <div class="pod-text">

                                <div class="pod-heading">
                                    <h3>
                                        <a href="@Url.Action("boost-service","benefits-of-telematics")">
                                            @ResponseMessages.BoostService
                                        </a>
                                    </h3>
                                </div>
                                <div class="inner-text">
                                    <p><span> @ResponseMessages.BoostServiceShortDesc</span></p>
                                </div>
                                <br />
                                <a href="@Url.Action("boost-service","benefits-of-telematics")" class="btn-primary large ">
                                    @ResponseMessages.SeeMore
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="pod pod-4 circular">
                        <div class="pod-inner">
                            <a href="@Url.Action("go-greener","benefits-of-telematics")" class="pod-img" style="background-image:url(@(GlobalConfig.DefaultfileBaseUrl + "sustainability-min.png")">
                            </a>
                            <div class="pod-text">
                                <div class="pod-heading">
                                    <h3>
                                        <a href="@Url.Action("go-greener","benefits-of-telematics")">
                                            @ResponseMessages.GoGreener
                                        </a>
                                    </h3>
                                </div>
                                <div class="inner-text">
                                    <p> @ResponseMessages.GoGreenerShortDesc</p>
                                </div>
                                <br />
                                <a href="@Url.Action("go-greener","benefits-of-telematics")" class="btn-primary large ">
                                    @ResponseMessages.SeeMore
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-white" data-waypoint="3">
            <div class="inner">
                <h4 id="why-masternaut">@ResponseMessages.WhyMasternaut</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.WhyMasternautDesc1</p><br />
                    <p style="text-align: center;">@ResponseMessages.WhyMasternautDesc2</p><br />
                    <p style="text-align: center;">@ResponseMessages.WhyMasternautDesc3</p><br />
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("why-masternaut","about")" class="btn-primary large standard green">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="4">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="see-our-platform-in-action">@ResponseMessages.SeeOurPlatform</h2>
                    <div class="body-text">
                        <div class="vimeo_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;">
                                <iframe src="https://player.vimeo.com/video/273291713?seo=false&amp;videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="vimeo_embed" name="vimeo_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="100%" height="100%"></iframe>
                            </div>
                        </div>
                        <p> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <h4 id="four-steps-to-your-advantage">@ResponseMessages.FourStepsAdvantage</h4>
                <div class="body-text">
                    <p style="text-align: left;">@ResponseMessages.FourStepsAdvantageDescLine1</p>
                    <p style="text-align: left;">@ResponseMessages.FourStepsAdvantageDescLine2</p>
                    <ul style="text-align: left;">
                        <li>@ResponseMessages.AdvantageStep1</li>
                        <li>@ResponseMessages.AdvantageStep2</li>
                        <li>@ResponseMessages.AdvantageStep3</li>
                        <li>@ResponseMessages.AdvantageStep4</li>
                    </ul>
                    <p style="text-align: left;">@ResponseMessages.FindOutMore</p>
                </div>
                <ul class="btns">
                    <li>
                        <a href="../about/what-we-do/index.html" class="btn-primary large ">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h4 id="built-to-handle-big-data-securely">@ResponseMessages.BuiltToHandleBigDataSecurely</h4>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.BuiltToHandleBigDataSecurelyLine1 </p><br />
                        <p style="text-align: center;">@ResponseMessages.BuiltToHandleBigDataSecurelyLine2</p><br />
                        <p style="text-align: center;">@ResponseMessages.BuiltToHandleBigDataSecurelyLine3</p><br />
                        <p style="text-align: center;">@ResponseMessages.BuiltToHandleBigDataSecurelyLine4</p><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h4 id="connect-with-us">@ResponseMessages.ConnectWithUs</h4>
                    <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                    @Html.Partial("_getInTouch", new ContactUsModel())
                </div>
            </div>
        </div>
    </main>
    <main class="home case-studies-main">
        <div class="case-studies">
            <div class="inner">
                <div class="case-studies-heading">
                    <h2>@ResponseMessages.TrustedBy</h2>
                </div>
                <ul class='content-pods'>
                    @foreach (var stories in Model.StoriesList)
                    {
                        <li class='pod pod-1 case-study '>
                            <div class="pod-inner">
                                <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="pod-img" style="background-image:url(@(GlobalConfig.StoriesImageUrl + stories.ImageName));">
                                </a>
                                <div class="pod-text">
                                    <h4>
                                        <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title">
                                            @stories.Title
                                        </a>
                                    </h4>
                                    <div class="inner-text">
                                        <p> @Html.Raw(stories.Description)</p>
                                    </div>
                                    <a href="@Url.RouteUrl("ViewStories", new { @id = stories.Id,@title=stories.Title.Replace(" ","-") })" title="@stories.Title" class="btn-primary standard large green">
                                        @ResponseMessages.SeeMore
                                    </a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Type").val("Inquiry");
        });
    </script>
}
