﻿/* 	Standard Elements */

.aoFormContainer TABLE,
.aoFormContainer TR,
.aoFormContainer TD,
.aoFormContainer DIV,
.aoFormContainer TEXTAREA,
.aoFormContainer INPUT,
.aoFormContainer SELECT,
.aoFormContainer UL,
.aoFormContainer OL,
.aoFormContainer P {
    font-family: 'Nunito', sans-serif !important;
    font-size: 12px;
}

/* 	Forms Fields: Generic */

.formField {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    -moz-appearance: none;
}

    .formField > table {
        /* container for individual inputs */
        width: 100%;
    }

.sideBySideCell {
    /* contain side-by-side inputs to be 50% width each, regardless of overall form width */
    width: 50%;
}

.formFieldLabel {
    padding-bottom: 2px;
    -webkit-text-size-adjust: 100%;
}

.radioFieldLabel, .checkBoxFieldLabel {
    padding-right: 5px;
}

.formFieldLabelGood {
    padding-bottom: 2px;
    background: url(/acton/image/12x12yes.gif) center right no-repeat;
}

.formFieldLabelBad {
    padding-bottom: 2px;
    background: url(/acton/image/12x12no.gif) center right no-repeat;
}

.formFieldText {
    height: 24px;
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
}

.formTextArea {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
}

.formFieldTextError {
    height: 24px;
    border-style: none;
    border-left: #CC0000 solid 1px;
    border-top: #CC0000 solid 1px;
    border-right: #CC0000 solid 1px;
    border-bottom: #CC0000 solid 1px;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFCC;
}

.formFieldFile {
    height: 24px;
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFFF;
}

.formFieldFileError {
    height: 24px;
    border-style: none;
    border-left: #CC0000 solid 1px;
    border-top: #CC0000 solid 1px;
    border-right: #CC0000 solid 1px;
    border-bottom: #CC0000 solid 1px;
    font-size: 12px;
    color: #000000;
    background-color: #FFFFCC;
}

/* 	Width of input field blocks */

.formInputBlock {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

    /* General Form Element Size Limits */

    .aoFormContainer img, .formInputBlock table, .formInputBlock td {
        max-width: 600px !important;
    }

/* 	Form Field Sizes */

.formFieldSmall, .formTextAreaWidthSmall, .formField4Column {
    width: 100%;
    max-width: 150px;
}

.formFieldMedium, .formTextAreaWidthMedium, .formField2Column {
    width: 100%;
    max-width: 300px;
}

.formFieldLarge, .formTextAreaWidthLarge, .formField1Column {
    width: 100%;
    max-width: 600px;
}

.formField3Column {
    width: 100%;
    max-width: 200px;
}

.formFieldMediumLeft {
    width: 100%;
    max-width: 297px;
}

.formFieldMediumRight {
    width: 100%;
    max-width: 298px;
}

.formTextAreaSmall {
    width: 100%;
    max-width: 600px;
    height: 57px;
}

.formTextAreaMedium {
    width: 100%;
    max-width: 600px;
    height: 114px;
}

.formTextAreaLarge {
    width: 100%;
    max-width: 600px;
    height: 190px;
}

/*	Section Field */

.formSectionHeading {
    font-weight: bold;
    color: #FF3300;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formSectionDescription {
    padding-bottom: 10px;
    text-align: left;
}


/* Other styles */

input[type="checkbox"] {
    -moz-appearance: checkbox;
}

input[type="radio"] {
    -moz-appearance: radio;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ao_tbl_container {
    /* container class */
    width: 100%;
}
