﻿
/* General Form Settings */

TABLE, TR, TD, DIV, TEXTAREA, INPUT, SELECT, UL, OL {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #051e41;
    padding-bottom: 2px;
}

BODY {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


/* Form Field Styles */

.formFieldLabel {
    padding-left: 0px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    font-color: #051e41;
}

.formField input.formFieldText {
    height: 50px;
    border-style: none;
    border-left: #051e41 solid 1px;
    border-top: #051e41 solid 1px;
    border-right: #051e41 solid 1px;
    border-bottom: #051e41 solid 1px;
    border-radius: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: normal;
    color: #051e41;
    background-color: #ffffff;
}

.formField textarea.formTextArea {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
}

.radioFieldLabel {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
}

.checkboxFieldLabel {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
}

.formFieldFile {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
}

.formSectionDescription {
    border-style: none;
    border-left: #999999 solid 1px;
    border-top: #999999 solid 1px;
    border-right: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    font-size: 11px;
    color: #000000;
    background-color: #FFFFFF;
}


/* Element Sizes */

.formField {
    padding-top: 5px;
    padding-bottom: 5px;
    -moz-appearance: none;
    width: 100%;
    max-width: 600px;
}

.aoFormContainer img {
    max-width: 600px;
}

.formInputBlock table {
    max-width: 600px;
}

.formInputBlock td {
    max-width: 600px;
}

.formInputBlock {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.formFieldSmall {
    width: 100%;
    max-width: 150px;
}

.formFieldMedium {
    width: 300px;
    max-width: 300px;
}

.formFieldLarge {
    width: 100%;
    max-width: 600px;
}

.formFieldMediumLeft {
    width: 100%;
    max-width: 297px;
}

.formFieldMediumRight {
    width: 100%;
    max-width: 298px;
}

.formTextAreaSmall {
    width: 100%;
    max-width: 600px;
    height: 57px;
}

.formTextAreaMedium {
    width: 100%;
    max-width: 600px;
    height: 114px;
}

.formTextAreaLarge {
    width: 100%;
    max-width: 600px;
    height: 190px;
}

.formTextAreaWidthSmall {
    width: 100%;
    max-width: 150px;
    max-width: 300px;
}

.formTextAreaWidthMedium {
    width: 100%;
    max-width: 300px;
}

.formTextAreaWidthLarge {
    width: 100%;
    max-width: 600px;
}

.formField1Column {
    width: 100%;
    max-width: 600px;
}

.formField2Column {
    width: 100%;
    max-width: 300px;
}

.formField3Column {
    width: 100%;
    max-width: 200px;
}

.formField4Column {
    width: 100%;
    max-width: 150px;
}


/* Error Handling Support */

.formFieldLabelGood {
    padding-bottom: 2px;
    background: url(/acton/image/12x12yes.gif) center right no-repeat;
}

.formFieldLabelBad {
    padding-bottom: 2px;
    background: url(/acton/image/12x12no.gif) center right no-repeat;
}

.formFieldTextError {
    height: 19px;
    border-style: none;
    border-left: #CC0000 solid 1px;
    border-top: #CC0000 solid 1px;
    border-right: #CC0000 solid 1px;
    border-bottom: #CC0000 solid 1px;
    font-size: 11px;
    color: #CC0000;
    background-color: #FFFFCC;
}

.formFieldFileError {
    height: 19px;
    border-style: none;
    border-left: #CC0000 solid 1px;
    border-top: #CC0000 solid 1px;
    border-right: #CC0000 solid 1px;
    border-bottom: #CC0000 solid 1px;
    font-size: 11px;
    color: #CC0000;
    background-color: #FFFFCC;
}


/* Standard Browser Look & Feel Housekeeping */

input[type="checkbox"] {
    -moz-appearance: checkbox;
}

input[type="radio"] {
    -moz-appearance: radio;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
