.mm-hidden {
    display: none !important;
}

.mm-wrapper {
    overflow-x: hidden;
    position: relative;
}

.mm-menu {
    box-sizing: border-box;
    background: inherit;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    z-index: 99999;
}

.mm-menu {
    display: none;
}

.mm-opened {
    display: block;
    transition: translate3d(-100%, 0, 0);
}

.mm-opening {
    transition: translate3d(0, 0, 0);
}

.mm-panels,
.mm-panels>.mm-panel {
    background: inherit;
    border-color: inherit;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.mm-panels {
    overflow: hidden;
}

.mm-panel {
    transition: transform 0.4s ease;
    transform: translate(100%, 0);
    transform: translate3d(100%, 0, 0);
}

.mm-panel.mm-opened {
    transform: translate(0%, 0);
    transform: translate3d(0%, 0, 0);
}

.mm-panel.mm-subopened {
    transform: translate(-30%, 0);
    transform: translate3d(-30%, 0, 0);
}

.mm-panel.mm-highest {
    z-index: 1;
}

.mm-panels>.mm-panel {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.mm-panels>.mm-panel.mm-hasnavbar {
    padding-top: 60px;
}

.mm-panels>.mm-panel:not(.mm-hidden) {
    display: block;
}

.mm-panels>.mm-panel:after {
    content: '';
    display: block;
    height: 20px;
}

.mm-vertical .mm-panel {
    transform: none !important;
}

.mm-vertical .mm-listview .mm-panel,
.mm-listview .mm-vertical .mm-panel {
    display: none;
    padding: 10px 0 10px 10px;
}

.mm-vertical .mm-listview .mm-panel .mm-listview>li:last-child:after,
.mm-listview .mm-vertical .mm-panel .mm-listview>li:last-child:after {
    border-color: transparent;
}

.mm-vertical li.mm-opened>.mm-panel,
li.mm-vertical.mm-opened>.mm-panel {
    display: block;
}

.mm-vertical .mm-listview>li>.mm-next,
.mm-listview>li.mm-vertical>.mm-next {
    height: 38px;
    bottom: auto;
}

.mm-vertical .mm-listview>li>.mm-next:after,
.mm-listview>li.mm-vertical>.mm-next:after {
    top: 15px;
    bottom: auto;
}

.mm-vertical .mm-listview>li.mm-opened>.mm-next:after,
.mm-listview>li.mm-vertical.mm-opened>.mm-next:after {
    transform: rotate(225deg);
    right: 19px;
}

.mm-btn {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0;
    z-index: 1;
}

.mm-clear,
.mm-close {
    left: auto;
    right: 15px;
}

.mm-clear:before,
.mm-clear:after,
.mm-close:before,
.mm-close:after {
    position: absolute;
    left: 14px;
    top: 4px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: rgb(0, 226, 188);
}

.mm-clear:before,
.mm-close:before {
    transform: rotate(45deg);
}

.mm-clear:after,
.mm-close:after {
    transform: rotate(-45deg);
}

.mm-prev:before,
.mm-next:after {
    content: '';
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    width: 11px;
    height: 11px;
    margin: auto;
    position: absolute;
    top: 3px;
    bottom: 0;
}

.mm-prev:before {
    border-color: #0c5c99;
    transform: rotate(-45deg);
    left: 17px;
    right: auto;
}

.mm-next:after {
    /*text-align: center;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent white;*/
    text-align: center; 
    right: 10px; 
    width: 0; 
    height: 0; 
    border-style: solid; 
    border-width: 9px 0 9px 10px; 
    border-color: transparent transparent transparent rgb(0, 226, 188); 
}

.mm-navbar {
    text-align: center;
    line-height: 19px;
    height: 60px;
    padding: 0 65px 0 25px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.mm-navbar>* {
    display: block;
    padding-bottom: 10px;
}

.mm-navbar a,
.mm-navbar a:hover {
    text-decoration: none;
}

.mm-navbar .mm-title {
    display: none;
}

.mm-navbar .mm-btn {
    text-align: center;
    top: 20px;
}

.mm-navbar .mm-btn.mm-close {
    color: rgb(0, 226, 188);
    right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.mm-navbar .mm-btn.mm-prev {
    left: 10px;
}

.mm-panel .mm-navbar {
    display: none;
}

.mm-panel.mm-hasnavbar .mm-navbar {
    display: block;
}

.mm-listview,
.mm-listview>li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
    text-align: left;
}

.mm-listview>li.hide-mobile {
    display: none;
}

.mm-listview>li {
    border-bottom: 1px solid rgb(0, 226, 188);
}

.mm-listview>li.content-bottom {
    border-bottom: none;
    box-shadow: none;
}

.mm-listview {
    font: inherit;
    font-size: 14px;
    margin-top: -20px;
    padding: 95px 15px 15px 15px;
    line-height: 18px;
}

.mm-listview a,
.mm-listview a:hover {
    text-decoration: none;
}

.mm-listview>li {
    position: relative;
    /*height: 48px;*/
}
.mm-listview>li:first-child {
    height: 5px;
}
.mm-listview>li.content-bottom.support a {
    margin-left: 10px;
}
.mm-listview>li.content-bottom.phone-number a {
    margin-right: 10px;
}
.mm-listview>li.content-bottom.support a, .mm-listview>li.content-bottom.phone-number a {
    padding-top: 10px;
}
.mm-listview>li.content-bottom.support {
    width: 30%;
    float: left;
    padding: 5px 0;
}
.mm-listview>li.content-bottom.support a, .mm-listview>li.content-bottom.phone-number a {
    padding-top: 10px;
}
.mm-listview>li.content-bottom.phone-number {
    width: 70%;
    float: right;
    padding-top: 5px;
    text-align: right;
    position: relative;
}
.mm-listview>li.content-bottom a {
    padding-left: 0 !important;
    padding-right: 0 !important; 
}
.mm-listview>li.related-websites:before {
    border-color: black !important;
}

.mm-listview>li a:not(.mm-next) {
    padding-right: 48px;
    padding-left: 10px;
}

.mm-listview>li.contact-number {
    font-size: 1.25em;
    font-weight: 300;
    padding-top: 30px;
}

.mm-listview>li.contact-number:before {
    display: none !important;
}

.mm-listview>li>a,
.mm-listview>li>span {
    color: white;
    display: block;
    padding-top: 18px;
    padding-bottom: 13px;
    margin: 0;
}
.mm-listview>li>a.quote {
    display: none;
}


/*
.mm-listview {
    border-top: 1px solid #0c5c99;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(27, 116, 187, 1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(27, 116, 187, 1);
    box-shadow: 0px 5px 0px 0px rgba(27, 116, 187, 1);
}*/

.mm-listview .mm-next {
    background: rgba(3, 2, 1, 0);
    width: 48px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.mm-listview .top-level-mob .mm-next {
    width: 100%;
}
.mm-listview .top-level-mob.aboutUs .mm-next {
    width: 48px;
}
.mm-listview .mm-next.mm-fullsubopen {
    width: 100%;
}

.mm-listview .mm-next.mm-fullsubopen:before {
    border-left: none;
}

.mm-listview .mm-next.mm-fullsubopen+a,
.mm-listview .mm-next.mm-fullsubopen+span {
    padding-right: 48px;
    margin-right: 0;
}

.mm-listview .mm-inset {
    list-style: inside disc;
    padding: 0 10px 15px 40px;
    margin: 0;
}

.mm-listview .mm-inset>li {
    padding: 5px 0;
}

.mm-listview .mm-divider {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 24px;
}

.mm-listview .mm-spacer {
    padding-top: 38px;
}

.mm-listview .mm-spacer>.mm-next {
    top: 38px;
}

.mm-listview .mm-spacer.mm-divider {
    padding-top: 24px;
}

.mm-menu {
    background: rgb(5, 30, 65);
    color: #0c5c99;
}

.mm-menu .mm-navbar>*,
.mm-menu .mm-navbar a {
    color: white;
}

.mm-menu .mm-btn:before,
.mm-menu .mm-btn:after {
    border-color: white;
}

.mm-menu .mm-listview {
    border-color: rgba(0, 0, 0, 0.1);
}

.mm-menu .mm-listview>li a:not(.mm-next) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
    tap-highlight-color: rgba(255, 255, 255, 0.5);
}

.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu .mm-listview>li.mm-selected>span {
    background: rgba(255, 255, 255, 0.5);
}

.mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next,
.mm-menu.mm-vertical .mm-listview>li.mm-opened>.mm-panel,
.mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next,
.mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel {
    background: rgba(0, 0, 0, 0.05);
}

.mm-menu .mm-divider {
    background: rgba(0, 0, 0, 0.05);
}

.mm-breadcrumbs {
    color: white;
    position: relative;
    z-index: 500;
    top: 30px;
    left: 0px;
    text-align: left;
}
.mm-breadcrumbs a {
    padding-right: 5px;
}
.mm-separator {
    position: relative;
    color: rgb(0, 226, 188);
}

/*.mm-separator:after {
    font-family: icomoon;
    content: "\e902";
    position: absolute;
    right: 6px;
    top: 0px;
    color: #fff;
}*/