﻿@model StoriesAddUpdateModel
@{
    string Action = ViewBag.Action;
    ViewBag.Title = Action;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/uploadImage")
@Styles.Render("~/css/wizard")
@Styles.Render("~/css/summernote")
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">@Action Stories</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        @using (Html.BeginForm(Action, "Stories", FormMethod.Post, new { @id = "submitForm", @class = "steps-validation wizard-circle", @enctype = "multipart/form-data" }))
                        {
                            if (Model != null && Model.Id > 0)
                            {
                                @Html.HiddenFor(x => x.Id)
                            }
                            @Html.HiddenFor(x => x.imageName)

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.Partial("_ImageUpload", new UploadImageModel() { imageUrl = GlobalConfig.StoriesImageUrl + Model.imageName, saveFilePath = GlobalConfig.StoriesImagePath, hdnImageName = "imageName" })
                                        @Html.HiddenFor(x => x.imageName)
                                        @Html.ValidationMessageFor(x => x.imageName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.DropDownListFor(x => x.IndustryTypeId, new SelectList(ViewData["IndustryTypeSList"] as IEnumerable<SelectListItem>, "Value", "Text"), "Select Industry type", new { @class = "form-control required" })
                                        @Html.ValidationMessageFor(x => x.IndustryTypeId)
                                    </div>
                                </div>
                            </div>
                            for (int i = 0; i < Model.StoriesLanguagemodellist.Count; i++)
                            {
                                @Html.HiddenFor(x => x.StoriesLanguagemodellist[i].Language)
                                <h6>@Model.StoriesLanguagemodellist[i].LanguageName</h6>

                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.TextBoxFor(x => x.StoriesLanguagemodellist[i].Title, new { @class = "form-control required", @placeholder = "Please enter title here" })
                                                @Html.ValidationMessageFor(x => x.StoriesLanguagemodellist[i].Title)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.TextAreaFor(x => x.StoriesLanguagemodellist[i].Description, new { @class = "form-control required txtDescription" })
                                                @Html.ValidationMessageFor(x => x.StoriesLanguagemodellist[i].Description)
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    @Scripts.Render("~/jQuery/uploadImage")
    @Scripts.Render("~/jQuery/stepWizard")
    @Scripts.Render("~/jQuery/summernote")
    <script type="text/javascript">
        ActiveMenu("Stories");
        $('.txtDescription').summernote({
            height: 200,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: false,
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
            ],
        });
    </script>
}