﻿@model IQueryable<StoriesViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
@helper LoadImage(string Imagename)
{
    <img src="@(GlobalConfig.StoriesImageUrl + Imagename )" alt="No Image" height="100" width="100" />
}
@helper ActionButtons(long Id)
{
    <div class="form-group row">
        <a href="@Url.Action("Edit", "Stories", new { @id = Id})" class="btn btn-sm btn-primary btn-dark">
            <i class="icon-edit2"></i> Edit
        </a>
        <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@Id">
            <i class="icon-trash-o"></i> Delete
        </a>
    </div>
}
@helper StoriesyLanguageList(List<StoriesLanguageModel> model)
{
    <ul>
        @foreach (var item in model)
        {
            <li>
                <i class="fa fa-caret-right"></i>
                @item.LanguageName :- @Html.Raw(item.Title)
            </li>
        }
    </ul>
}
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Customer Stories</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                            <li class="btn btn-white">
                                <a href="@Url.Action("Add")" class="primary">
                                    <i class="icon-plus3 primary"></i>&nbsp;Add New
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add().Titled("Image").Sanitized(false).Encoded(false).RenderValueAs(x => LoadImage(x.imageName));

                               column.Add(x=>x.IndustryType)
                              .Titled("Industry Type")
                              .Encoded(false)
                              .Filterable(true)
                              .Sortable(true)
                              .Sanitized(false);

                               column.Add()
                               .Titled("Stories title")
                               .Encoded(false)
                               .Sanitized(false)
                               .RenderValueAs(x => StoriesyLanguageList(x.StoriesLanguagemodellist));

                               column.Add()
                               .Titled("Action")
                               .Sanitized(false).Encoded(false)
                               .RenderValueAs(x => ActionButtons(x.Id));

                           }).Selectable(false).WithPaging(GlobalConfig.AdminPageSize)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Stories");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
         $(function () {
             $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}

