﻿@{
    ViewBag.Title = ResponseMessages.CompanyBrochure;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap company-brochure internationallandingpage ">
    <main>
        <div class="page-content">
            <div class="inner">
                <h1>@ResponseMessages.Seize_your_unseen_advantage</h1>
                <div class="body-text">
                    <p style="text-align: center;"><span>@ResponseMessages.Seize_your_unseen_advantage_Desc</span></p>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="content-left">
                    <div class="content-text body-text">
                        @Html.Partial("_FeedbackForm", new ContactUsModel())
                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">
                        <p style="text-align: center;">
                            <img style="position: inline; max-width: 99%; max-height: 99%; top: 0; left: 0; right: 0; bottom: 0; margin: auto; border-radius: 3px;" src="@(GlobalConfig.DefaultfileBaseUrl+"masternaut-brochure-front-cover.png")">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Type").val('@ContactUsType.Brochure.ToString()');
        });
    </script>
}
