﻿@{
    ViewBag.Title = ResponseMessages.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ContactUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>A propos de MASTERNAUT BENELUX</h1>
            <p>Plus de 10.000 entreprises nous font confiance. Pourquoi pas vous?</p>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Laissez-nous vous aider à gerer de manière plus efficace votre flotte de véhicule . En tant que pionier dans la télématique, nous avons accumulé une expérience de plus de 20 ans afin de vous offrir la meilleure solution de gestion de flotte du marché. Notre logiciel innovant and notre technologie brevétée sont les leaders du marché.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Ce que nous faisons
                    </h2>
                    <div class="body-text">
                        <p>Nous transformons les données de votre flotte afin que vous puissiez avoir un impact sur votre activité. Notre plateforme online génère des réponses immédiates via un tableau de bord intuitif</p><br />
                        <ul>
                            <li>Accès sécurisé en mode lecture à vos véhicules</li>
                            <li>Consommation, arrêt moteur tournant, vitesse, kilométrage exactes</li>
                            <li>ous les véhicules sur une carte</li>
                            <li>Visible sur plusieurs appareils (PC, smartphones, tablettes,…)</li>
                            <li>Rapports clairs et modifiables</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/improve-fleet-savings.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Les avantages en bref
                    </h2>
                    <div class="body-text">
                        <p>Nous aidons nos clients à gérer de manière plus efficace la sécurité de leurs employés, à générer des économies, à améliorer la qualité de leur service et à diminuer l'empreinte écologique. Quel est votre objectif?</p><br />
                        <ul>
                            <li>Sécurité- nos clients évitent 300 accidents/an</li>
                            <li>Economie- épargnez 65 € par mois par véhicule</li>
                            <li>Service- Fournissez un service "best in class"</li>
                            <li>Empreinte écologique- Réduisez et mesurez l'empreinte écologique</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/nl-cu.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Où sommes-nous?
                    </h2>
                    <div class="body-text">
                        <p>
                            Masternaut BENELUX<br />
                            Pasteurlaan 23<br />
                            1300 Waver<br />
                            BELGIUM<br /><br />
                            Numéro de téléphone: +32 (0)2-352-60-50
                        </p><br />
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div class="main-wrap contact-us contactpage ">
        <main>
            <div class="inner">
                <div class="page-content two-col blog">
                    <div class="content-main full">
                        <div class="form">
                            <h1>@ResponseMessages.ConnectWithUs</h1>
                            <div class="form-inner">
                                <p> </p>
                                <p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnectWithUsTagline</span></p>
                                <br />
                                @*<p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnectWithUsTagline</span></p>
                                <br />*@
                                <p>
                                    @Html.Partial("_getInTouch", new ContactUsModel())
                                </p>
                            </div>
                        </div>
                        <div class="contacts">
                            <h4>@ResponseMessages.Contact_Useful_Contact</h4>
                            <ul class="contact-list">
                                <li class="contact">
                                    <div class="contact-content">
                                        <h5>BENELUX</h5>
                                        <p><span>Renseignements généraux: </span><a href="tel:3233506050">(32) 2 350-60-50</a></p>
                                        <p><a href="mailto:info@masternaut.be">info@masternaut.be</a></p>
                                        <p> </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var val = @ViewBag.Type;
            $("#Type").val(val);
        });
    </script>
}
