﻿@{
    ViewBag.Title = ResponseMessages.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ContactUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>About Masternaut BENELUX</h1>
            <p>Over 10,000 businesses trust us already - why not you?</p>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Let us help you run a smarter fleet. As a pioneer of the telematics industry, we have over 20 years’ experience in providing vehicle tracking solutions to businesses like yours. Our innovative software platform and patented technology lead the market.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        What we do
                    </h2>
                    <div class="body-text">
                        <p>We transform fleet data into real business impact. Our GPS devices lead the market in accuracy. Our online platform delivers instant answers on an intuitive, responsive dashboard.</p><br />
                        <ul>
                            <li>Safe read-only connection to vehicles</li>
                            <li>Exact MPG, speed, idling and mileage</li>
                            <li>All vehicles on one map</li>
                            <li>Viewable across devices (pc, smartphones, tablets,…)</li>
                            <li>Set permissions & tailor reports</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/improve-fleet-savings.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">
                        The benefits in brief
                    </h2>
                    <div class="body-text">
                        <p>We help our customers be smarter about safety, savings, service excellence and sustainability. What’s your objective?</p><br />
                        <ul>
                            <li>safety - our customers avoid 300 accidents every year</li>
                            <li>savings - save 65 € per vehicle every month</li>
                            <li>service - Delight customers with best-in-class service</li>
                            <li>Viewable across devices (p c, smartphones, tablets,…)</li>
                            <li>sustainability - Reduce your carbon footprint & measure it</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/nl-cu.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Where we are
                    </h2>
                    <div class="body-text">
                        <p>
                            Masternaut BENELUX<br />
                            Pasteurlaan 23<br />
                            1300 Waver<br />
                            BELGIUM<br /><br />
                            Telefon: +32 (0)2-352-60-50
                        </p><br />
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div class="main-wrap contact-us contactpage ">
        <main>
            <div class="inner">
                <div class="page-content two-col blog">
                    <div class="content-main full">
                        <div class="form">
                            <h1>@ResponseMessages.ConnectWithUs</h1>
                            <div class="form-inner">
                                <p> </p>
                                <p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnecUsTagline1</span></p>
                                <br />
                                <p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnecUsTagline2</span></p>
                                <br />
                                <p>
                                    @Html.Partial("_getInTouch", new ContactUsModel())
                                </p>
                            </div>
                        </div>
                        <div class="contacts">
                            <h4>@ResponseMessages.Contact_Useful_Contact.</h4>
                            <ul class="contact-list">
                                <li class="contact">
                                    <div class="contact-content">
                                        <h5>BENELUX</h5>
                                        <p><span>General enquiries: </span><a href="tel:3233506050">(32) 2 350-60-50</a></p>
                                        <p><a href="mailto:info@masternaut.be">info@masternaut.be</a></p>
                                        <p> </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var val = @ViewBag.Type;
            $("#Type").val(val);
        });
    </script>
}
