﻿@{
    ViewBag.Title = ResponseMessages.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap about aboutpage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(@(GlobalConfig.DefaultfileBaseUrl+"new-banner.png"));background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ContactUs</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        
        <div class="inner-banner banner-text">
            <h1>
                Over Masternaut BENELUX
            </h1>
            <p>Meer dan 10,000 bedrijven vertrouwen ons al, waarom u niet ?</p>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Laat ons van uw wagenpark een “Smart Fleet”worden. Als voortrekker van de telematica-industrie hebben we meer dan 20 jaar ervaring in track-en-trace oplossingen voor bedrijven zoals U. Onze innovatieve software-platform en patenten leiden de markt in.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/telematics.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Wat wij doen
                    </h2>
                    <div class="body-text">
                        <p>Wij vertalen vlootgegevens in betekenisvolle bedrijfsinformatie. Onze GPS-toestellen leiden de markt in nauwkeurigheid. Ons online platform biedt direct antwoord op een intuïtieve, responsieve dashboard.</p><br />
                        <ul>
                            <li>Veilig “read-only”-verbinding met voertuigen</li>
                            <li>Exact verbruik, snelheid, stationair en afstand</li>
                            <li>Alle voertuigen op één kaart</li>
                            <li>Zichtbaar op meerdere toestellen (pc, smartphone,…)</li>
                            <li>Wijzigbare machtigingen en duidelijke rapporten</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="3">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/improve-fleet-savings.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Onze voordelen in één overzicht
                    </h2>
                    <div class="body-text">
                        <p>Wij helpen onze klanten meer bewust te zijn van veiligheid, milieu-besparingen, service excellence en duurzaamheid. Wat is u doel ?</p><br />
                        <ul>
                            <li>Veiligheid: Onze klanten vermijden 300 ongevallen per jaar</li>
                            <li>Verbruik: bespaar €65 per voertuig per maand</li>
                            <li>Service: vrolijke klanten met eerste klasse naverkoop</li>
                            <li>Duurzaamheid: verminder uw Co2-uitstoot en meet het</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-blue" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/nl-cu.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="we-are-a-window-into-your-fleet">
                        Wie zijn we?
                    </h2>
                    <div class="body-text">
                        <p>
                            Masternaut BENELUX<br />
                            Pasteurlaan 23<br />
                            1300 Waver<br />
                            België<br /><br />
                            Telefoon: +32(0)2/352.60.50
                        </p><br />
                    </div>
                </div>
            </div>
        </div>

    </main>
    <div class="main-wrap contact-us contactpage ">
        <main>
            <div class="inner">
                <div class="page-content two-col blog">
                    <div class="content-main full">
                        <div class="form">
                            <h1>@ResponseMessages.ConnectWithUs</h1>
                            <div class="form-inner">
                                <p> </p>
                                <p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnectWithUsTagline</span></p>
                                <br />
                                @*<p style="font-size: 14pt; line-height: 20px; text-align: center;"><span style="color: #00447b;">@ResponseMessages.ConnectWithUsTagline</span></p>
                                <br />*@
                                <p>
                                    @Html.Partial("_getInTouch", new ContactUsModel())
                                </p>
                            </div>
                        </div>
                        <div class="contacts">
                            <h4>@ResponseMessages.Contact_Useful_Contact</h4>
                            <ul class="contact-list">
                                <li class="contact">
                                    <div class="contact-content">
                                        <h5>BENELUX</h5>
                                        <p><span>algemene vragen:</span><a href="tel:3233506050">(32) 2 350-60-50</a></p>
                                        <p><a href="mailto:info@masternaut.be">info@masternaut.be</a></p>
                                        <p> </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var val = @ViewBag.Type;
            $("#Type").val(val);
        });
    </script>
}
