﻿@{
    ViewBag.Title = ResponseMessages.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Type = ViewBag.Type
}
<div class="main-wrap connect-with-us internationallandingpage ">
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <h1 style="text-align: center; line-height: 90%;"><span style="font-size: 36pt;">@ResponseMessages.ConnectWithUs</span></h1>
                    <p style="text-align: center;">@ResponseMessages.ContactWithUsPageLine1</p>
                    <p style="text-align: center;">@ResponseMessages.ContactWithUsPageLine2</p>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block m-green" data-waypoint="3">
            <div class="block-text full">
                <div class="inner">
                    <div class="body-text">
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             var val = @ViewBag.Type;
            $("#Type").val(val);
        });
    </script>
}


