﻿@{
    ViewBag.Title = ResponseMessages.ContactUs;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap reason-for-enquiry goalspage ">
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <h1>@ResponseMessages.Reason_for_enquiry</h1>
                    <div class="body-text">
                        <p style="text-align: center;"><span>@ResponseMessages.ConnectWithUsTagline</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="body-text">
                    <p style="text-align: center;">
                       @ResponseMessages.Please_select_the_purpose_for_your_enquiry
                    </p>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Support})" class="btn-primary large alt">
                            @ResponseMessages.Customer_support
                        </a>
                    </li>
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Sales})" class="btn-primary large alt">
                            @ResponseMessages.Sales_enquiry
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
