﻿@model IQueryable<ContactUsViewModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Brochure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/css/gridMvc")
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card box-shadow-0 border-primary">
                <div class="card-header card-head-inverse bg-primary">
                    <h4 class="card-title">All Brochure downloaded user</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4 white font-size-large"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2 white font-size-large"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {

                               column.Add(x => x.Name)
                               .Titled("Name")
                               .Sortable(true)
                               .Encoded(false)
                               .Sanitized(false);

                               column.Add(x => x.Email)
                              .Titled("Email")
                              .Sortable(true)
                              .Filterable(true)
                              .Encoded(false)
                              .Sanitized(false);

                               column.Add(x => x.FleetSize)
                               .Titled("Fleet Size")
                               .Sortable(true)
                               .Encoded(false)
                               .Sanitized(false);

                               column.Add(x => x.DateTime)
                               .Format("{0:dd-MMM-yyyy}")
                               .Titled("Date")
                               .Encoded(false)
                               .Sanitized(false);


                           }).Selectable(false).WithPaging(GlobalConfig.AdminPageSize)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Brochure");
        $(".jsgrid-grid-body").css('overflow-x', 'auto');
    </script>
}