﻿@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap privacy-policy textpage ">
    <main>
        <div class="inner">
            <div class="page-content two-col blog">
                <div class="content-main">
                    <h1>Telematics Website - Privacy Policy</h1>
                    <div class="body-text">
                        <p>Masternaut are committed to safeguarding and preserving the privacy of our visitors.</p>
                        <p>This Privacy Policy explains what happens to any personal data that you provide to us, or that we collect from you whilst you visit our Telematics website.</p>
                        <p>We do update this Policy from time to time so please do review this Policy regularly.</p>
                        <p>INFORMATION WE COLLECT</p>
                        <p>In running and maintaining our website we may collect and process the following data about you:</p>
                        <p>Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.</p>
                        <p>Information provided voluntarily by you. For example, when you register for information.</p>
                        <p>Information that you provide when you communicate with us by any means.</p>
                        <p>USE OF COOKIES</p>
                        <p>Cookies provide information regarding the computer used by a visitor. We may use cookies where appropriate to gather information about your computer in order to assist us in improving our website.</p>
                        <p>We may gather information about your general internet use by using the cookie. Where used, these cookies are downloaded to your computer and stored on the computer’s hard drive. Such information will not identify you personally. It is statistical data. This statistical data does not identify any personal details whatsoever.</p>
                        <p>You can adjust the settings on your computer to decline any cookies if you wish. This can easily be done by activating the reject cookies setting on your computer.</p>
                        <p>Our advertisers may also use cookies, over which we have no control. Such cookies (if used) would be downloaded once you click on advertisements on our website.</p>
                        <p>USE OF YOUR INFORMATION</p>
                        <p>We use the information that we collect from you to provide our services to you. In addition to this we may use the information for one or more of the following purposes:</p>
                        <p>To provide information to you that you request from us relating to our products or services.</p>
                        <p>To provide information to you relating to other products that may be of interest to you. Such additional information will only be provided where you have consented to receive such information.</p>
                        <p>To inform you of any changes to our website, services or goods and products.</p>
                        <p>If you have previously purchased goods or services from us we may provide to you details of similar goods or services, or other goods and services, that you may be interested in.</p>
                        <p>Where your consent has been provided in advance we may allow selected third parties to use your data to enable them to provide you with information regarding unrelated goods and services which we believe may interest you. Where such consent has been provided it can be withdrawn by you at any time.</p>
                        <p>STORING YOUR PERSONAL DATA</p>
                        <p>In operating our website it may become necessary to transfer data that we collect from you to locations outside of the European Union for processing and storing. By providing your personal data to us, you agree to this transfer, storing or processing. We do our upmost to ensure that all reasonable steps are taken to make sure that your data is treated stored securely.</p>
                        <p>Unfortunately the sending of information via the internet is not totally secure and on occasion such information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, such information is entirely at your own risk.</p>
                        <p>DISCLOSING YOUR INFORMATION</p>
                        <p>We will not disclose your personal information to any other party other than in accordance with this Privacy Policy and in the circumstances detailed below:</p>
                        <p>i. In the event that we sell any or all of our business to the buyer.</p>
                        <p>ii. Where we are legally required by law to disclose your personal information.</p>
                        <p>iii. To further fraud protection and reduce the risk of fraud.</p>
                        <p>THIRD PARTY LINKS</p>
                        <p>On occasion we include links to third parties on this website. Where we provide a link it does not mean that we endorse or approve that site’s policy towards visitor privacy. You should review their privacy policy before sending them any personal data.</p>
                        <p>CONTACTING US</p>
                        <p>Please do not hesitate to contact us regarding any matter relating to this Privacy Policy at: uk-info@masternaut.com</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>