﻿@model ContactUsModel
@{
    string cultureLang = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<style>
    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
</style>
@using (Ajax.BeginForm("SaveContactUs", "Utility", null, new AjaxOptions { HttpMethod = "POST", OnComplete = "fnContactClearForm" }, new { @id = "frmContactUs" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Type)
    <div id="ao_alignment_container" class="aoFormContainer" align="center">
        <div class="divErrorSubmit" style="color:#051e41;font-size:x-large" align="center"></div>
        <br />
        <table class="ao_tbl_container" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                    <div align="left">
                        <div class="formField">
                            <div class="formFieldLabel" id="form_0136_fld_0-Label">
                                <label>@ResponseMessages.Name</label>
                                <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                            </div>
                            @Html.TextBoxFor(x => x.Name, new { @class = "formFieldText formFieldLarge" })
                            @Html.ValidationMessageFor(x => x.Name)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                    <div align="left">
                        <div class="formField">
                            <div class="formFieldLabel" id="form_0136_fld_1-Label">
                                <label>@ResponseMessages.FleetSize</label>
                                <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                            </div>
                            @Html.TextBoxFor(x => x.FleetSize, new { @class = "formFieldText formFieldLarge", @type = "number" })
                            @Html.ValidationMessageFor(x => x.FleetSize)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                    <div align="left">
                        <div class="formField">
                            <div class="formFieldLabel" id="form_0136_fld_2-Label">
                                <label>@ResponseMessages.Email</label>
                                <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                            </div>
                            @Html.TextBoxFor(x => x.Email, new { @class = "formFieldText formFieldLarge" })
                            @Html.ValidationMessageFor(x => x.Email)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                    <div align="left">
                        <div class="formField">
                            <div class="formFieldLabel" id="form_0136_fld_3-Label">
                                <label>@ResponseMessages.Phone</label>
                                <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                            </div>
                            @Html.TextBoxFor(x => x.Phone, new { @class = "formFieldText formFieldLarge" })
                            @Html.ValidationMessageFor(x => x.Phone)
                        </div>
                    </div>
                </td>
            </tr>
            <tr align="right">
                <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px; padding-top: 40px;">
                    <div align="right">
                        <div class="formField">
                            @switch (cultureLang)
                            {
                                case "en-GB":
                                    <button><img src="@Url.Content("~/Content/Images/btn-Submit-en.png")"></button>
                                    break;
                                case "nl-NL":
                                    <button><img src="@Url.Content("~/Content/Images/btn-Submit-nl.png")"></button>
                                    break;
                                case "fr-FR":
                                    <button><img src="@Url.Content("~/Content/Images/btn-Submit-fr.png")"></button>
                                    break;
                                default:
                                    <button><img src="@Url.Content("~/Content/Images/btn-Submit-en.png")"></button>
                                    break;
                            }
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}
<script type="text/javascript">
    function fnContactClearForm(data) {
        $('.divErrorSubmit').text(data.responseJSON.Message);
        if (data.responseJSON.Status == 1) {
            toastr.error(data.responseJSON.Message, 1);
            $('#Name').val('');
            $('#FleetSize').val('');
            $('#Email').val('');
            $('#Phone').val('');
            window.open(data.responseJSON.Result, 'brochure');
           
        }
        else {
            $('.divErrorSubmit').css("color", "Red");
            toastr.error(data.responseJSON.Message, 0);
        }
    }
</script>