﻿@model ContactUsModel
@{
    string cultureLang = System.Globalization.CultureInfo.CurrentCulture.ToString();
}
<style>
    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
</style>
@using (Ajax.BeginForm("SaveContactUs", "Utility", null, new AjaxOptions { HttpMethod = "POST", OnComplete = "fnContactClearForm" }, new { @id = "frmContactUs" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.Type)
    <div class="body-text">
        <div class="divErrorSubmit" style="color:green;font-size:x-large" align="center"></div>
        <br />
        <table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td width="100%" valign="top">
                        <div id="ao_alignment_container" class="aoFormContainer" align="center">
                            <table class="ao_tbl_container" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                                            <div align="left">
                                                <div class="formField">
                                                    <table cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="formFieldLabel sideBySideCell">
                                                                    <label>@ResponseMessages.Name</label>
                                                                    <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                                                                </td>
                                                                <td class="formFieldLabel sideBySideCell" style="padding-left: 5px">
                                                                    <label>@ResponseMessages.FleetSize</label>
                                                                    <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="sideBySideCell">
                                                                    @Html.TextBoxFor(x => x.Name, new { @class = "formFieldText formFieldMediumLeft" })
                                                                    @Html.ValidationMessageFor(x => x.Name)
                                                                </td>
                                                                <td class="sideBySideCell" style="padding-left: 5px">
                                                                    @Html.TextBoxFor(x => x.FleetSize, new { @class = "formFieldText formFieldMediumLeft", @type = "number" })
                                                                    @Html.ValidationMessageFor(x => x.FleetSize)

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                                            <div align="left">
                                                <div class="formField">
                                                    <table cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="formFieldLabel sideBySideCell">
                                                                    <label>@ResponseMessages.Email</label>
                                                                    <b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                                                                </td>
                                                                <td class="formFieldLabel sideBySideCell" style="padding-left: 5px">
                                                                    <label>@ResponseMessages.Phone</label><b style="color: #FF0000; cursor: default" title="Required Field">*</b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="sideBySideCell">
                                                                    @Html.TextBoxFor(x => x.Email, new { @class = "formFieldText formFieldMediumLeft" })
                                                                    @Html.ValidationMessageFor(x => x.Email)

                                                                </td>
                                                                <td class="sideBySideCell" style="padding-left: 5px">
                                                                    @Html.TextBoxFor(x => x.Phone, new { @class = "formFieldText formFieldMediumLeft", @type = "number" })
                                                                    @Html.ValidationMessageFor(x => x.Phone)
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                                            <div align="left">
                                                <div class="formField">
                                                    <div class="formFieldLabel" id="form_0141_fld_2-Label"><label for="form_0141_fld_2">@ResponseMessages.HowCanWeHelp</label></div>
                                                    @Html.TextBoxFor(x => x.Message, new { @class = "formFieldText formFieldLarge", name = "Description / Comments" })
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr align="right">
                                        <td class="ao_tbl_cell" style="padding-left: 10px; padding-right: 10px" align="center">
                                            <div align="right">
                                                <div class="formField">
                                                    <table width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" id="form_0141_ao_submit_button" style="text-align: right !important; padding-top:40px !important">
                                                                    @switch (cultureLang)
                                                                    {
                                                                        case "en-GB":
                                                                            <button><img src="@Url.Content("~/Content/Images/btn-Submit-en.png")"></button>
                                                                            break;
                                                                        case "nl-NL":
                                                                            <button><img src="@Url.Content("~/Content/Images/btn-Submit-nl.png")"></button>
                                                                            break;
                                                                        case "fr-FR":
                                                                            <button><img src="@Url.Content("~/Content/Images/btn-Submit-fr.png")"></button>
                                                                            break;
                                                                        default:
                                                                            <button><img src="@Url.Content("~/Content/Images/btn-Submit-en.png")"></button>
                                                                            break;
                                                                    }

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
<script type="text/javascript">
    function fnContactClearForm(data) {
        $('.divErrorSubmit').text(data.responseJSON.Message);
        if (data.responseJSON.Status == 1) {
            $('#Name').val('');
            $('#FleetSize').val('');
            $('#Email').val('');
            $('#Phone').val('');
            $('#Message').val('');
            toastr.error(data.responseJSON.Message, 1);
        }
        else {
            toastr.error(data.responseJSON.Message, 0);
            $('.divErrorSubmit').css("color", "Red");
        }
    }
</script>