﻿@using TweetSharp
@{
    AlertModel alertModel = TempData["alertModel"] as AlertModel;
    int status = -1;
    string message = null;
    if (alertModel != null)
    {
        status = (int)alertModel.alertStatus;
        message = alertModel.alertMessage;
    }
}
<!DOCTYPE html>
<head>
    <title>@ViewBag.Title - @GlobalConfig.ProjectName</title>
    @Styles.Render("~/Content/CSS")
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-180x180.png")">
    <link rel="icon" type="image/png" sizes="192x192" href="@Url.Content("~/Files/DefaultImages/favicon/android-icon-192x192.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="96x96" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-96x96.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/Files/DefaultImages/favicon/manifest.json")">
    <meta name="msapplication-TileColor" content="#005893">
    <meta name="msapplication-TileImage" content="@Url.Content("~/Files/DefaultImages/favicon/ms-icon-144x144.png")">
    <meta name="theme-color" content="#005893">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <style>
        .cookieinfo-close {
            background-color: #051e41 !important;
            color: #fff !important;
            border: 2px solid #00f0af;
            border-radius: 20px !important;
            transition: .3s ease;
            text-align: center;
            font-weight: 400;
        }

            .cookieinfo-close:hover {
                background-color: #00f0af !important;
                color: black !important;
            }

        /* Paste this css to your style sheet file or under head tag */
        /* This only works with JavaScript,
        if it's not present, don't show loader */
        .no-js #loader {
            display: none;
        }

        .js #loader {
            display: block;
            position: absolute;
            left: 100px;
            top: 0;
        }

        .se-pre-con {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url(@Url.Content("~/Files/DefaultImages/loading.gif")) center no-repeat #fff;
        }
    </style>
</head>
<body class="home homepageen home">
    @*<div class="se-pre-con"></div>*@
    <header>
        <div class="inner inner-header">
            <a href="tel:0323506050" class="btn-primary" style="position: fixed; float: right; margin-right: 10px; top: 100px; right: 0;border-color:#051e41">  @ResponseMessages.Generalinquiries:  <b>+32(0)2/352.60.50</b> </a>
            <div class="logo">
                <a href="@Url.Action("Index","Default")" style="background-image:url(@Url.Content("~/Files/DefaultImages/eureca_mobile.png"));">
                </a>
            </div>
            <div class="navigation-section">
                <nav class="main-navigation">
                    <ul class="navigation-list">
                        <li>
                            @ResponseMessages.Solutions
                            <ul>
                                <li>
                                    <a href="@Url.Action("masternaut-connect","all-solutions")"> @ResponseMessages.MasternautConnect</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("vehicle-fleet-tracking","all-solutions")"> @ResponseMessages.Vehiclefleettracking</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("driving-behaviour","all-solutions")"> @ResponseMessages.DrivingBehaviour</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("telematics-devices","all-solutions")"> @ResponseMessages.TelematicsDevices</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("partner-offers","all-solutions")"> @ResponseMessages.FactoryfitTelematics</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("view","all-solutions")"> @ResponseMessages.AllSolutions</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="@Url.Action("view","benefits-of-telematics")">
                                @ResponseMessages.BenefitsOfTelematics
                            </a>
                            <ul>
                                <li>
                                    <a href="@Url.Action("be-safer","benefits-of-telematics")"> @ResponseMessages.BeSafer</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("save-more","benefits-of-telematics")"> @ResponseMessages.SaveMore</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("boost-service","benefits-of-telematics")"> @ResponseMessages.BoostService</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("go-greener","benefits-of-telematics")"> @ResponseMessages.GoGreener</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @ResponseMessages.Case_studies
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("OurCustomer")"> @ResponseMessages.Customer</a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("CaseStudies")"> @ResponseMessages.CustomerStories</a>
                                </li>
                            </ul>

                        </li>
                        <li>
                            <a href="@Url.RouteUrl("News")"> @ResponseMessages.News</a>
                        </li>
                        <li>
                            @ResponseMessages.GetToKnowUs
                            <ul>
                                <li>
                                    <a href="@Url.RouteUrl("AboutUs")"> @ResponseMessages.AboutUs</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("careers","about")"> @ResponseMessages.Careers</a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("AboutUsHow")"> @ResponseMessages.HowOurTechnologyWork</a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("WhyMasternaut")"> @ResponseMessages.WhyMasternaut</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("WhatWeDo","about")"> @ResponseMessages.WhatWeDo</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("process-services","all-solutions")"> @ResponseMessages.ProfessionalServices</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Ourbrand","about")"> @ResponseMessages.OurBrand</a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("ReasonForInquiry")"> @ResponseMessages.ContactUs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            @ResponseMessages.Login
                            <ul>
                                <li>
                                    <a href="//www.masternautconnect.com/Account/LogOn" target="_blank"> Login Connect</a>
                                </li>
                                <li>
                                    <a href="//geonaut.masternaut.com/webeurope/login-geonaut.html" target="_blank"> Login Geonaut</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="button-section">
                <div class="core-buttons">
                    <a class="btn-primary" href="@Url.RouteUrl("CompanyBrochure")">@ResponseMessages.GetAdemo</a>
                </div>
                <ul class="languages mobile-hidden">
                    <li>
                        @{
                            string cultureLang = System.Globalization.CultureInfo.CurrentCulture.ToString();
                            string selectedLang = cultureLang;
                            <a>
                                @switch (selectedLang)
                                {
                                    case "en-GB":
                                        selectedLang = Language.English.ToString();
                                        break;
                                    case "nl-NL":
                                        selectedLang = Language.Dutch.ToString();
                                        break;
                                    case "fr-FR":
                                        selectedLang = Language.French.ToString();
                                        break;
                                    default:
                                        selectedLang = Language.Dutch.ToString();
                                        break;
                                }
                                @selectedLang >
                            </a>
                            <ul>
                                @foreach (var lan in (IEnumerable<SelectListItem>)ViewData["LanguageList"])
                                {
                                    if (selectedLang != lan.Text)
                                    {
                                        <li>
                                            <a href="@Url.Action("ChangeLanguage", "Utility", new { lang = lan.Value, redirecturl = Request.Url })" title="@lan.Text">@lan.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                </ul>
            </div>
            <div class="right-logo">
                <a style="background-image:url(@Url.Content("~/Files/DefaultImages/logo.png"));">
                </a>
            </div>
        </div>
        <div class="mobile-nav-border">
            <a href="#mobile-menu" class="mobile-nav-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <nav id="mobile-menu">
            <ul class="sf-menu">
                <li></li>
                <li class="top-level-mob mobile-icon has-sub  ">
                    <a>
                        <span>@ResponseMessages.Solutions</span>
                    </a>

                    <ul class="sub-nav">
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("masternaut-connect","all-solutions")"> @ResponseMessages.MasternautConnect</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("vehicle-fleet-tracking","all-solutions")"> @ResponseMessages.Vehiclefleettracking</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("driving-behaviour","all-solutions")"> @ResponseMessages.DrivingBehaviour</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("telematics-devices","all-solutions")"> @ResponseMessages.TelematicsDevices</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("partner-offers","all-solutions")"> @ResponseMessages.FactoryfitTelematics</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("view","all-solutions")"> @ResponseMessages.AllSolutions</a>
                        </li>
                        <li class="content-bottom phone-number">
                            <a href="tel:0323506050" class="phone-mobile"><span class="icon-phone"></span> (32) 2 350-60-50 </a>
                        </li>
                    </ul>
                </li>
                <li class="top-level-mob mobile-icon has-sub  ">
                    <span>
                        <a href="@Url.Action("view","benefits-of-telematics")">
                            @ResponseMessages.BenefitsOfTelematics
                        </a>
                    </span>
                    <ul class="sub-nav">
                        <li></li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("be-safer","benefits-of-telematics")"> @ResponseMessages.BeSafer</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("save-more","benefits-of-telematics")"> @ResponseMessages.SaveMore</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("boost-service","benefits-of-telematics")"> @ResponseMessages.BoostService</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("go-greener","benefits-of-telematics")"> @ResponseMessages.GoGreener</a>
                        </li>
                    </ul>
                </li>
                <li class="top-level-mob mobile-icon has-sub  ">
                    <a>
                        <span>@ResponseMessages.Case_studies</span>
                    </a>
                    <ul class="sub-nav">
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("OurCustomer")"> @ResponseMessages.Customer</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("CaseStudies")"> @ResponseMessages.CustomerStories</a>
                        </li>
                        <li class="content-bottom phone-number">
                            <a href="tel:0323506050" class="phone-mobile"><span class="icon-phone"></span> (32) 2 350-60-50 </a>
                        </li>
                    </ul>
                </li>
                <li class="top-level-mob mobile-icon has-sub">
                    <a>
                        <span>@ResponseMessages.GetToKnowUs</span>
                    </a>
                    <ul class="sub-nav">
                        <li></li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("AboutUs")"> @ResponseMessages.AboutUs</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("careers","about")"> @ResponseMessages.Careers</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("AboutUsHow")"> @ResponseMessages.HowOurTechnologyWork</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("WhyMasternaut")"> @ResponseMessages.WhyMasternaut</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("WhatWeDo","about")"> @ResponseMessages.WhatWeDo</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("process-services","all-solutions")"> @ResponseMessages.ProfessionalServices</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.Action("Ourbrand","about")"> @ResponseMessages.OurBrand</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="@Url.RouteUrl("ReasonForInquiry")"> @ResponseMessages.ContactUs</a>
                        </li>
                    </ul>
                </li>
                <li class="top-level-mob mobile-icon has-sub">
                    @ResponseMessages.Login
                    <ul>
                        <li class="mobile-icon level2-mob">
                            <a href="//www.masternautconnect.com/Account/LogOn" target="_blank"> Login Connect</a>
                        </li>
                        <li class="mobile-icon level2-mob">
                            <a href="//geonaut.masternaut.com/webeurope/login-geonaut.html" target="_blank"> Login Geonaut</a>
                        </li>
                    </ul>
                </li>
                <li class="content-bottom phone-number">
                    <a href="tel:0323506050" class="phone-mobile"><span class="icon-phone"></span> (32) 2 350-60-50 </a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <div class="inner">
            <div class="twitter-top clearfix">
                <h5><a href="//twitter.com/Masternaut" class="fontawesome-twitter" target="_blank">Masternaut <em>Masternaut</em></a></h5>
            </div>
            <div class="uTwit tweets">
                @if (ViewBag.Tweets != null)
                {
                    foreach (var Tweet in ViewBag.Tweets as IEnumerable<TwitterStatus>)
                    {
                        <div class="tweet">
                            <p></p>
                            <p class="text">
                                @Html.Raw(Tweet.TextAsHtml)<br />
                                <a href="" class="timestamp" target="_blank"> @Tweet.CreatedDate.ToString(GlobalConfig.DisplayDateFormat)</a>
                            </p>
                        </div>
                    }
                }

            </div>
            <ul class="slider-nav tweet-nav">
                <li class="left">
                    <a href="#">&lt;</a>
                </li>
                <li class="right">
                    <a href="#">&gt;</a>
                </li>
            </ul>
            <div class="footer-nav">
                <nav class="footer-nav-1">
                    <h5>@ResponseMessages.News</h5>
                    <ul>
                        <li>
                            <a href="@Url.RouteUrl("News")"> @ResponseMessages.News</a>
                        </li>
                    </ul>
                </nav>
                <nav class="footer-nav-2">
                    <h5>@ResponseMessages.Company</h5>
                    <ul>
                        <li>
                            <a href="@Url.RouteUrl("AboutUs")"> @ResponseMessages.AboutUs</a>
                        </li>
                        <li>
                            <a href="@Url.Action("careers","about")"> @ResponseMessages.Careers</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Disclaimer")"> @ResponseMessages.Disclaimer</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("AboutUsHow")"> @ResponseMessages.HowOurTechnologyWork</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("PrivacyPolicy")"> @ResponseMessages.PrivacyPolicy</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("ContactUs")"> @ResponseMessages.ContactUs</a>
                        </li>
                    </ul>
                </nav>
                <nav class="social">
                    <p>@ResponseMessages.FollowUs</p>
                    <ul>
                        <li>
                            <a href="//in.linkedin.com/company/masternaut-benelux" target="_blank" class="linkedin fontawesome-linkedin">
                                <span>LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="//twitter.com/masternaut" class="twitter fontawesome-twitter" target="_blank">
                                <span>Twitter</span>
                            </a>
                        </li>
                    </ul>
                    <div class="phone-number">
                        <span class="label">@ResponseMessages.Phone</span> <a href="tel:03223506050">+32(0)2/352.60.50</a>
                    </div>
                </nav>
            </div>
            <div class="footer-btm">
                <p>Use of this website signifies your agreement to the Terms of Use. @DateTime.Now.Year Masternaut Limited. All Rights Reserved</p>
            </div>
        </div>
    </footer>
</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@Scripts.Render("~/bundles/jQuery")
@Scripts.Render("~/bundles/ContentJs")
@RenderSection("scripts", required: false)
@section Scripts{
    <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="#051e41"
            data-fg="#FFFFFF"
            data-link="#FFFFFF"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-close-text="Continue"
            font-family="'Nunito',sans-serif"
            data-message='@ResponseMessages.CokkieMessage'
            data-moreinfo="@Url.RouteUrl("PrivacyPolicy")"
            data-linkmsg="Click here">
    </script>
    <script type="text/javascript">
    $(window).load(function () {
        $(".se-pre-con").fadeOut("fast");;
    });
    var status =@status;
    if (status == 0) {
        toastr.error('@message', 'Error !');
    }
    else if (status == 1) {
        toastr.success('@message', 'Success.');
    }
    else if (status == 2) {
        toastr.info('@message', 'Info.');
    }
    else if (status == 3) {
        toastr.warning('@message', 'Warning !');
    }
    else if (status == 4) {
        toastr.info('@message', 'Message.');
    }
    </script>
}