﻿@{
    Layout = null;
}
@model List<SingleNewsViewModel>
@if (Model != null && Model.Any())
{
    foreach (var news in Model)
    {
        <div class="post">
            @if (news.ImageName != GlobalConfig.NewsDefaultImage)
            {
                <a href="@Url.RouteUrl("ViewNews", new { Id = news.Id,title=news.Title.Replace(" ","-") })" class="post-image" style="background-image: url(@(GlobalConfig.NewsImageUrl+news.ImageName));"></a>
            }
            <div class="post-content">
                <p class="date">@news.CreatedDate.ToString(GlobalConfig.DisplayDateOnlyFormat)</p>
                <h4> <a href="@Url.RouteUrl("ViewNews", new { Id = news.Id,title=news.Title.Replace(" ","-") })">@news.Title</a></h4>
                <p>@Html.Raw(news.Description)</p>
                <br />
                <br />
                <a href="@Url.RouteUrl("ViewNews", new { Id = news.Id,title=news.Title.Replace(" ","-") })" class="btn-primary standard green large">@ResponseMessages.ReadMore</a>
            </div>
        </div>
    }

}

