﻿
@{
    ViewBag.Title = ResponseMessages.coldchainTracking1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap cold-chain-tracking goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">

                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.coldchainTracking1</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        
        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.coldchainTracking1</h1>
            <p>@ResponseMessages.coldChainTrackingHeadline</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">@ResponseMessages.coldChainTrackingDesc1</span></p>
                        <p><span style="font-size: 14pt;">@ResponseMessages.coldChainTrackingDesc2</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">




        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="cold-chain-telematics-benefits">@ResponseMessages.coldchainBenifitHeading</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.coldchainbenifitdesc</p>
                        <ul>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainbenifitpointheading1</strong> - @ResponseMessages.coldchainbenifitpointheading1desc</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainbenifitpointheading2</strong> - @ResponseMessages.coldchainbenifitpointheading2desc</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainbenifitpointheading3</strong> - @ResponseMessages.coldchainbenifitpointheading3desc</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="~/Content/Images/masternaut-cold-chain-telematics-benefits.jpg" alt="masternaut-cold-chain-telematics-benefits" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                
                <div class="block-img left">
                    <img src="~/Content/Images/masternaut-cold-chain-telematics.jpg" alt="masternaut-cold-chain-telematics" />

                </div>   
                <div class="block-text right">
                    
                    <h2 id="cold-chain-telematics">@ResponseMessages.coldchaintelematics</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.coldchaintelematicsDesc</p>
                        <ul>
                            <li style="text-align: left;"><span class="white-text tick">@ResponseMessages.coldchaintelematicsDescp1</span></li>
                            <li style="text-align: left;"><span class="white-text tick">@ResponseMessages.coldchaintelematicsDescp2</span></li>
                            <li style="text-align: left;"><span class="white-text tick">@ResponseMessages.coldchaintelematicsDescp3</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="cold-chain-analytics">@ResponseMessages.coldchainAnalytics</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.coldchainAnalyticsdesc</p>
                        <ul>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainAnalyticsheadingpoint1</strong> - @ResponseMessages.coldchainAnalyticsheadingpoint1desc</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainAnalyticsheadingpoint2</strong> - @ResponseMessages.coldchainAnalyticsheadingpoint2desc</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>@ResponseMessages.coldchainAnalyticsheadingpoint3</strong> - @ResponseMessages.coldchainAnalyticsheadingpoint3desc</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">                  
                    <img src="@Url.Content("~/Content/Images/masternaut-cold-chain-analytics.png")" alt="masternaut-cold-chain-analytics" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
