﻿@{
    ViewBag.Title = ResponseMessages.DrivingBehaviour;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap driving-behaviour goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                @ResponseMessages.DrivingBehaviour
            </h1>
            <p>L’avantage : plus de sécurité et de performance</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Obtenez une visibilité sur les comportements au volant de vos conducteurs grâce à votre plateforme de gestion de flotte Masternaut Connect. Développez les compétences de vos conducteurs avec notre assistant éco-conduite embarqué. Trouvez de nouvelles façons d’évaluer et de récompenser la performance.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="evaluate">Évaluer</h2>
                    <div class="body-text">
                        <p style="text-align: left;">
                            Exploitez nos comptes-rendus détaillés et nos classements automatiques pour analyser la performance de vos conducteurs en ligne.

                        </p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Évaluez la conduite de vos conducteurs avec un système de notation</span></li>
                            <li style="text-align: left;"><span class="tick">Identifiez les forces, les faiblesses et les besoins en formation</span></li>
                            <li style="text-align: left;"><span class="tick">Récompensez les conducteurs les plus prudents</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/driver-behaviour-league-table-laptop.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-lightbar-in-car-coach-uk-jp.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="engage">Former</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Développez les compétences de vos collaborateurs grâce à notre dispositif de formation embarqué.</p>
                        <ul>
                            <li style="text-align: left;">Détection des phases d’accélération et de freinage brutales ainsi que des arrêts moteur tournant</li>
                            <li style="text-align: left;">Émission d’alertes visuelles et auditives instantanées</li>
                            <li style="text-align: left;">Présence d’un bouton de confidentialité intégré pour désactiver la collecte de données</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="encourage">Encourager</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Motivez vos collaborateurs plus efficacement à l’aide d’une application mobile pour les conducteurs.</p>
                        <ul>
                            <li>Connectez-vous n'importe où</li>
                            <li>Consultez les statistiques sur votre conduite</li>
                            <li>Suivez l’évolution de votre score de conduite</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="#" alt="" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="6">
            <div class="inner">
                <h4 id="what-our-experts-say">L’avis de nos experts</h4>
                <div class="body-text">
                    <p style="text-align: center;">Explorez de nouvelles façons d’inciter vos conducteurs à faire de la sécurité une priorité. </p>
                    <p style="text-align: center;">Lisez notre étude réalisée sur plus de 9 000 véhicules pour découvrir les méthodes qui marchent.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>