﻿@{
    ViewBag.Title = ResponseMessages.DrivingBehaviour;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap driving-behaviour goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                @ResponseMessages.DrivingBehaviour
            </h1>
            <p>The Advantage: Increase safety and performance.</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">View driving behaviour as part of your Masternaut Connect fleet management platform. Develop people in your business with our innovative in-cab coaching device. Find new ways to evaluate and reward performance.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="evaluate">Evaluate</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Use our detailed reports and automated league tables to analyse your drivers’ performance online.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Evaluate driving behaviour using scores as a guide</span></li>
                            <li style="text-align: left;"><span class="tick">Identify strengths, weaknesses and training gaps</span></li>
                            <li style="text-align: left;"><span class="tick">Reward the safest drivers</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/driver-behaviour-league-table-laptop.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-lightbar-in-car-coach-uk-jp.jpg")" />
                </div>               
                <div class="block-text right">
                    <h2 id="engage">Engage</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Improve driving behaviour with an in-cab coaching device.</p>
                        <ul>
                            <li style="text-align: left;">Detects harsh acceleration, breaking and excessive idling</li>
                            <li style="text-align: left;">Gives instant audible and visual warnings</li>
                            <li style="text-align: left;">Features an in-built privacy button allowing you to disable data collection</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="encourage">Encourage</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Discover a mobile app for drivers designed to encourage best practice.</p>
                        <ul>
                            <li>Log in wherever you are</li>
                            <li>See statistics about your driving</li>
                            <li>Keep track of your driving score</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="#" alt="" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="6">
            <div class="inner">
                <h4 id="what-our-experts-say">What our experts say</h4>
                <div class="body-text">
                    <p style="text-align: center;">Explore new ways to encourage driver safety.</p>
                    <p style="text-align: center;">Read our study of more than 9,000 vehicles and find out what works.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>