﻿
@{
    ViewBag.Title = "DriverMobileAppFR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap driver-mobile-app goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DriverMobileApp</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.DriverMobileApp</h1>
            <p>SmarterDriver simplifie la vie des conducteurs et des managers/gestionnaires</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">L'application <strong>SmarterDriver</strong> a été développée spécialement pour les conducteurs professionnels et les employés utilisant les véhicules de la flotte ou les voitures de société pour se rendre chez les clients ou sur des sites distants.</span></p>

                        <p><span style="font-size: 14pt;"><strong>SmarterDriver</strong> fournit des services pratiques qui rendent les tâches récurrentes plus simples et rapides, pour les employés comme pour leurs responsables.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">




        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="simplify">SmarterDriver</h2>
                    <div class="body-text">
                        <p style="text-align: left;">L’appli mobile de Masternaut pour les conducteurs offrent des outils utiles pour les employés, leur permettant ainsi de bénéficier eux-aussi de la télématique embarquée :</p>
                        <ul>
                            <li style="text-align: left;"><span class="white-text tick"><strong>Transparence</strong> - tous les trajets enregistrés sont visibles et peuvent être catégorisés comme “privés” pour les masquer à l’employeur</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>Efficacité </strong> - l’appli mobile accélère et fiabilise des tâches habituellement réalisées sur papier</span></li>
                            <li style="text-align: left;"><span class="white-text tick"><strong>Simplicité </strong> - aucune formation n’est nécessaire sur cet l’outil intuitif avant le déploiement sur le terrain</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.masternaut.smarterdriver&amp;hl=en_GB" target="_blank" class="btn-primary large alt">
                                google play
                            </a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/ro/app/smarterdriver/id1248210849?mt=8" target="_blank" class="btn-primary large alt">
                                app store
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-2.png")" alt="smarter-driver-app-screens-2" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">                
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-1.png")" alt="smarter-driver-app-screens-1" />

                </div>
                <div class="block-text right">
                    <h2 id="swipe">Rapports kilométriques sur mobile</h2>
                    <div class="body-text">
                        <p style="text-align: left;"><strong>SmarterDriver</strong> liste tous les déplacements pour créer en quelques clics les rapports kilométriques à des fins de notes de frais ou déclaration d’avantages en nature.</p>
                        <ul>
                            <li style="text-align: left;">Catégorisation pro/privé par un simple glissement de doigt gauche ou droite</li>
                            <li style="text-align: left;">Réduction des erreurs, volontaires ou non, via la télématique embarquée dans le véhicule</li>
                            <li style="text-align: left;">Numérisation du processus de création / validation engendrant un gain de temps et une meilleure gouvernance</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="save">Check-list de vérification de VUL</h2>
                    <div class="body-text">
                        <p style="text-align: left;"><strong>SmarterDriver</strong> inclut une checklist de vérification avant départ pour des véhicules utilitaires légers. L’adopter, c’est mettre en place une routine aussi rapide qu’utile pour la prévention des risques.</p>
                        <ul>
                            <li style="text-align: left;">Impliquez vos conducteurs dans leur propre sécurité</li>
                            <li style="text-align: left;">Remontez immédiatement les besoins de maintenance du terrain</li>
                            <li style="text-align: left;">Mettez en place une procédure numérisée, simple et auditable</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-3-uk-r1.png")" alt="smarter-driver-app-screens-3-uk-r1" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

