﻿
@{
    ViewBag.Title = ResponseMessages.DriverMobileApp;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap driver-mobile-app goalspage ">
    
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DriverMobileApp</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.DriverMobileApp</h1>
            <p>Vehicle checks &amp; mileage logs made simple</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">The SmarterDriver mobile application is specifically designed for both professional drivers and company car users. It provides useful tools that help drivers log business mileage and conduct vehicle checks quickly and accurately.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">




        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="simplify">Simplify</h2>
                    <div class="body-text">
                        <p style="text-align: left;"><span class="tick">Masternaut’s mobile app delivers valuable tools to drivers that make admin easier and quicker. Discover the benefits of telematics through your smartphone.<br /></span></p>
                        <ul>
                            <li style="text-align: left;">Easily differentiate between private and business mileage</li>
                            <li style="text-align: left;">Log vehicle checks with both speed and accuracy</li>
                            <li style="text-align: left;">No training is required before rolling out the app</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.masternaut.smarterdriver&amp;hl=en_GB" target="_blank" class="btn-primary large alt">
                                google play
                            </a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/ro/app/smarterdriver/id1248210849?mt=8" target="_blank" class="btn-primary large alt">
                                app store
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-2.png")" alt="smarter-driver-app-screens-2" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                smarter-driver-app-screens-1
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-1.png")" alt="smarter-driver-app-screens-1" />

                </div>            
                <div class="block-text right">
                    <h2 id="swipe">Swipe</h2>
                    <div class="body-text">
                        <p style="text-align: left;">With SmarterDriver, drivers have everything they need to keep track of their journeys, create mileage reports and expense claims with a swipe.</p>
                        <ul>
                            <li style="text-align: left;">Swipe left or right to classify trips as business or private</li>
                            <li style="text-align: left;">Create error-free expense reports verified by onboard telematics</li>
                            <li style="text-align: left;">Implement a digital validation process that saves time and improves governance</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="save">Save</h2>
                    <div class="body-text">
                        <p style="text-align: left;">SmarterDriver allows you to save time preparing DVSA and HMRC compliant documentation.</p>
                        <ul>
                            <li style="text-align: left;">Cut down paperwork for drivers and fleet maintenance managers</li>
                            <li style="text-align: left;">Complete passed and failed checks by swiping</li>
                            <li style="text-align: left;">Create a more accurate and traceable digital vehicle check process</li>
                        </ul>
                    </div>
                </div>smarter-driver-app-screens-3-uk-r1
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-3-uk-r1.png")" alt="smarter-driver-app-screens-3-uk-r1" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>


