﻿@{
    ViewBag.Title = ResponseMessages.DrivingBehaviour;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap driving-behaviour goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DrivingBehaviour</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                @ResponseMessages.DrivingBehaviour
            </h1>
            <p>Het voordeel : Verhoog de veiligheid en prestatienorm</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Zoek een nieuwe manier om de prestaties te verbeteren, de veiligheid op de weg te vergroten en de beste werkwijzen aan te moedigen.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="evaluate">Evaluatie</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Gebruik onze gedetailleerde rapporten en geautomatiseerde ranglijsttabellen om de prestaties van uw chauffeurs online te analyseren.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Evalueer het rijgedrag met scores als richtlijn</span></li>
                            <li style="text-align: left;"><span class="tick">Identificeer sterke en zwakke punten en opleidingslacunes</span></li>
                            <li style="text-align: left;"><span class="tick">Beloon de veiligste chauffeursIdentifiez les forces, les faiblesses et les besoins en formation</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/driver-behaviour-league-table-laptop.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-lightbar-in-car-coach-uk-jp.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="engage">Opleiden</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Informeer de mensen met wie u werkt met behulp van ons coachingapparaat in de cabine.</p>
                        <ul>
                            <li style="text-align: left;">Detecteert hard versnellen, hard remmen breuken en overbodig stationair draaien</li>
                            <li style="text-align: left;">Geeft direct geluids- en visuele waarschuwingen</li>
                            <li style="text-align: left;">Beschikt over een ingebouwde privacyknop waarmee u het verzamelen van gegevens kunt uitschakelen</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="encourage">Aanmoedigen</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Ontdek de mogelijkheid om mensen effectiever te motiveren met een mobiele app voor chauffeurs.</p>
                        <ul>
                            <li>Log in waar je ook bent</li>
                            <li>Bekijk statistieken over je rijstijl</li>
                            <li>Blijf op de hoogte van je rij-score</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="#" alt="" />
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="6">
            <div class="inner">
                <h4 id="what-our-experts-say">Wat onze experts zeggen</h4>
                <div class="body-text">
                    <p style="text-align: center;">Ontdek nieuwe manieren om de veiligheid van de bestuurder te bevorderen.</p>
                    <p style="text-align: center;">Lees onze studie van meer dan 9.000 voertuigen en ontdek wat werkt.</p>
                </div>
                <div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="7">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>