﻿
@{
    ViewBag.Title = "DriverMobileAppNL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap driver-mobile-app goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.DriverMobileApp</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.DriverMobileApp</h1>
            <p>Voertuigchecks en kilometerstandlogboeken eenvoudig gemaakt</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">De mobiele applicatie SmarterDriver is specifiek ontworpen voor zowel professionele chauffeurs als gebruikers van bedrijfswagens. Het biedt handige hulpmiddelen waarmee bestuurders zakelijke kilometers kunnen registreren en voertuigcontroles snel en nauwkeurig kunnen uitvoeren.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">

        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="Makkelijker maken">Makkelijker maken</h2>
                    <div class="body-text">
                        <p style="text-align: left;"><span class="tick">De mobiele app van Masternaut levert waardevolle tools voor bestuurders die de administratie eenvoudiger en sneller maken. Ontdek de voordelen van telematica via uw smartphone.<br /></span></p>
                        <ul>
                            <li style="text-align: left;">Eenvoudig onderscheid maken tussen privé- en zakelijke kilometers</li>
                            <li style="text-align: left;">Log voertuigcontroles met zowel snelheid als nauwkeurigheid</li>
                            <li style="text-align: left;">Er is geen training vereist voordat de app wordt uitgerold</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.masternaut.smarterdriver&amp;hl=en_GB" target="_blank" class="btn-primary large alt">
                                google play
                            </a>
                        </li>
                        <li>
                            <a href="https://itunes.apple.com/ro/app/smarterdriver/id1248210849?mt=8" target="_blank" class="btn-primary large alt">
                                app store
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-2.png")" alt="smarter-driver-app-screens-2" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-1.png")" alt="smarter-driver-app-screens-1" />

                </div>
                <div class="block-text right">
                    <h2 id="swipe">Veeg</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Met SmarterDriver hebben chauffeurs alles wat ze nodig hebben om hun reizen bij te houden, kilometerstandrapporten en declaraties te maken met een veegbeweging.</p>
                        <ul>
                            <li style="text-align: left;">Veeg naar links of rechts om reizen als zakelijk of privé te classificeren</li>
                            <li style="text-align: left;">Maak foutloze onkostendeclaraties die worden geverifieerd door telematica aan boord</li>
                            <li style="text-align: left;">Implementeer een digitaal validatieproces dat tijd bespaart en het beheer verbetert</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="save">Opslaan</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Met SmarterDriver kunt u tijd besparen bij het opstellen van DVSA- en HMRC-compatibele documentatie.</p>
                        <ul>
                            <li style="text-align: left;">Minder papierwerk voor chauffeurs en onderhoudsbeheerders voor het wagenpark</li>
                            <li style="text-align: left;">Voltooid en mislukte controles door te vegen</li>
                            <li style="text-align: left;">Maak een meer nauwkeurig en traceerbaar digitaal voertuigcontroleproces</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/smarter-driver-app-screens-3-uk-r1.png")" alt="smarter-driver-app-screens-3-uk-r1" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
