﻿@{
    ViewBag.Title = ResponseMessages.AllSolutions;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap all-solutions productlistpage products">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.AllSolutions</h1>
            <p>@ResponseMessages.all_solutions_TagLine</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <p><span style="font-size: 14pt;">  @ResponseMessages.all_solutions_Desc</span></p>
                </div>

            </div>
        </div>
    </main>
    <main class="main-blocks">


        <div class="content-block animated-content-block m-green" data-waypoint="2">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="masternaut-connect"> @ResponseMessages.MasternautConnect</h2>
                    <div class="body-text">
                        <p> @ResponseMessages.all_solutions_Maternautconnect</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("masternaut-connect","all-solutions")" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-on-mobile-and-desktop.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-vehicle-tracking.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="vehicle-tracking">    @ResponseMessages.VehicleTracking</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_VehicleTracking</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("vehicle-fleet-tracking","all-solutions")" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="driving-behaviour">@ResponseMessages.DrivingBehaviour</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_DrivingBehaviour</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("driving-behaviour","all-solutions")" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-driving-behaviour.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-cold-chain-tracking.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="cold-chain-tracking">@ResponseMessages.ColdChainTracking</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_ColdChainTracking</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("ColdChainTracking","all-solutions")" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-navy" data-waypoint="6">
            <div class="inner">
                <h4 id="telematics-devices">@ResponseMessages.TelematicsDevices</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.all_solutions_TelematicsDevicesDesc</p>
                </div>				<div class="content-left">
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("telematics-devices","all-solutions")" class="btn-primary large ">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block double-content-block m-white" data-waypoint="7">
            <div class="inner">
                <h4 id="factory-fit-telematics">@ResponseMessages.FactoryfitTelematics</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.all_solutions_Factoryfit</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="8">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-intergated-api.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="systems-integration">@ResponseMessages.SystemsIntegration</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_SystemsIntegration</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("systems-integration","all-solutions")" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="9">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="smarterdriver-app">@ResponseMessages.SmarterDriverApp</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_SmarterDriver</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.Action("driver-mobile-app","all-solutions")" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-driver-app-screens-1.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="10">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/masternaut-incident-management.png")" />

                </div>
                <div class="block-text right">
                    <h2 id="incident-management">@ResponseMessages.IncidentManagement</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.all_solutions_Inciden</p>
                        <ul>
                            <li>@ResponseMessages.all_solutions_IncidenLine1</li>
                            <li>@ResponseMessages.all_solutions_IncidenLine2</li>
                            <li>@ResponseMessages.all_solutions_IncidenLine3</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.GetInTouch
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*<div class="content-block double-content-block m-green" data-waypoint="11">
            <div class="inner">
                <h4 id="fuel-card-">@ResponseMessages.FuelCard</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.all_solutions_FuelCardLine1</p>
                    <p style="text-align: center;">@ResponseMessages.all_solutions_FuelCardLine2</p>
                </div>
                <div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="#" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
        @*<div class="content-block double-content-block m-navy" data-waypoint="12">
            <div class="inner">
                <h4 id="fleet-insurance">@ResponseMessages.Fleet_insurance</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.all_solutions_Fleet_insurance</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="#" class="btn-primary large ">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
        <div class="content-block double-content-block m-white" data-waypoint="13">
            <div class="inner">
                <h4 id="paperless-by-masternaut">@ResponseMessages.Paperless_by_Masternaut</h4>
                <div class="body-text">
                    <p style="text-align: center;">@ResponseMessages.all_solutions_paperless</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("paperless","all-solutions")" class="btn-primary large standard green">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="14">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
