﻿@{
    ViewBag.Title = ResponseMessages.MasternautConnect;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap masternaut-connect goalspage ">
    <section class="banner-section parallax banner-small m-navy" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.MasternautConnect</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h2>@ResponseMessages.MasternautConnect</h2>
            <p>@ResponseMessages.MasternautConnectTag</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">@ResponseMessages.MasternautConnectDescLine1</span></p>
                        <p><span style="font-size: 14pt;">@ResponseMessages.MasternautConnectDescLine2</span></p>
                        <p><span style="font-size: 14pt;">@ResponseMessages.MasternautConnectDescLine3.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block m-green" data-waypoint="3">

            <div class="block-text full align-center">
                <div class="inner">

                    <h3 id="see-our-fleet-platform-in-action">@ResponseMessages.SeeOurPlatform</h3>
                    <div class="body-text">
                        <div class="vimeo_responsive_padding" style="padding: 56.25% 0 0 0; position: relative;">
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"></div>
                            <div class="vimeo_responsive_wrapper" style="height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; text-align: center;"><iframe src="https://player.vimeo.com/video/273291713?seo=false&amp;videoFoam=true" title="Wistia video player" allowtransparency="true" frameborder="0" scrolling="no" class="vimeo_embed" name="vimeo_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" width="100%" height="100%"></iframe></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="visualise-your-fleet">@ResponseMessages.MasternautConnect_Visualise</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.MasternautConnect_VisualiseLine1</p><br />
                        <ul>
                            <li>@ResponseMessages.MasternautConnect_VisualiseLine2</li>
                            <li>@ResponseMessages.MasternautConnect_VisualiseLine3</li>
                            <li>@ResponseMessages.MasternautConnect_VisualiseLine4</li>
                            <li>@ResponseMessages.MasternautConnect_VisualiseLine5</li>
                            <li>@ResponseMessages.MasternautConnect_VisualiseLine6</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-live-gps-vehicle-positions.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="~/Content/Images/masternaut-connect-find-nearest-vehicle-feature.png?quality=85" alt="">
                </div>
                <div class="block-text right">
                    <h2 id="take-action-in-real-time">@ResponseMessages.MasternautConnect_Take_action</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.MasternautConnect_Take_actionLine1</p><br />
                        <ul>
                            <li>@ResponseMessages.MasternautConnect_Take_actionLine2</li>
                            <li>@ResponseMessages.MasternautConnect_Take_actionLine3</li>
                            <li>@ResponseMessages.MasternautConnect_Take_actionLine4</li>
                            <li>@ResponseMessages.MasternautConnect_Take_actionLine5</li>
                            <li>@ResponseMessages.MasternautConnect_Take_action</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.GetInTouch
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">

            <div class="block-text full align-center">
                <div class="inner">

                    <div class="body-text">
                        <p style="font-size: 32px; line-height: 1.1; text-align: left;"><strong>@ResponseMessages.MasternautConnect_LongDesc</strong></p>
                        <p style="text-align: left;"><strong><span>@ResponseMessages.MasternautConnect_LongWriter</span></strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="7">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="use-historical-reports-to-run-a-lean-fleet">@ResponseMessages.MasternautConnect_Use_Historical</h2>
                    <div class="body-text">
                        <p><span class="blue-text">@ResponseMessages.MasternautConnect_Use_HistoricalLIne1</span></p><br />
                        <ul>
                            <li><span class="blue-text tick">@ResponseMessages.MasternautConnect_Use_HistoricalLIne2</span></li>
                            <li><span class="blue-text tick">@ResponseMessages.MasternautConnect_Use_HistoricalLIne3</span></li>
                            <li><span class="blue-text tick">@ResponseMessages.MasternautConnect_Use_HistoricalLIne4</span></li>
                            <li><span class="blue-text tick">@ResponseMessages.MasternautConnect_Use_HistoricalLIne5</span></li>
                            <li><span class="blue-text tick">@ResponseMessages.MasternautConnect_Use_HistoricalLIne6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-driver-timesheets.png")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="8">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/connect-modules-uk-2.png")" />
                </div>                <div class="block-text right">
                    <h2 id="available-modules">@ResponseMessages.MasternautConnect_Available_modules</h2>
                    <div class="body-text">
                        <p>@ResponseMessages.MasternautConnect_Available_modulesLine1</p><br />
                        <ul>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Available_modulesLine2 <a data-id="10340" href="@Url.Action("vehicle-fleet-tracking","all-solutions")" title="Vehicle tracking">@ResponseMessages.VehicleTracking</a></span></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Available_modulesLine3</span></li>
                            <li><a data-id="10341" href="@Url.Action("driving-behaviour","all-solutions")" title="Driver behaviour"><span class="tick">@ResponseMessages.DrivingBehaviour</span></a></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Available_modulesLine4</span></li>
                            <li>@ResponseMessages.MasternautConnect_Available_modulesLine5</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="9">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="technical-capabilities">@ResponseMessages.MasternautConnect_Technical_capabilities </h2>
                    <div class="body-text">
                        <p>@ResponseMessages.MasternautConnect_Technical_capabilitiesLine1</p><br />
                        <ul>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Technical_capabilitiesLine2</span></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Technical_capabilitiesLine3</span></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Technical_capabilitiesLine4</span></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Technical_capabilitiesLine5</span></li>
                            <li><span class="tick">@ResponseMessages.MasternautConnect_Technical_capabilitiesLine6</span></li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-connect-digital-capabilities-v3.png")" />
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="10">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
