﻿
@{
    ViewBag.Title = "ObdDevicesNL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap obd-device goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <a href="@Url.Action("telematics-devices","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">OBD device</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        
        <div class="inner-banner banner-text">
            <h1>OBD-apparaat</h1>
            <p>Instapmodel telematica voor track & trace, beschikbaar op aanvraag</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut biedt OBD GPS-trackers als een hardware-optie voor standaard track & trace en beperkt rijgedrag op verzoek. Hoewel deze optie vaak wordt gepresenteerd als een eenvoudige plug & play-optie, is het in feite niet zo eenvoudig te installeren en draagt ​​het verschillende risico's. Daarom is deze hardware-optie alleen beschikbaar op aanvraag en beoordeling door onze experts.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obd-or-can-bus-clip">OBD- of CAN-busclip?</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Veel klanten vragen ons over OBD-apparaten.</p>
                        <p style="text-align: left;">In beperkte gevallen bieden we een apparaat dat wordt aangesloten op de diagnostische poort aan boord. We raden echter altijd aan om onze niet-opdringerige CAN-busclip-oplossing te gebruiken om de volgende redenen:</p>
                        <ul>
                            <li style="text-align: left;">OEM-ondersteuning</li>
                            <li style="text-align: left;"><span class="tick">Rijveiligheid en obstructie</span></li>
                            <li style="text-align: left;">Kans op knoeien en hacken</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obd-vs-can-bus-clip.png")" alt="" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">                
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/obd-new-1.jpg")" alt="masternaut obd device" />
                </div>
                <div class="block-text right">
                    <h2 id="obd-device-details">OBD-apparaat details</h2>
                    <div class="body-text">
                        <p style="text-align: left;">De M200 wordt aangesloten op de OBD-poort (Onboard Diagnostics) en biedt:</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">GPS-gebaseerde locatie in realtime</span></li>
                            <li style="text-align: left;"><span class="tick">Standaard rijgedrag, inclusief krachtig remmen en harde versnellingen.</span></li>
                            <li style="text-align: left;"><span class="tick">Zichtbaarheid op <a data-id="10339" href="/all-solutions/masternaut-connect/" title="Masternaut Connect">Masternaut Connect</a> naast alle andere Masternaut-telematicatoestellen</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obds-self-install-myth">OBD's "eigen-installatie" mythe</h2>
                    <div class="body-text">
                        <p style="text-align: left;">OBD-apparaten worden vaak geprezen als eigen-installatie-apparaten die "plug & play" -functionaliteit bieden.</p>
                        <p style="text-align: left;">De waarheid is echter dat de overgrote meerderheid van merken & modellen nog steeds een professionele installatie vereist.</p>
                        <p style="text-align: left;">De potentiële risico's van misbruik van diagnostische poorten, zoals hacking op afstand en immobilisatie van bedrijfswagens en bestelwagens, maken het waarschijnlijk dat in de toekomst autofabrikanten de OBD-gegevenstoegang zullen uitschakelen terwijl het voertuig in beweging is.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obds-self-install-myth.jpg")" alt="masternaut obd device" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

