﻿
@{
    ViewBag.Title = "ObdDeviceFR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap obd-device goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <a href="@Url.Action("telematics-devices","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">OBD device</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>Boîtier OBD</h1>
            <p>Boîtier d’entrée de gamme de suivi de véhicule</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut propose le boîtier OBD 2 (On Board Diagnostic ou Diagnostic Embarqué à Bord) pour un service d’entrée de gamme de suivi de véhicule et d’assistance à la conduite. Son utilisation étant plus complexe qu’il n’y paraît, le boîtier est disponible sur demande après étude par nos experts avant-vente.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obd-or-can-bus-clip">OBD ou CAN Bus ?</h2>
                    <div class="body-text">
                        @*<p style="text-align: left;">Lots of customers ask us about OBD devices.</p>*@
                        <p style="text-align: left;">Dans certains cas, nous pouvons offrir le boîtier OBD qui se branche dans le port de diagnostic du véhicule. Cependant, nous recommandons fortement le boitier CAN Bus pour les raisons suivantes :</p>
                        <ul>
                            <li style="text-align: left;">Sécurité maximale pour les conducteurs</li>
                            <li style="text-align: left;"><span class="tick">100% lecture seule, anti-piratage</span></li>
                            @*<li style="text-align: left;">Risk of tampering &amp; hacking</li>*@
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obd-vs-can-bus-clip.png")" alt="" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">               
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/obd-new-1.jpg")" alt="masternaut obd device" />
                </div>
                <div class="block-text right">
                    <h2 id="obd-device-details">Détails de l’offre OBD</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Notre boîtier M200 se branche dans le port de diagnostic et fournit :</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">Suivi du véhicule par GPS</span></li>
                            <li style="text-align: left;"><span class="tick">Eléments d'assistance de conduite</span></li>
                            <li style="text-align: left;"><span class="tick">Données accessibles sur l’application <a data-id="10339" href="/all-solutions/masternaut-connect/" title="Masternaut Connect">CONNECT</a> en complément des données collectées via les autres boîtiers Masternaut.</span></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obds-self-install-myth">Idées reçues sur l'OBD</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Le boîtier OBD est souvent plébiscité comme un dispositif facile à installer soi-même.</p>
                        <p style="text-align: left;">La vérité est que dans une majorité de véhicules, le boîtier nécessite une installation par un professionnel. En effet, la prise OBD n'est pas toujours directement accessible. De plus, il n'y a pas d'engagement de la part des constructeurs quant à la pérénité de la solution qui était initialement pensée pour le diagnostic technique du véhicule à l'arrêt.</p>
                        <p style="text-align: left;">Nous offrons une alternative plus crédible pour un boîtier prêt à l'emploi.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obds-self-install-myth.jpg")" alt="masternaut obd device" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>
