﻿
@{
    ViewBag.Title = "ObdDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap obd-device goalspage ">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <a href="@Url.Action("telematics-devices","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.OdbDevice</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.OdbDevice</h1>
            <p>Entry-level telematics for track &amp; trace, available upon request</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut offers OBD GPS trackers as a hardware option for basic track &amp; trace and limited driver behaviour upon request. While this option often gets presented as a simple plug &amp; play option, it is in fact not as easy to install and bears several risks. Therefore, this hardware option is only available upon request and assessment from our experts.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obd-or-can-bus-clip">OBD or CAN bus clip?</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Lots of customers ask us about OBD devices.</p>
                        <p style="text-align: left;">In limited cases, we do offer a device that plugs into the onboard diagnostics port. However, we would always recommend using our non-intrusive CAN bus clip solution for the following reasons:</p>
                        <ul>
                            <li style="text-align: left;">OEM support</li>
                            <li style="text-align: left;"><span class="tick">Driver safety &amp; obstruction</span></li>
                            <li style="text-align: left;">Risk of tampering &amp; hacking</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obd-vs-can-bus-clip.png")" alt="" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                obd-new-1
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/obd-new-1.jpg")" alt="masternaut obd device" />
                </div>
                <div class="block-text right">
                    <h2 id="obd-device-details">OBD device details</h2>
                    <div class="body-text">
                        <p style="text-align: left;">The M200 plugs into the onboard diagnostics (OBD) port and provides:</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">GPS-based location in real-time</span></li>
                            <li style="text-align: left;"><span class="tick">Basic driver behaviour, including harsh braking &amp; harsh acceleration</span></li>
                            <li style="text-align: left;"><span class="tick">Visibility on <a data-id="10339" href="/all-solutions/masternaut-connect/" title="Masternaut Connect">Masternaut Connect</a> alongside all other Masternaut telematics devices</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="obds-self-install-myth">OBD&#39;s &quot;self-install&quot; myth</h2>
                    <div class="body-text">
                        <p style="text-align: left;">OBD devices are often hailed as self-install devices that offer "plug &amp; play" functionality.</p>
                        <p style="text-align: left;">The truth, however, is that the vast majority of makes &amp; models will still require a professional installation.</p>
                        <p style="text-align: left;">Also, the potential risks of diagnostic port misuse such as remote hacking and immobilisation of company cars and commercial vans mean that it is likely that in the future vehicle manufacturers will disable OBD data access while the vehicle is moving.</p>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-obds-self-install-myth.jpg")" alt="masternaut obd device" />
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
