﻿
@{
    ViewBag.Title = ResponseMessages.paperlessbymasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap paperless goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">Paperless</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.paperlessbymasternaut</h1>
            <p><span style="font-weight: 400;">Passez au numérique avec le processus sur le terrain!</span></p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Votre entreprise a-t-elle toujours recours à des processus papier pour les travailleurs mobiles? Voyez comment vous pouvez facilement passer à des formulaires numériques sur une plate-forme mobile et améliorer la productivité de votre personnel.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">




        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="digitise-your-paperforms-in-no-time-">Numérisez vos formulaires en un rien de temps!</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Comment ça marche :</p>
                        <ul>
                            <li style="text-align: left;">Vous reproduisez vos formulaires à l'écran à l'aide de champs de saisie simples tels que des choix de date, des menus déroulants, des cases à cocher.</li>
                            <li style="text-align: left;">Votre personnel mobile installe l'application Paperless sur son smartphone ou sa tablette.  Quand il se connecte, il voit les formulaires et les tâches correspondantes</li>
                            <li style="text-align: left;">Les données deviennent disponibles dès qu'un travailleur complète un formulaire sur son périphérique.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">

                    <img src="@Url.Content("~/Content/images/masternaut-paperless-cycle.jpg")" alt="masternaut-paperless-cycle" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">

                    <img src="@Url.Content("~/Content/images/masternaut-paperless-field-worker.jpg")" alt="masternaut-paperless-field-worker" />

                </div>                
                <div class="block-text right">
                    <h2 id="boost-your-field-operations">Boostez vos opérations sur le terrain</h2>
                    <div class="body-text">
                        <p style="text-align: left;">En utilisant notre interface de programmation d'application (API) flexible, vous pouvez:</p>
                        <ul>
                            <li style="text-align: left;">attribuer des tâches via votre système de gestion des tâches habituel et envoyez-les directement à l'écran du travailleur.</li>
                            <li style="text-align: left;">Obtenir une visibilité en temps réel de vos travaux et collecter les données correspondantes au fur et à mesure que vos travailleurs terminent des travaux sur le terrain.</li>                           
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="richer-and-more-reliable-data">Des données plus riches et plus fiables</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Les formulaires numériques vous permettent de collecter des données plus riches et plus fiables sur le terrain:
                        </p>
                        <ul>
                            <li style="text-align: left;">Recueillez des supports tels que des images annotées, des vidéos, des codes à barres, etc.
                            </li>
                            <li style="text-align: left;">Utilisez des listes préremplies et la validation des données pour éviter les erreurs de saisie.</li>
                            <li style="text-align: left;">Ne perdez plus jamais de formulaire! Paperless stocke en toute sécurité vos formulaires et vos données dans le cloud.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-paperless-media.png")" alt="masternaut-paperless-medi" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">

                    <img src="@Url.Content("~/Content/images/masternaut-catalytix-support.jpg")" alt="masternaut-catalytix-support" />

                </div>
                <div class="block-text right">
                    <h2 id="we-help-you-implement">Nous vous aidons à mettre en œuvre</h2>
                    <div class="body-text">
                        <p> Nos consultants concevront et mettront en œuvre votre système sans papier:</p>
                        <ul>
                            <li>Analyser les formulaires papier, les systèmes et les processus existants et concevoir une solution </li>
                            <li>Mise en œuvre de la solution, y compris la mise en place de formulaires numériques, de règles et de rapports PDF, et assistance à l'intégration dans votre système informatique</li>
                            <li>Formation sur les nouveaux processus pour assurer une transition en douceur vers le nouveau système</li>
                            <li>Évaluer les résultats des changements et fournir des plans d'amélioration</li>
                            <li>Superviser l'ensemble du processus, y compris la planification, les tâches et les réunions de revue</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

