﻿
@{
    ViewBag.Title = ResponseMessages.paperlessbymasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap paperless goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">Paperless</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.paperlessbymasternaut</h1>
            <p><span style="font-weight: 400;">Ga digitaal met veldwerkstroom!</span></p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>


    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Blijven uw bedrijven nog steeds vertrouwen op papieren processen voor mobiele werknemers? Ontdek hoe u gemakkelijk kunt overschakelen naar digitale formulieren op een mobiel platform en de productiviteit van uw medewerkers kunt verhogen.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">




        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="digitise-your-paperforms-in-no-time-">Digitaliseer uw papieren formulieren in een mum van tijd! </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Hoe het werkt:</p>
                        <ul>
                            <li style="text-align: left;">U kunt uw formulieren op het scherm reproduceren met behulp van eenvoudige invoervelden zoals datumselectoren, vervolgkeuzemenu's, keuzerondjes en selectievakjes</li>
                            <li style="text-align: left;">Uw mobiele medewerkers installeren de Paperless-app op hun smartphones of tablets; wanneer ze inloggen, zien ze relevante formulieren en taakopdrachten</li>
                            <li style="text-align: left;">Gegevens worden beschikbaar zodra een werknemer elk formulier op zijn apparaat invult</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">

                    <img src="@Url.Content("~/Content/images/masternaut-paperless-cycle.jpg")" alt="masternaut-paperless-cycle" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">

                    <img src="@Url.Content("~/Content/images/masternaut-paperless-field-worker.jpg")" alt="masternaut-paperless-field-worker" />

                </div>                
                <div class="block-text right">
                    <h2 id="boost-your-field-operations">Boost je veldactiviteiten</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Met onze flexibele Application Programming Interface (API) kunt u:</p>
                        <ul>
                            <li style="text-align: left;">Wijs taken toe via uw gebruikelijke systeem voor taakbeheer en stuur ze rechtstreeks naar het scherm van de medewerker</li>
                            <li style="text-align: left;">Krijg real-time zichtbaarheid van uw taken en verzamel overeenkomstige gegevens terwijl uw werknemers taken in het veld voltooie</li>
                            <li style="text-align: left;">Versnel informatiestromen door digitale formulieren aan te sluiten op uw bestaande field service management en andere zakelijke applicaties</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="richer-and-more-reliable-data">Rijkere en meer betrouwbare gegevens</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Met digitale formulieren kunt u rijkere en betrouwbaardere gegevens uit het veld verzamelen:</p>
                        <ul>
                            <li style="text-align: left;">Verzamel media zoals geannoteerde foto's, video's, barcodes, etc.</li>
                            <li style="text-align: left;">Gebruik vooraf ingestelde lijsten en gegevensvalidatie om invoerfouten te voorkomen.</li>
                            <li style="text-align: left;">Verlies nooit meer een formulier! Paperless slaat uw formulieren en gegevens veilig op in de cloud.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-paperless-media.png")" alt="masternaut-paperless-medi" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">

                    <img src="@Url.Content("~/Content/images/masternaut-catalytix-support.jpg")" alt="masternaut-catalytix-support" />

                </div>
                <div class="block-text right">
                    <h2 id="we-help-you-implement">Wij helpen u implementeren</h2>
                    <div class="body-text">
                        <p>Onze Catalytix-consultants zullen uw Paperless-systeem ontwerpen en implementeren:</p>
                        <ul>
                            <li>Analysing existing paper forms, systems and processes, and designing a solution</li>
                            <li>Analyse van bestaande papieren formulieren, systemen en processen en ontwerpen van een oplossing</li>
                            <li>Implementatie van de oplossing, inclusief het opzetten van digitale formulieren, regels en PDF-rapporten, en helpen bij integratie in uw IT</li>
                            <li>Training over de nieuwe processen om een ​​soepele overgang naar het nieuwe systeem te garanderen</li>
                            <li>De resultaten van de veranderingen beoordelen en verbeteringsplannen opstellen</li>
                            <li>Toezicht houden op het hele proces, inclusief planning, taken en beoordelingsgesprekken.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

