﻿
@{
    ViewBag.Title = ResponseMessages.paperlessbymasternaut;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap paperless goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">Paperless</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.paperlessbymasternaut</h1>
            <p><span style="font-weight: 400;">Go digital with field workflows!</span></p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>

    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Does your businesses still rely on paper-based processes for mobile workers? See how you can easily shift to digital forms on a mobile platform and boost your workforce productivity.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">

            <div class="inner">
                <div class="block-text left">
                    <h2 id="digitise-your-paperforms-in-no-time-">Digitise your paperforms in no time! </h2>
                    <div class="body-text">
                        <p style="text-align: left;">How it works:</p>
                        <ul>
                            <li style="text-align: left;">You reproduce your forms onscreen using simple input fields like date selectors, dropdowns, radio buttons and checkboxes</li>
                            <li style="text-align: left;">Your mobile workforce installs the Paperless app on their smartphones or tablets; when they log in, they see relevant forms and job assignments</li>
                            <li style="text-align: left;">Data becomes available to you as soon as a worker completes any form on their device</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">                    
                    <img src="@Url.Content("~/Content/images/masternaut-paperless-cycle.jpg")" alt="masternaut-paperless-cycle" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    
                    <img src="@Url.Content("~/Content/images/masternaut-paperless-field-worker.jpg")" alt="masternaut-paperless-field-worker" />

                </div>                <div class="block-text right">
                    <h2 id="boost-your-field-operations">Boost your field operations</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Using our flexible Application Programming Interface (API), you are able to:</p>
                        <ul>
                            <li style="text-align: left;">Assign jobs through your usual job management system and send them straight to the worker's screen</li>
                            <li style="text-align: left;">Get real-time visibility of your jobs and collect corresponding data as your workers complete jobs in the field</li>
                            <li style="text-align: left;">Speed up information flows by connecting digital forms into your existing field service management and other business applications</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="richer-and-more-reliable-data">Richer and more reliable data</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Digital forms allow you to collect richer and more reliable data from the field:</p>
                        <ul>
                            <li style="text-align: left;">Collect media such as annotated pictures, videos, barcodes, etc.</li>
                            <li style="text-align: left;">Use prepopulated lists and data validation to avoid input errors.</li>
                            <li style="text-align: left;">Never lose a form again! Paperless securely stores your forms and data in the cloud.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">                    
                    <img src="@Url.Content("~/Content/images/masternaut-paperless-media.png")" alt="masternaut-paperless-medi" />

                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="6">
            <div class="inner">
                <div class="block-img left">
                    
                    <img src="@Url.Content("~/Content/images/masternaut-catalytix-support.jpg")" alt="masternaut-catalytix-support" />

                </div>                
                <div class="block-text right">
                    <h2 id="we-help-you-implement">We help you implement</h2>
                    <div class="body-text">
                        <p>Our Catalytix consultants will design and implement your Paperless system:</p>
                        <ul>
                            <li>Analysing existing paper forms, systems and processes, and designing a solution</li>
                            <li>Implementing the solution, including the set up of digital forms, rules and PDF reports, and assisting with integration into your IT</li>
                            <li>Training on the new processes to ensure a smooth transition to the new system</li>
                            <li>Assessing the results of the changes and providing improvement plans</li>
                            <li>Overseeing the whole process, including planning, tasks and review meetings.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>

