﻿
@{
    ViewBag.Title = ResponseMessages.PartnerOffers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap partner-offers logopage customers">

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <h1>@ResponseMessages.PartnerOffers</h1>
                    <div class="body-text">
                        <p><span style="color: #00447b;"><span style="font-size: 18.6667px;">@ResponseMessages.PartnerOffersDesc</span></span></p>
                    </div>
                    <div class="logos">
                        <div class="inner">
                            <ul>
                                <li class="logo">
                                    <a href="#" class="logo-img" style="background-image: url(@Url.Content("~/Content/Images/Partner/citroen-logo-partner.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="#" class="logo-img" style="background-image: url(@Url.Content("~/Content/Images/Partner/ds-logo-partner.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="#" class="logo-img" style="background-image: url(@Url.Content("~/Content/Images/Partner/opel-logo-fr-partner.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="#" class="logo-img" style="background-image: url(@Url.Content("~/Content/Images/Partner/peugeot-logo-partner.png"));"></a>
                                </li>
                                <li class="logo">
                                    <a href="#" class="logo-img" style="background-image: url(@Url.Content("~/Content/Images/Partner/vauxhall-logo-partner.png"));"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


