﻿@{
    ViewBag.Title = ResponseMessages.ProfessionalServices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap vehicle--fleet-tracking goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ProfessionalServices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.ProfessionalServices</h1>
            <p>Use our expertise to maximise your ROI</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut’s Professional Services team will maximise your return on investment in telematics. Whether you’re taking your first steps, or you’re looking for further return on your investment, we can help make your Masternaut journey smarter.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">


        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="locate">
                        smarter users
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Let us be one of the team. Our experienced team members allow you to have your very own telematics expert, providing a range of training and concierge services.</p><br />
                        <ul>
                            <li style="text-align: left;">Webinars: the quick, easy and convenient option</li>
                            <li style="text-align: left;">On site training: bespoke, face to face and with an industry expert</li>
                            <li style="text-align: left;">PRINCE2 qualified Project Managers to take on your deployment using their years of industry knowledge.</li>
                            <li style="text-align: left;">Bespoke hierarchy design services, reporting support and much more.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-users.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-results.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="take-action-in-real-time">Smarter results</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Achieve more, faster, and prove it. Whether your goal is to cut costs, improve safety or reduce your emissions, we can help you boost your results and prove your success.</p><br />
                        <ul>
                            <li style="text-align: left;">Benchmark and profile Driver Behaviour changes</li>
                            <li style="text-align: left;">Prove savings and return on investment</li>
                            <li style="text-align: left;">In-depth fleet analysis</li>
                            <li style="text-align: left;">Detailed custom reporting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-connections.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="optimise">
                        Smarter connections
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Integrate Masternaut with your systems.  Our expert team is here to help and advise on what and how to establish smarter connections with a large variety of third party solutions:</p>
                        <p style="text-align: left;"><strong>ERP system </strong>- provide real-time ETA alerting</p><br />
                        <ul>
                            <li style="text-align: left;"><strong>Payroll</strong>- receive business/private mileage information straight into your payroll system</li>
                            <li style="text-align: left;"><strong>CRM system</strong>- confirm delivery times automatically</li>
                            <li style="text-align: left;"><strong>HR</strong>- keep only one database of employees & mirror it on Connect</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

