﻿@{
    ViewBag.Title = ResponseMessages.ProfessionalServices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap vehicle--fleet-tracking goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ProfessionalServices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>Professionele diensten</h1>
            <p>Gebruik onze expertise om uw ROI te maximaliseren</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Masternaut's Professional Services team zal uw rendement op investeringen in telematica maximaliseren. Of u nu uw eerste stappen uitvoert, of op zoek bent naar meer rendement op uw investering, wij kunnen u helpen uw Masternautrit slimmer te maken.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">


        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="locate">
                        Bijdehand gebruikers
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Laat ons deel van het team maken. Onze ervaren team leden laten u toe uw eigen telematie-expert te hebben, d.m.v. een reeks opleidingen en naverkoopdiensten.</p><br />
                        <ul>
                            <li style="text-align: left;">Web-gericht : de snel, eenvoudig en geschiktste optie</li>
                            <li style="text-align: left;">On-site opleiding : op maat, oog in oog met een bedrijfsexpert</li>
                            <li style="text-align: left;">PRINCE2 gekwalificeerde Project Managers om uw implementatie op te nemen door het gebruik van hun jarenlange ervaren kennis van de industrie</li>
                            <li style="text-align: left;">Op maat hiërarchie van diensten, reporting ondersteuning enzovoort</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-users.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-results.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="take-action-in-real-time">Bijdehand resultaten</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Bereik meer, sneller en bewijs het. Of uw doel is om kosten te besparen, de veiligheid te verbeteren of uw uitstoot te verminderen, wij kunnen u helpen uw resultaten te stimuleren en uw succes te bewijzen.</p><br />
                        <ul>
                            <li style="text-align: left;">Criteria en rijgedrag veranderingen</li>
                            <li style="text-align: left;">Bewezen besparingen van investeringskosten</li>
                            <li style="text-align: left;">Grondig vloot analyse</li>
                            <li style="text-align: left;">Gedetailleerd en gepersonaliseerde reporting</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-connections.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="optimise">
                        Slimmere connecties
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Voeg Masternaut aan uw systemen toe. Onze team van experten zijn daar om u te helpen en u advies te geven over wat en hoe slimmere connecties te maken tussen verschillende oplossingen:</p>
                        <p style="text-align: left;"><strong>ERP system </strong> - evert real-time ETA waarschuwingen</p><br />
                        <ul>
                            <li style="text-align: left;"><strong>ERP system </strong>- ontvang business/privé kilometerstanden in uw loonlijstsysteem</li>
                            <li style="text-align: left;"><strong>CRM system</strong>- automatisch-bevestigde levertijden</li>
                            <li style="text-align: left;"><strong>Personeelszaken </strong>-  bewaar één databank van uw werknemers en spiegel het op Connect</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

