﻿@{
    ViewBag.Title = ResponseMessages.ProfessionalServices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap vehicle--fleet-tracking goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">ProfessionalServices
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.ProfessionalServices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>Professionele services</h1>
            <p>Utilisez notre expertise pour maximiser votre retour sur investissement </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">L'équipe des services professionnels de Masternaut maximisera votre retour sur investissement en télématique. Que vous fassiez vos premiers pas ou que vous recherchiez un meilleur retour sur investissement, nous pouvons vous aider à rendre votre Masternautrit plus intelligent.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">


        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="locate">
                        Utilisateurs intuitifs
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Laissez-nous vous aider. Nos équipes qualifiées vous permettent d’avoir votre propre expert en télématie à travers des formations et le service après-vente.</p><br />
                        <ul>
                            <li style="text-align: left;">Orienté Web : rapide, simple et solution la mieux adaptée à vos besoins</li>
                            <li style="text-align: left;">Formation par internet : sur mesure, en tête-à-tête avec un expert industriel</li>
                            <li style="text-align: left;">PRINCE2 ,des Project Managers qualifiés pour vous donner un coup de pouce dans l’utilisation à travers leur connaissances de l’industrie</li>
                            <li style="text-align: left;">Hiérarchie sur mesure de votre société ; soutien du reporting etc.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-users.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/smarter-results.jpg")" />
                </div>
                <div class="block-text right">
                    <h2 id="take-action-in-real-time">Resultats intuitifs</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Optenez plus, plus rapidement et prouvez-le. Que votre but soit de faire des économies, d’améliorer la sécurité ou de diminuer les émissions de carburant, nous pouvons vous aider à ameliorer vos résultats et prouver votre succès.</p><br />
                        <ul>
                            <li style="text-align: left;">Changement de critères comportementaux</li>
                            <li style="text-align: left;">Economies prouvées en matière de frais d’investissement</li>
                            <li style="text-align: left;">Analyse approfondie de la flotte</li>
                            <li style="text-align: left;">Reporting détaillé et personnalisé</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="5">
            <div class="inner">
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/smarter-connections.jpg")" />
                </div>
                <div class="block-text left">
                    <h2 id="optimise">
                        Connections plus intuitives
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">Ajoutez Masternaut à vos systèmes. Notre équipe d’experts sont là pour vous aider et vous conseiller dans l’utilisation des différentes solutions en matière de connections :</p>
                        <p style="text-align: left;"><strong>Système ERP </strong> - permet des alertes ETA en temps réel</p><br />
                        <ul>
                            <li style="text-align: left;"><strong>Paie  </strong>- recevez des relevés kilométriques business/ privé dans vos bases de données de paie</li>
                            <li style="text-align: left;"><strong>Système  system</strong>-  temps de livraison délivrés automatiquement</li>
                            <li style="text-align: left;"><strong>RH </strong>-  conservez une seule base de données concernant vos collaborateurs et migrez les sur Connect</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

