﻿
@{
    ViewBag.Title = ResponseMessages.systemIntegration;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap systems-integration goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.systemIntegration</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.systemIntegration</h1>
            <p>Het voordeel: een naadloos verbonden bedrijf.</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Schakel uw digitale transformatie in door Masternaut Connect te koppelen aan uw ERP-, CRM- en HRIS-systemen.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="connect">Connecteren</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Ons gebruiksvriendelijke platform Masternaut Connect is gemaakt om met de rest van uw bedrijf te werken.</p>
                        <ul>
                            <li style="text-align: left;">Eenvoudig in gebruik - intuïtieve, soepele gebruikerservaring</li>
                            <li style="text-align: left;">Op schaal gebouwd - Krachtig platform en API van de vierde generatie</li>
                            <li style="text-align: left;">Veilig - Hoogste beveiligingsnormen in overeenstemming met EU-regelgeving</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-connect-icon-white.png")" alt="masternaut-connect-icon-white" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/masternaut-systems-integration-communicate.jpg")" alt="" />

                </div>              
                <div class="block-text right">
                    <h2 id="communicate">Communiceren</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Onze flexibele Application Programming Interface (API) integreert en communiceert gemakkelijk met de volgende systemen.</p>
                        <ul>
                            <li style="text-align: left;">ERP-systemen</li>
                            <li style="text-align: left;">Facturatie en financiën</li>
                            <li style="text-align: left;">Klantenservice en CRM</li>
                            <li style="text-align: left;">Transport en logistiek HR informatiesystemen (HRIS)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="contribute">Bijdragen</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Gebruik onze API om met andere afdelingen samen te werken, uw bijdrage te vergroten en een impact te maken die het proces soepel laat verlopen. Stel je voor dat je de punten verbindt.</p>
                        <ul>
                            <li style="text-align: left;">Controleer de fysieke locatie van voertuigen via ERP</li>
                            <li style="text-align: left;">Voeg kilometerkosten en overuren rechtstreeks toe aan het salarissysteem</li>
                            <li style="text-align: left;">Synchroniseer voertuig- en werknemersdatabases</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-system-integration-contribute.jpg")" alt="" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

