﻿
@{
    ViewBag.Title = ResponseMessages.systemIntegration; 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap systems-integration goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.systemIntegration</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.systemIntegration</h1>
            <p>L’avantage : une entreprise parfaitement connectée</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Facilitez votre transformation digitale en intégrant Masternaut Connect à vos systèmes ERP, CRM et SIRH.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="connect">Connecter</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Simple d'utilisation, notre plate-forme Masternaut Connect est compatible avec tous vos systèmes.</p>
                        <ul>
                            <li style="text-align: left;">Simplicité d’utilisation : Une expérience utilisateur rapide et intuitive.</li>
                            <li style="text-align: left;">Scalabilité : Plate-forme modulaire de quatrième génération et ouverte via API.</li>
                            <li style="text-align: left;">Sécurité : Conforme aux normes de sécurité les plus strictes de la législation en UE.</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-connect-icon-white.png")" alt="masternaut-connect-icon-white" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/masternaut-systems-integration-communicate.jpg")" alt="" />

                </div>               
                <div class="block-text right">
                    <h2 id="communicate">Communiquer</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Notre interface de programmation d’application (API) standard s’intègre facilement avec les applications suivantes.</p>
                        <ul>
                            <li style="text-align: left;">ERP</li>
                            <li style="text-align: left;">Facturation et comptabilité</li>
                            <li style="text-align: left;">Service client et CRM</li>
                            <li style="text-align: left;">SIRH</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="contribute">Participer</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Exploitez notre API pour collaborer avec d’autres départements, contribuer à leur réussite et simplifier les processus transversaux. Et si vos applications formaient un tout connecté ?</p>
                        <ul>
                            <li style="text-align: left;">Géolocalisez vos véhicules via ERP</li>
                            <li style="text-align: left;">Envoyez les frais de déplacement et les heures supplémentaires automatiquement dans votre système de gestion de paie</li>
                            <li style="text-align: left;">Synchronisez les bases des véhicules et des employés</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-system-integration-contribute.jpg")" alt="" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

