﻿
@{
    ViewBag.Title = ResponseMessages.systemIntegration;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-wrap systems-integration goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">

        <div class="inner">
            <nav class="breadcrumb-block">
                <a href="@Url.Action("Index","Default")" class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.systemIntegration</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>


        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.systemIntegration</h1>
            <p>The Advantage: A seamlessly connected business</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">Enable your digital transformation by linking Masternaut Connect with your ERP, CRM and HRIS systems.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <main class="main-blocks">
        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="connect">Connect</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Our user-friendly platform Masternaut Connect was created to work with the rest of your business.</p>
                        <ul>
                            <li style="text-align: left;">Easy to use - Intuitive, smooth user experience</li>
                            <li style="text-align: left;">Built to scale - Powerful fourth-generation platform and API</li>
                            <li style="text-align: left;">Secure - Highest security standards compliant with EU regulations</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>

                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})"  class="btn-primary large alt">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-connect-icon-white.png")" alt="masternaut-connect-icon-white" />
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/images/masternaut-systems-integration-communicate.jpg")" alt="" />

                </div>                <div class="block-text right">
                    <h2 id="communicate">Communicate</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Our flexible Application Programming Interface (API) integrates and communicates easily with the following systems.</p>
                        <ul>
                            <li style="text-align: left;">ERP systems</li>
                            <li style="text-align: left;">Invoicing and finance</li>
                            <li style="text-align: left;">Customer service and CRM</li>
                            <li style="text-align: left;">Transport and logistics HR Information Systems (HRIS)</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-block animated-content-block m-green" data-waypoint="5">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="contribute">Contribute</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Use our API to work with other departments, increase your contribution and make an impact that smooths process. Imagine connecting the dots.</p>
                        <ul>
                            <li style="text-align: left;">Check the physical location of vehicles via ERP</li>
                            <li style="text-align: left;">Add mileage expenses and overtime directly into the payroll system</li>
                            <li style="text-align: left;">Sync vehicle and employee databases</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/images/masternaut-system-integration-contribute.jpg")" alt="" />

                </div>
            </div>

        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>
