﻿@{
    ViewBag.Title = ResponseMessages.TelematicsDevices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap telematics-devices productlistpage products">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                Boîtiers télématiques embarqués
            </h1>
            <p>L'avantage : des données exactes.</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <p>
                        <span style="font-size: 14pt;">
                    <p>L'avantage: des données précises Les informations percutantes commencent par des données précises. Nos dispositifs télématiques sont robustes et testés de manière approfondie afin que vous puissiez recevoir des informations fiables de vos véhicules.</p>
                    </span>
                    </p>
                </div>

            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-green" data-waypoint="2">
            <div class="inner">
                <h4 id="can-bus-clip">Pinces CAN Bus</h4>
                <div class="body-text">
                    <p style="text-align: left;">
                        Notre dispositif de bus CAN non intrusif lit les données de manière précise et fiable à partir de l'ordinateur du véhicule afin que vous puissiez obtenir les données dont vous avez besoin.
                    </p>
                    <ul>
                        <li style="text-align: left;">
                            <strong>
                                <span style="color: #051e41;">
                                    Mesurer la vitesse, la consommation de carburant et le kilométrage
                                </span>
                            </strong>
                        </li>
                        <li style="text-align: left;">
                            <strong>
                                <span style="color: #051e41;">
                                    Trace la vitesse, l'accélération et le freinage
                                </span>
                            </strong>
                        </li>
                        <li style="text-align: left;">
                            <strong>
                                <span style="color: #051e41;">
                                    Identifier le dépassement et la marche au ralenti
                                </span>
                            </strong>
                        </li>
                    </ul>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="in-cab-coaching">
                        Coaching à l'intérieur du véhicule
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">
                            Encouragez un comportement de conduite plus sûr et plus fluide et limitez le contrôle de gestion. Il a été prouvé que cet appareil offre des avantages considérables par rapport aux scores et aux retours réguliers des conducteurs.
                        </p>
                        <ul>
                            <li>
                                <span class="tick">
                                    Réduire la vitesse de 53%
                                </span>
                            </li>
                            <li>
                                <span class="tick">
                                    Réduire les événements difficiles
                                </span>
                            </li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-in-cab-coach.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/self-instal-masternaut-uk.png")" />
                </div>                <div class="block-text right">
                    <h2 id="self-install-telematics">
                        Télématique à installer soi-même
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">
                            Développez le suivi des véhicules au-delà de votre flotte permanente en déployant cet appareil «prêt à l'emploi» en quelques minutes. Notre dispositif d'installation automatique est idéal pour les embauches à court terme et les flottes grises, car il n'est pas nécessaire de recourir à une installation professionnelle.
                        </p>
                        <ul>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Aucune installation professionnelle requise
                                </span>
                            </li>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Se fixe simplement au pare-brise
                                </span>
                            </li>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Facile à enlever et à réutiliser dans d'autres véhicules
                                </span>
                            </li>
                        </ul>
                    </div>
                    @*<ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large standard green">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="5">
            <div class="inner">
                <h4 id="obd-device">
                    Dispositif OBD
                </h4>
                <div class="body-text">
                    <p style="text-align: center;">
                        Nous proposons des dispositifs OBD comme alternative au suivi et à la traçabilité matériels, en fonction de vos besoins. Bien que nous recommandions généralement les périphériques de bus CAN, nous pouvons discuter de vos options et trouver une solution sur mesure pour votre entreprise.
                    </p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("obd-devices","all-solutions")" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
