﻿@{
    ViewBag.Title = ResponseMessages.TelematicsDevices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap telematics-devices productlistpage products">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.TelematicsDevices</h1>
            <p>Het voordeel : nauwkerige gegevens </p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <p>
                        <span style="font-size: 14pt;">
                            Impactvolle inzichten beginnen met nauwkeurige gegevens.
                            Onze telematicatoestellen zijn robuust en grondig getest, zodat u betrouwbare informatie van uw voertuigen kunt ontvangen.
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-green" data-waypoint="2">
            <div class="inner">
                <h4 id="can-bus-clip">CAN Bus Klemmen</h4>
                <div class="body-text">
                    <p style="text-align: left;">Ons niet-intrusieve CAN-busapparaat leest gegevens nauwkeurig en betrouwbaar uit vanaf de computer van het voertuig, zodat u de gegevens kunt krijgen die u nodig hebt om te leiden.</p>
                    <ul>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Meet de snelheid, brandstofverbruik en kilometerstand</span></strong></li>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Traceer de snelheid, versnelling en remmen</span></strong></li>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Identificeer over-toeren en stationair draaien</span></strong></li>
                    </ul>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="in-cab-coaching">Coaching binnenin het voertuig</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Stimuleer een veiliger en soepeler rijgedrag en beperk de controle over het management. Het is bewezen dat dit apparaat aanzienlijke voordelen biedt in vergelijking met scores van chauffeurs en regelmatige feedback.</p>
                        <ul>
                            <li><span class="tick">Snelheid verminderen met 53%</span></li>
                            <li><span class="tick">Verminder moeilijke gebeurtenissen</span></li>
                            <li><span class="tick">Verminder brandstofverbruik</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-in-cab-coach.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/self-instal-masternaut-uk.png")" />
                </div>                <div class="block-text right">
                    <h2 id="self-install-telematics">
                        Zelf-installatie telematica
                    </h2>
                    <div class="body-text">
                        <p style="text-align: left;">
                            Vergroot het volgen van voertuigen buiten uw permanente vloot door dit ""uit de doos"" -apparaat in enkele minuten in te zetten. Ons zelfinstallatieapparaat is ideaal voor korte-termijnaannemers en grijze wagenparken, omdat er geen professionele installatie nodig is.
                        </p>
                        <ul>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Geen professionele installatie vereist

                                </span>
                            </li>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Bevestigt eenvoudig aan de voorruit

                                </span>
                            </li>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Eenvoudig te verwijderen en opnieuw te gebruiken in andere voertuigen
                                </span>
                            </li>
                            <li style="text-align: left;">
                                <span class="tick">
                                    Zelf-installatie telematica

                                </span>
                            </li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="5">
            <div class="inner">
                <h4 id="obd-device">OBD-apparaat</h4>
                <div class="body-text">
                    <p style="text-align: center;">We bieden OBD apparaten aan als een alternatief voor hardware tracking en tracing, afhankelijk van uw vereisten. Hoewel we over het algemeen CAN-busapparaten aanbevelen, kunnen we uw opties bespreken en een oplossing op maat voor uw bedrijf vinden.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("obd-devices","all-solutions")" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

