﻿@{
    ViewBag.Title = ResponseMessages.TelematicsDevices;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap telematics-devices productlistpage products">
    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.TelematicsDevices</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>
        <div class="inner-banner banner-text">
            <h1>
                @ResponseMessages.TelematicsDevices
            </h1>
            <p>The Advantage: Accurate data.</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <main>
        <div class="page-content">
            <div class="inner">
                <div class="body-text">
                    <p><span style="font-size: 14pt;">Begin uncovering insights. Our telematics devices are robust and rigorously tested so you can receive reliable information from your vehicles.</span></p>
                </div>

            </div>
        </div>
    </main>
    <main class="main-blocks">
        <div class="content-block double-content-block m-green" data-waypoint="2">
            <div class="inner">
                <h4 id="can-bus-clip">CAN bus clip</h4>
                <div class="body-text">
                    <p style="text-align: left;">Our non-intrusive CAN bus device reads data straight from the vehicle’s computer so you can get the data you need to lead.</p>
                    <ul>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Measure MPG, fuel consumption and mileage</span></strong></li>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Track speed, acceleration and braking</span></strong></li>
                        <li style="text-align: left;"><strong><span style="color: #051e41;">Identify over-revving and idling</span></strong></li>
                    </ul>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block animated-content-block m-navy" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="in-cab-coaching">In-cab coaching</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Encourage safer and smoother driving behaviour while reducing managerial control. This device is proven to add significant benefits compared to driver scores and regular feedback only.</p>
                        <ul>
                            <li><span class="tick">Reduce speeding by 53%</span></li>
                            <li><span class="tick">Reduce harsh events</span></li>
                            <li><span class="tick">Reduce fuel waste</span></li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-in-cab-coach.jpg")" />
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="4">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/self-instal-masternaut-uk.png")" />
                </div>                <div class="block-text right">
                    <h2 id="self-install-telematics">Self-install telematics</h2>
                    <div class="body-text">
                        <p style="text-align: left;">Expand vehicle tracking beyond your permanent fleet by deploying this “out of the box” device in minutes. Our self-install device is ideal for short-term hires and grey fleets as there is no need for a professional installation.</p>
                        <ul>
                            <li style="text-align: left;"><span class="tick">No professional installation required</span></li>
                            <li style="text-align: left;"><span class="tick">Simply attaches to the windscreen</span></li>
                            <li style="text-align: left;"><span class="tick">Easy to remove and re-use in other vehicles</span></li>
                        </ul>
                    </div>
                    @*<ul class="btns">
                        <li>
                            <a href="#" class="btn-primary large standard green">
                                Self-install telematics
                            </a>
                        </li>
                    </ul>*@
                </div>
            </div>
        </div>
        <div class="content-block double-content-block m-green" data-waypoint="5">
            <div class="inner">
                <h4 id="obd-device">OBD device</h4>
                <div class="body-text">
                    <p style="text-align: center;">We offer OBD as a hardware alternative for basic tracking and tracing depending on your requirements. While we generally recommend CAN bus devices, we can discuss your options and find a tailored solution for your business.</p>
                </div>				<div class="content-left">
                    <div class="content-text body-text">

                    </div>
                </div>
                <div class="content-right">
                    <div class="content-text body-text">

                    </div>
                </div>
                <ul class="btns">
                    <li>
                        <a href="@Url.Action("obd-devices","all-solutions")" class="btn-primary large alt">
                            @ResponseMessages.SeeMore
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block m-white" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>