﻿@{
    ViewBag.Title = ResponseMessages.VehicleTracking;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrap vehicle--fleet-tracking goalspage ">

    <section class="banner-section parallax banner-small m-navy" style="background-image: url(%27/media/66887/new-banner.html);background-position:center center;" data-waypoint="1">
        <div class="inner">
            <nav class="breadcrumb-block">
                <a href=@Url.Action("Index","Default") class="home"><span class="item"><span class="icon-home"></span></span><span class="triangle"></span></a>
                <a href="@Url.Action("view","all-solutions")"><span class="triangle-a"></span><span class="triangle-b"></span><span class="item">@ResponseMessages.AllSolutions</span><span class="triangle"></span></a>
                <span class="current"><span class="line-c"></span><span class="line-d"></span><span class="line-e"></span><span class="line-f"></span><span class="item">@ResponseMessages.VehicleTracking</span><span class="line-a"></span><span class="line-b"></span></span>
            </nav>
        </div>

        <div class="inner-banner banner-text">
            <h1>@ResponseMessages.VehicleTracking</h1>
            <p>@ResponseMessages.VehicleTracking</p>
            <ul class="banner-btns">
                <li>
                    <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary x-large ">
                        @ResponseMessages.GetInTouch
                    </a>
                </li>
                <li>
                    <a href="@Url.RouteUrl("CompanyBrochure")" class="btn-primary x-large ">
                        @ResponseMessages.CompanyBrochure
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <main>
        <div class="inner">
            <div class="page-content">
                <div class="inner">
                    <div class="body-text">
                        <p><span style="font-size: 14pt;">@ResponseMessages.VehicleTrackingTagDesc</span></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <main class="main-blocks">


        <div class="content-block animated-content-block m-green" data-waypoint="3">
            <div class="inner">
                <div class="block-text left">
                    <h2 id="locate">@ResponseMessages.VehicleTracking_Locate</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.VehicleTracking_LocateLine1</p><br />
                        <ul>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_LocateLine2</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_LocateLine3</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_LocateLine4</li>
                        </ul>
                    </div>
                </div>
                <div class="block-img right">
                    <img src="@Url.Content("~/Content/Images/masternaut-vehicle-tracking-on-connect-min.png")" />
                </div>
            </div>
        </div>
        <div class="content-block m-navy" data-waypoint="4">

            <div class="block-text full align-left">
                <div class="inner">

                    <h2 id="manage">@ResponseMessages.VehicleTracking_Manage</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.VehicleTracking_ManageLine1</p><br />
                        <ul>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_ManageLine2</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_ManageLine3</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_ManageLine4</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_ManageLine4</li>
                           
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block animated-content-block m-white" data-waypoint="5">
            <div class="inner">
                <div class="block-img left">
                    <img src="@Url.Content("~/Content/Images/journeys-min.png")" />
                </div>
                <div class="block-text right">
                    <h2 id="optimise">@ResponseMessages.VehicleTracking_Optimise</h2>
                    <div class="body-text">
                        <p style="text-align: left;">@ResponseMessages.VehicleTracking_OptimiseLine1</p>
                        <p style="text-align: left;">@ResponseMessages.VehicleTracking_OptimiseLine2</p><br />
                        <ul>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_OptimiseLine3</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_OptimiseLine4</li>
                            <li style="text-align: left;">@ResponseMessages.VehicleTracking_OptimiseLine5</li>
                        </ul>
                    </div>
                    <ul class="btns">
                        <li>
                            <a href="@Url.RouteUrl("ContactUs",new { type=ContactUsType.Inquiry})" class="btn-primary large ">
                                @ResponseMessages.SeeMore
                            </a>
                        </li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="content-block m-green" data-waypoint="6">
            <div class="block-text full align-center">
                <div class="inner">
                    <h2 id="get-in-touch">@ResponseMessages.GetInTouch</h2>
                    <div class="body-text">
                        <p style="text-align: center;">@ResponseMessages.ConnectWithUsTagline</p>
                        @Html.Partial("_getInTouch", new ContactUsModel())
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>