@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?w9bnbl');
  src:  url('icomoon.eot?w9bnbl#iefix') format('embedded-opentype'),
    url('icomoon.ttf?w9bnbl') format('truetype'),
    url('icomoon.woff?w9bnbl') format('woff'),
    url('icomoon.svg?w9bnbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e912";
}

.icon-analysis:before {
    content: "\e903";
    color: #05477d;
}
.icon-by_industry:before {
    content: "\e904";
    color: #01447b;
}
.icon-by_job_function:before {
    content: "\e905";
    color: #01447b;
}
.icon-case_studies:before {
    content: "\e906";
    color: #01447b;
}
.icon-factory_fit:before {
    content: "\e907";
    color: #01447b;
}
.icon-fleet_management_today:before {
    content: "\e908";
    color: #01447b;
}
.icon-fleet_management_tomorrow:before {
    content: "\e909";
    color: #01447b;
}
.icon-integration_projects:before {
    content: "\e90a";
    color: #01447b;
    position: absolute;
}
.icon-partner_offers:before {
    content: "\e90b";
    color: #01447b;
}
.icon-project_management:before {
    content: "\e90c";
    color: #01447b;
}
.icon-proving_the_business_case:before {
    content: "\e90d";
    color: #01447b;
}
.icon-telematics_devices:before {
    content: "\e90e";
    color: #01447b;
}
.icon-the_smarter_fleet_platform:before {
    content: "\e90f";
    color: #01447b;
}
.icon-training:before {
    content: "\e910";
    color: #01447b;
}
.icon-white_papers:before {
    content: "\e911";
    color: #01447b;
}
.icon-triangle-right:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e942";
}
.icon-quote-right:before {
  content: "\e900";
}
.icon-quote-left:before {
  content: "\e901";
}

.level2 .icon-analysis:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-by_industry:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-by_job_function:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-case_studies:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-factory_fit:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-fleet_management_today:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-fleet_management_tomorrow:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-integration_projects:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-partner_offers:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-project_management:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-proving_the_business_case:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-telematics_devices:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-the_smarter_fleet_platform:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-training:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}
.level2 .icon-white_papers:before {
    position: absolute;
    top: 125px;
    left: 22px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-weight: 300;
    width: 30px;
    height: 30px;
}



.level2.lastLevelClass .icon-analysis:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-by_industry:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-by_job_function:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-case_studies:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-factory_fit:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-fleet_management_today:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-fleet_management_tomorrow:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-integration_projects:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-partner_offers:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-project_management:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-proving_the_business_case:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-telematics_devices:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-the_smarter_fleet_platform:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-training:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}
.level2.lastLevelClass .icon-white_papers:before {
    top: 100px;
    left: 45%;
    margin-left: -15px;
}

.mobile-icon .icon-analysis, .mobile-icon .icon-by_industry, .mobile-icon .icon-by_job_function,
.mobile-icon .icon-case_studies, .mobile-icon .icon-factory_fit, .mobile-icon .icon-fleet_management_today,
.mobile-icon .icon-fleet_management_tomorrow, .mobile-icon .icon-integration_projects,
.mobile-icon .icon-partner_offers, .mobile-icon .icon-project_management, 
.mobile-icon .icon-proving_the_business_case, .mobile-icon .icon-telematics_devices,
.mobile-icon .icon-the_smarter_fleet_platform, .mobile-icon .icon-training, .mobile-icon .icon-white_papers,
.mobile-icon .flag-icon {
    padding-left: 60px !important;
}

.mobile-icon .icon-analysis:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-by_industry:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-by_job_function:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-case_studies:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-factory_fit:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-fleet_management_today:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-fleet_management_tomorrow:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-integration_projects:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-partner_offers:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-project_management:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-proving_the_business_case:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-telematics_devices:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-the_smarter_fleet_platform:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-training:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
.mobile-icon .icon-white_papers:before {
    position: absolute;
    top: 50%;
    margin-top: -13px;
    left: 10px;
    z-index: 20;
    background: white;
    font-size: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}

.icon-plus:before {
    content: "\e914";
}
.icon-tick:before {
    content: "\e915";
}
.icon-dot-single:before {
  content: "\e916";
}