﻿@model UploadImageModel

<style>
    .img-container img.file-crop {
        max-width: 100%;
        max-height: 70vh;
    }
</style>
<div class="form-group">
    <div class="main-img-preview">
        <img class="thumbnail img-preview" id="preview_@Model.hdnImageName" src="@Model.imageUrl" title="Preview Logo">
    </div>
    <div class="input-group">
        <input type="hidden" id="prev_@Model.hdnImageName" />
        <input id="fileFake_@Model.hdnImageName" class="form-control" placeholder="Choose File" disabled="disabled">
        <div class="input-group-btn">
            <div class="fileUpload btn btn-primary">
                <span><i class="icon-upload1"></i>&nbsp;Choose&nbsp;File</span>
                <input id="fileImage_@Model.hdnImageName" name="logo" type="file" class="attachment_upload">
            </div>
        </div>
    </div>
</div>

<div class="modal animated bounce fade text-xs-left" id="Modal_@Model.hdnImageName" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Crop image as per your preference</h4>
            </div>
            <div class="modal-body">
                <div class="img-container" id="dvCrop_@Model.hdnImageName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick='SaveCropedImage(@Html.Raw(Json.Encode(Model.saveFilePath)),@Html.Raw(Json.Encode(Model.hdnImageName)),"@Url.Action("UploadCropImage", "Utility")");'>Save Crop Image</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        var brand = document.getElementById('fileImage_' + @Html.Raw(Json.Encode(Model.hdnImageName)));
        brand.onchange = function () {
            $("#fileFake_" + @Html.Raw(Json.Encode(Model.hdnImageName))).val(this.value.substring(12));
            readURL(this);
        };
        brand.onclick = function () {
            $(this).val('');
        };

        function readURL(input) {
            if (input.files && input.files[0]) {

                var dvCropImage = document.getElementById("dvCrop_" + @Html.Raw(Json.Encode(Model.hdnImageName)));
                dvCropImage.innerHTML = "";

                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = document.createElement("IMG");
                    img.id = "cropimage_" + @Html.Raw(Json.Encode(Model.hdnImageName));
                    img.className = "file-crop";
                    img.src = e.target.result;
                    console.log(img)
                    dvCropImage.appendChild(img);

                };
                reader.readAsDataURL(input.files[0]);

                $("#Modal_" + @Html.Raw(Json.Encode(Model.hdnImageName))).modal({
                    backdrop: 'static',
                    keyboard: false
                }).on('shown.bs.modal',function () {
                        InitilizeImageCrop();
                    });
            }
        }

        function InitilizeImageCrop() {
            $("#loader_" + @Html.Raw(Json.Encode(Model.hdnImageName))).hide()
            $("#cropimage_" + @Html.Raw(Json.Encode(Model.hdnImageName))).cropper({
                autoCropArea: 1,
                //aspectRatio: 1,
                minCropBoxWidth: 200,
                minCropBoxHeight: 200,
                viewMode: 2
            });
        }
    });
</script>

